Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

ENH: Add allow_duplicates to MultiIndex.to_frame (#45318)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_conversion.py
Due: flake8-rst, use-pd_array-in-core

CI: py38 builds (#45454)
  pandas/tests/extension/json/array.py
Due: none

Change development recommended pyenv python version to a supported version (#45531)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, title-capitalization

ENH: Add numba engine to groupby.min/max (#45428)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/conftest.py
  pandas/tests/groupby/test_numba.py
Due: flake8-rst, use-pd_array-in-core

REGR: DataFrame(dict) missing columns should not be views (#45432)
  pandas/core/internals/construction.py
  pandas/tests/frame/test_constructors.py
Due: use-pd_array-in-core

BUG: preserve object-dtype index when accessing DataFrame column / PERF: improve perf of Series fastpath constructor (#42950)
  asv_bench/benchmarks/series_methods.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/series.py
  pandas/tests/frame/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

Rename to main (#45483)
  doc/source/getting_started/comparison/comparison_with_sql.rst
  pandas/_version.py
  pandas/tests/io/test_html.py
Due: flake8-rst

TST: Change test_groupby_copy to apply_mutate.py (#45578)
  pandas/tests/groupby/test_apply_mutate.py
  pandas/tests/groupby/test_groupby.py
Due: none

TST: Disable testing that hangs Azure CI (#45702)
  pandas/tests/io/excel/conftest.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/parser/conftest.py
  pandas/tests/io/test_sql.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
  pandas/util/_test_decorators.py
Due: none

TST: Dynamically use doctest_namespace only if running the doctest (#45667)
  pandas/conftest.py
Due: none

CLN: Remove Python 2 compat in np_datetime.c (#45606)
  pandas/_libs/tslibs/src/datetime/np_datetime.c
Due: none

CI: Use xsel instead of xclip for numpydev (#45576)
  .github/workflows/posix.yml
  pandas/tests/io/test_clipboard.py
Due: none

get_dummies to select string dtype in addition to object and categorical (#45516)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/reshape/reshape.py
  pandas/tests/reshape/test_get_dummies.py
Due: flake8-rst, use-pd_array-in-core

Revert "PERF: nancorr pearson (#42761)" (#45646)
  doc/source/whatsnew/v1.4.1.rst
  pandas/_libs/algos.pyx
  pandas/tests/frame/methods/test_cov_corr.py
Due: flake8-rst

BUG: DataFrameGroupby.transform("size") fails (#45716)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

BUG: ArrayManager indexing mismatched behavior (#45639)
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/methods/test_quantile.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
Due: use-pd_array-in-core

BUG: fix .loc.__setitem__ not raising when using too many indexers (#44656)
  doc/source/whatsnew/v1.5.0.rst
  pandas/conftest.py
  pandas/core/indexing.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, use-pd_array-in-core

CI/TST: Skip another s3 test that can crash GHA worker (#45651)
  .github/workflows/posix.yml
  pandas/tests/base/test_unique.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_user_agent.py
Due: none

TST/CI: Fix numexpr test failing in downstream build (#45707)
  pandas/tests/computation/test_eval.py
Due: none

TST/CI: Mark TestS3 as xfail(strict=False) due to flakiness (#45613)
  pandas/tests/io/parser/test_network.py
Due: none

BUG: Fix joining overlapping IntervalIndex objects (GH-45661) (#45662)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/interval/test_join.py
Due: flake8-rst, use-pd_array-in-core

BUG: frame.shift(axis=1) with ArrayManager (#45644)
  pandas/core/frame.py
  pandas/core/internals/managers.py
  pandas/tests/apply/test_str.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/groupby/transform/test_transform.py
Due: use-pd_array-in-core

REF: share IntegerArray/FloatingArray coerce_to_array (#45596)
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/numeric.py
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/arrays/integer/test_construction.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/methods/test_astype.py
Due: use-pd_array-in-core

DOC: Shared doc string in render methods (#45548)
  pandas/io/formats/style.py
Due: none

BUG: Frame.iat item_cache invalidation bug (#45706)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/frame.py
  pandas/tests/indexing/test_iat.py
Due: flake8-rst, use-pd_array-in-core

CI: Don't split slow vs non slow jobs for GHA posix (#45437)
  .github/workflows/datamanger.yml
  .github/workflows/posix.yml
Due: none

TST: Add @td.skip_if_no_scipy to failing test (#45731)
  pandas/tests/series/methods/test_interpolate.py
Due: none

DOC: Improve pull request template and contributing_codebase.rst (#45709)
  .github/PULL_REQUEST_TEMPLATE.md
  doc/source/development/code_style.rst
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, title-capitalization

REF: avoid upcast/downcast in Block.where (#45582)
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/methods/test_clip.py
Due: use-pd_array-in-core

BUG: Fix window aggregations to skip over unused elements (GH-45647) (#45655)
  doc/source/whatsnew/v1.4.1.rst
  pandas/_libs/window/aggregations.pyx
  pandas/tests/window/test_cython_aggregations.py
Due: flake8-rst

BUG: Do not error on other dbapi2 connections (#45679)
  doc/source/whatsnew/v1.4.1.rst
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst

REF: mask values in loc.__setitem__ with bool indexer (#45501)
  pandas/core/indexing.py
  pandas/core/internals/blocks.py
  pandas/tests/indexing/test_loc.py
Due: use-pd_array-in-core

TST: Use more xfail instead of skip (#45719)
  pandas/tests/apply/test_series_apply.py
  pandas/tests/base/test_misc.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_subclass.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_ujson.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/test_parquet.py
  pandas/tests/resample/test_base.py
  pandas/tests/scalar/test_nat.py
  pandas/tests/series/methods/test_interpolate.py
  pandas/tests/tools/test_to_numeric.py
Due: none

BUG 44011 - use dict as input for "set_table_styles" (#45733)
  pandas/tests/io/formats/style/test_style.py
Due: none

DOC: Fix typo in nth docstring (#45633)
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core

BUG: unnecessary FutureWarning in sort_values (#45668)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/sorting.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/frame/methods/test_sort_values.py
Due: flake8-rst, use-pd_array-in-core

added staircase entry in Domain Specific and Accessors section of pan… (#45636)
  doc/source/ecosystem.rst
Due: flake8-rst

CI: Align downstream build packages with other builds (#45703)
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
Due: none

BUG: frame.mask(foo, bar, inplace=True) with EAs incorrectly raising (#45577)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/extension/base/methods.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
