Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CLN: concat union_indexes now respecting sort keyword (#47588)
  pandas/core/frame.py
Due: use-pd_array-in-core

[DOC] improving the ExcelWriter docstring (#47568)
  pandas/io/excel/_base.py
Due: none

Improve error message for DataFrame.from_dict when wrong orient is provided (#47451)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/frame.py
  pandas/tests/frame/constructors/test_from_dict.py
Due: flake8-rst, use-pd_array-in-core

ENH: TimedeltaArray add/sub with NaT preserve reso (#47522)
  pandas/core/arrays/datetimelike.py
  pandas/tests/arrays/test_timedeltas.py
Due: use-pd_array-in-core

Deprecate non-keyword arguments for rsplit (#47446)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_split_partition.py
Due: flake8-rst, use-pd_array-in-core

TYP: misc (#47509)
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/multi.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: read_csv ignoring non existing header rows for python engine (#47493)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/test_header.py
Due: flake8-rst

DOC: Fix a typo in documentation for styler (#47517)
  doc/source/user_guide/style.ipynb
Due: none

TYP: fix type of level in DataFrame.groupby (#47560)
  pandas/_typing.py
  pandas/core/frame.py
Due: use-pd_array-in-core

BUG: assert_index_equal ignoring names when check_order is false (#47330)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/asserters.py
  pandas/core/indexes/api.py
  pandas/tests/util/test_assert_index_equal.py
Due: flake8-rst, use-pd_array-in-core

BUG: DataFrame.setitem raising when rhs is ea dtype Series (#47425)
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_setitem.py
Due: use-pd_array-in-core

Cache Conda env (#47454)
  .github/actions/build_pandas/action.yml
  .github/actions/setup-conda/action.yml
  .github/workflows/asv-bot.yml
  .github/workflows/code-checks.yml
  .github/workflows/sdist.yml
  .github/workflows/ubuntu.yml
Due: none

Fix signature of initObjToJSON (#47466)
  pandas/_libs/src/ujson/python/ujson.c
Due: none

TYP: Return annotations for io/{formats,json} (#47516)
  pandas/core/frame.py
  pandas/io/formats/console.py
  pandas/io/formats/css.py
  pandas/io/formats/excel.py
  pandas/io/formats/format.py
  pandas/io/formats/html.py
  pandas/io/formats/info.py
  pandas/io/formats/style.py
  pandas/io/json/_json.py
  pandas/io/json/_table_schema.py
Due: use-pd_array-in-core

WEB: Add Telegram to follow us and footer (#47531)
  web/pandas/_templates/layout.html
  web/pandas/index.html
  web/pandas/static/css/pandas.css
Due: none

ENH: DatetimeIndex.indexer_between_time support non-nano (#47535)
  pandas/core/indexes/datetimes.py
  pandas/tests/indexes/datetimes/test_indexing.py
Due: use-pd_array-in-core

ENH: TDA.total_seconds support non-nano (#47421)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/tslibs/test_api.py
Due: use-pd_array-in-core

TYP: misc return type annotations (#47558)
  pandas/__init__.py
  pandas/_config/config.py
  pandas/_testing/__init__.py
  pandas/_testing/_io.py
  pandas/_testing/_random.py
  pandas/_testing/asserters.py
  pandas/_testing/contexts.py
  pandas/compat/__init__.py
  pandas/compat/pickle_compat.py
  pandas/conftest.py
  pandas/io/common.py
  pandas/tests/api/test_api.py
  pandas/tests/util/test_assert_attr_equal.py
  pyright_reportGeneralTypeIssues.json
Due: none

REF: simplify DTA.__init__ (#47574)
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/datetimes/test_constructors.py
Due: use-pd_array-in-core

BUG: DataFrame.loc not aligning rhs df for single block case (#47581)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

Stacklevel argument updated #46687 (#47035)
  pandas/core/generic.py
  pandas/io/json/_json.py
  pandas/io/parsers/readers.py
  pandas/io/sas/sasreader.py
  pandas/io/xml.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/parser/conftest.py
  pandas/util/_decorators.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TYP: NumericDtype._standardize_dtype (#47298)
  pandas/core/arrays/numeric.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

TST: GH 27185 Test to check df with timedelta & Int NA sums correctly (#47354)
  pandas/tests/reductions/test_reductions.py
Due: none

CLN: Move monotonic check to safe_sort_index (#47573)
  pandas/core/indexes/api.py
Due: use-pd_array-in-core

Fix SAS 0x40 control byte handling and column name parsing (#47113)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas.pyx
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/data/0x40controlbyte.csv
  pandas/tests/io/sas/data/0x40controlbyte.sas7bdat
  pandas/tests/io/sas/test_sas7bdat.py
Due: flake8-rst

BUG: Series.setitem losing precision when enlarging (#47342)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexing.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

TYP: _item_cache and _ixs (#47506)
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TST,WARN: read_csv raises warning at wrong stacklevel, but _assert_raised_with_correct_stacklevel doesn't fail (#47387)
  doc/source/whatsnew/v1.4.4.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_common_basic.py
Due: flake8-rst

TYP: more return annotations for io/* (#47524)
  pandas/io/common.py
  pandas/io/date_converters.py
  pandas/io/excel/_base.py
  pandas/io/excel/_openpyxl.py
  pandas/io/feather_format.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
  pandas/io/sas/sas_xport.py
  pandas/io/sql.py
Due: none

BUG: DataFrame.loc not aligning dict when setting to a column (#47361)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

REF: Reduce duplicative methods between XML parser classes (#47553)
  pandas/io/xml.py
Due: none

added link to advanced indexing guide in .loc docstring (#47520)
  pandas/core/indexing.py
Due: use-pd_array-in-core

Bug: GroupBy raising error with None in first level of MultiIndex (#47351)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_groupby.py
Due: flake8-rst, use-pd_array-in-core

ASV: Non-unique DataFrame index (#47551)
  asv_bench/benchmarks/indexing.py
Due: none

DOC: Add an interactive shell powered by JupyterLite to the website (#47428)
  .github/workflows/docbuild-and-upload.yml
  .gitignore
  environment.yml
  requirements-dev.txt
  web/interactive_terminal/README.md
  web/interactive_terminal/jupyter-lite.json
  web/interactive_terminal/jupyter_lite_config.json
  web/pandas/getting_started.md
Due: pip-to-conda, sync-flake8-versions

TYP: read_sas (#47410)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_xport.py
  pandas/io/sas/sasreader.py
  pyright_reportGeneralTypeIssues.json
Due: flake8-rst

Adding testcase for quartile performed on a timestamp column group by ( closes #33168 ) (#47575)
  pandas/tests/groupby/test_quantile.py
Due: none

BUG: Fix issues with numeric_only deprecation (#47481)
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_function.py
Due: use-pd_array-in-core

WARN: Clarify datetime warning when can't parse in accordance with dayfirst (#47528)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/xml/test_xml_dtypes.py
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst

Use license_files instead of license_file (#47572)
  setup.cfg
Due: none
