Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

DOC: clarify to_csv float format docstring (#47436)
  pandas/core/generic.py
  pandas/tests/frame/methods/test_to_csv.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH/TST: Add BaseInterfaceTests tests for ArrowExtensionArray (#47377)
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

REGR: revert behaviour change for concat with empty/all-NaN data (#47372)
  doc/source/whatsnew/v1.4.0.rst
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/dtypes/missing.py
  pandas/core/internals/concat.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/frame/methods/test_append.py
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/merge/test_merge.py
Due: flake8-rst, use-pd_array-in-core

BUG: DateOffset addition preserve non-nano (#47334)
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/tseries/offsets/test_offsets.py
Due: none

BUG: concat not sorting mixed column names when None is included (#47331)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/algorithms.py
  pandas/tests/reshape/concat/test_concat.py
Due: flake8-rst, use-pd_array-in-core

REGR: Fix nan comparison for same Index object (#47326)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_base.py
Due: flake8-rst, use-pd_array-in-core

BUG Avoid IndexError on writing empty (row) MI df to excel (GH19543) (#47111)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_writers.py
Due: flake8-rst

implement abbrev_to_npy_unit (#47395)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
Due: none

REGR: Avoid regression warning with ea dtype and assert_index_equal order False (#47325)
  doc/source/whatsnew/v1.4.3.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_index_equal.py
Due: flake8-rst

REF: Avoid ravel in DTA._format_native_types (#47411)
  pandas/_libs/tslib.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

CLN: Remove .github markdown files (#47412)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
Due: none

annotation, missing test case, perf DTA.mode (#47418)
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/core/arrays/datetimelike.py
  pandas/tests/tslibs/test_tzconversion.py
Due: use-pd_array-in-core

DOC: Start v1.4.4 release notes (#47473)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.4.3.rst
  doc/source/whatsnew/v1.4.4.rst
Due: flake8-rst

BUG: iterparse of read_xml not parsing duplicate element and attribute names (#47414)
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
Due: none

ENH: DTA to_pydatetime, time, timetz, date, iter support non-nano (#47307)
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
Due: use-pd_array-in-core

REF: simplify Timestamp.replace (#47435)
  pandas/_libs/tslibs/timestamps.pyx
Due: none

ENH: Timestamp pickle support non-nano tzaware (#47340)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

ENH: DTA.to_period support non-nano (#47324)
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/period.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/indexes/period/test_constructors.py
  setup.py
Due: use-pd_array-in-core

BUG: read_csv may interpret second row as index names even if index_col is False (#47397)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: flake8-rst

ENH: Timedelta/Timestamp round support non-nano (#47356)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimelike.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_unary_ops.py
Due: use-pd_array-in-core

ENH: preserve non-nano DTA/TDA in Index/Series/DataFrame (#47230)
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/timedeltas.py
  pandas/core/internals/construction.py
  pandas/tests/frame/test_constructors.py
Due: use-pd_array-in-core

REGR: Fix fillna making a copy when dict was given as fill value and inplace is set (#47327)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/frame/methods/test_update.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

Fix segmentation fault when JSON serializing a PeriodIndex (#47431)
  doc/source/whatsnew/v1.4.3.rst
  pandas/_libs/src/ujson/python/objToJSON.c
  pandas/tests/io/json/test_ujson.py
Due: flake8-rst

ENH: DTA/DTI __repr__ support non-nano (#47374)
  pandas/_libs/tslib.pyi
  pandas/_libs/tslib.pyx
  pandas/core/arrays/datetimes.py
  pandas/io/formats/format.py
  pandas/tests/arrays/test_datetimes.py
  setup.py
Due: use-pd_array-in-core

Allow reading SAS files from archives (#47154)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_xport.py
  pandas/io/sas/sasreader.py
  pandas/tests/io/sas/data/airline.sas7bdat.gz
  pandas/tests/io/sas/test_sas.py
Due: flake8-rst

TYP: plotting._matplotlib (#47311)
  pandas/_typing.py
  pandas/core/generic.py
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/boxplot.py
  pandas/plotting/_matplotlib/converter.py
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/hist.py
  pandas/plotting/_matplotlib/style.py
  pandas/plotting/_matplotlib/timeseries.py
  pandas/plotting/_matplotlib/tools.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: Timestamp.normalize support non-nano (#47316)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

PERF: Improve Styler `to_excel` Performance (#47371)
  asv_bench/benchmarks/io/excel.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/css.py
  pandas/io/formats/excel.py
  pandas/tests/io/formats/test_to_excel.py
Due: flake8-rst

Initial draft: from_dummies (#41902)
  doc/source/reference/general_functions.rst
  doc/source/user_guide/reshaping.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/__init__.py
  pandas/core/reshape/api.py
  pandas/core/reshape/encoding.py
  pandas/tests/api/test_api.py
  pandas/tests/reshape/test_from_dummies.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

ENH: DatetimeIndex.snap support non-nano (#47537)
  pandas/core/indexes/datetimes.py
  pandas/tests/indexes/datetimes/methods/test_snap.py
Due: use-pd_array-in-core

DEPR: na_sentinel in factorize (#47157)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/algorithms.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/array.py
  pandas/core/base.py
  pandas/core/groupby/grouper.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/range.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_extension.py
  pandas/tests/test_algos.py
Due: flake8-rst, use-pd_array-in-core

BUG: read_xml iterparse doesn't handle multiple toplevel elements with lxml parser (#47504)
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
Due: none

REF: share some constructor code (#47555)
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

REGR: concat materializing index even if sort is not necessary (#47508)
  doc/source/whatsnew/v1.4.4.rst
  pandas/core/indexes/api.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, use-pd_array-in-core

ENH: Move PyperclipException and PyperclipWindowsException to error/_… (#47491)
  doc/source/reference/testing.rst
  pandas/errors/__init__.py
  pandas/io/clipboard/__init__.py
  pandas/tests/io/test_clipboard.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization

PERF improve performance of is_lexsorted (#47459)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/algos.pyx
Due: flake8-rst

BUG: isin casting to float64 for unsigned int and list (#46693)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/algorithms.py
  pandas/tests/test_algos.py
Due: flake8-rst, use-pd_array-in-core

Fix `vertical-align: middle;` for `Styler.to_excel` with xlsxwriter engine (#47434)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_xlsxwriter.py
  pandas/tests/io/excel/test_style.py
Due: flake8-rst

TYP: Missing return annotations in util/tseries/plotting (#47510)
  pandas/plotting/_misc.py
  pandas/tseries/frequencies.py
  pandas/util/_exceptions.py
  pandas/util/_test_decorators.py
  pandas/util/_validators.py
Due: none

DOC: move enhancements in 1.5 release notes (#47375)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
