Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CLN: Add tets and fix docstring for concat with sort=True and outer join (#47612)
  pandas/core/indexes/api.py
  pandas/tests/reshape/concat/test_index.py
Due: use-pd_array-in-core

DEPR: numeic_only in Series and SeriesGroupBy consistency (#47561)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/series.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_function.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/reductions/test_stat_reductions.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/series/test_api.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

TST: Added test for strides in column major Dataframes stored in HDFS… (#47616)
  pandas/tests/io/pytables/test_store.py
Due: none

TST: added test for handling repeated keys when using Series.loc with Multiindex (#47594)
  pandas/tests/indexing/multiindex/test_multiindex.py
Due: none

BUG: Return Float64 for read_parquet(use_nullable_dtypes=True) (#47619)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst

PERF: use c-division in nancorr (#47518)
  pandas/_libs/algos.pyx
Due: none

Code review from #46759 : moved strftime benchmark file outside of tslibs dir (#47665)
  asv_bench/benchmarks/strftime.py
Due: none

BUG: Add `storage_option` parameter to to_excel method in Styler (#46491)
  pandas/core/generic.py
  pandas/io/formats/style.py
  pandas/tests/io/excel/test_style.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: Fixed CoC broken link (#47661)
  README.md
Due: none

ENH/TST: Add TestBaseReshaping tests for ArrowExtensionArray (#47601)
  pandas/tests/extension/test_arrow.py
Due: none

Revert inclusive default change of IntervalDtype (#47367)
  doc/source/reference/arrays.rst
  pandas/_libs/interval.pyi
  pandas/_libs/interval.pyx
  pandas/_libs/intervaltree.pxi.in
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/interval/test_interval_range.py
  pandas/tests/plotting/test_misc.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

BUG: df.groupby().resample()[[cols]] without key columns raise KeyError (#47605)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resampler_grouper.py
Due: flake8-rst, use-pd_array-in-core

DEPR: Remove deprecation from private class IntervalTree (#47637)
  pandas/_libs/intervaltree.pxi.in
  pandas/tests/indexes/interval/test_interval_tree.py
Due: none

DOC: avoid overriding Python built-in functions (#47631)
  doc/source/user_guide/groupby.rst
Due: flake8-rst

TYP: Improve typing interval inclusive (#47646)
  pandas/_libs/interval.pyi
  pandas/_typing.py
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/dtypes.py
  pandas/core/generic.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/interval.py
  pandas/io/formats/style.py
  pandas/util/_validators.py
Due: use-pd_array-in-core, no-bool-in-core-generic

WARN: Don't show FutureWarning when enlarging df with iloc (#47621)
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_setitem.py
Due: use-pd_array-in-core

Fix SAS7BDAT run-length encoding formula (#47099)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas.pyx
  pandas/tests/io/sas/data/0x00controlbyte.sas7bdat.bz2
  pandas/tests/io/sas/test_sas7bdat.py
Due: flake8-rst

ci: add GitHub token permissions for workflows (#47652)
  .github/workflows/32-bit-linux.yml
  .github/workflows/assign.yml
  .github/workflows/asv-bot.yml
  .github/workflows/autoupdate-pre-commit-config.yml
  .github/workflows/code-checks.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/macos-windows.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  .github/workflows/stale-pr.yml
  .github/workflows/ubuntu.yml
Due: none

REF: share DTA/TDA.__init__ (#47583)
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

CI: Bump Mac/Windows build timeout to 120 minutes (#47523)
  .github/workflows/macos-windows.yml
Due: none

TYP: fix some of the __hash__ methods (#47654)
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/base.py
  pandas/core/arrays/sparse/dtype.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/indexes/frozen.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TYP: enable reportUnusedImport (#46937)
  pandas/__init__.py
  pandas/_config/__init__.py
  pandas/_testing/__init__.py
  pandas/api/__init__.py
  pandas/conftest.py
  pandas/core/api.py
  pandas/core/arrays/arrow/__init__.py
  pandas/core/arrays/sparse/__init__.py
  pandas/core/dtypes/api.py
  pandas/core/dtypes/common.py
  pandas/core/index.py
  pandas/core/internals/__init__.py
  pandas/core/ops/__init__.py
  pandas/core/reshape/api.py
  pandas/core/tools/datetimes.py
  pandas/core/window/__init__.py
  pandas/core/window/rolling.py
  pandas/errors/__init__.py
  pandas/io/api.py
  pandas/io/parquet.py
  pandas/io/sas/__init__.py
  pandas/tests/tseries/offsets/conftest.py
  pandas/tseries/api.py
  pandas/tseries/frequencies.py
  pandas/tseries/holiday.py
  pandas/tseries/offsets.py
  pandas/util/__init__.py
  pandas/util/_decorators.py
  pyproject.toml
Due: use-pd_array-in-core

SAS7BDAT parser: Faster string parsing (#47404)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas.pyx
Due: flake8-rst

WEB: Update NumFOCUS committee members (#47650)
  web/pandas/config.yml
Due: none

BUG: to_sql with method=callable not returning int raising TypeError (#47474)
  doc/source/whatsnew/v1.4.4.rst
  pandas/core/generic.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

Enh move pytable errors and warnings (#47662)
  doc/source/reference/testing.rst
  pandas/errors/__init__.py
  pandas/io/pytables.py
  pandas/tests/io/pytables/test_file_handling.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization

BUG: using read_xml with iterparse and names will ignore duplicate values (#47630)
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
Due: none

ENH/TST: Add BaseMethodsTests tests for ArrowExtensionArray (#47552)
  pandas/core/base.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_string.py
Due: use-pd_array-in-core

ENH: Move CSSWarning to error/__init__.py per GH27656 (#47591)
  doc/source/reference/testing.rst
  pandas/errors/__init__.py
  pandas/io/formats/css.py
  pandas/tests/io/formats/test_css.py
  pandas/tests/io/formats/test_to_excel.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization

CLN: non-nano follow-ups (#47682)
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

ENH: TDA.__mul__ support non-nano (#47668)
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/test_timedeltas.py
Due: use-pd_array-in-core

DOC: Clarify that FrozenList is hashable (#47684)
  pandas/core/indexes/frozen.py
Due: use-pd_array-in-core

WEB: Updating links of the governance page (#47679)
  web/pandas/about/governance.md
Due: none

TYP: make na_value consistently a property (#47676)
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

TST: avoid sort when concat int-index Dataframes with sort=False (#47685)
  pandas/tests/reshape/concat/test_sort.py
Due: none

ENH: TDA+datetime_scalar support non-nano (#47675)
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_timedeltas.py
Due: use-pd_array-in-core
