Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

REGR: Styler `buf` and `encoding` in `to_latex` and `to_html` (#47059)
  doc/source/whatsnew/v1.4.3.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_style.py
Due: flake8-rst

ENH: non-nano Timestamp.timestamp, to_period (#46990)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

DOC: Fix some typos in pandas/. (#47022)
  pandas/_libs/src/ujson/lib/ultrajson.h
  pandas/_libs/src/ujson/lib/ultrajsondec.c
  pandas/_libs/src/ujson/lib/ultrajsonenc.c
  pandas/_libs/src/ujson/python/JSONtoObj.c
  pandas/_libs/src/ujson/python/objToJSON.c
  pandas/_libs/src/ujson/python/ujson.c
  pandas/_libs/src/ujson/python/version.h
  pandas/core/array_algos/putmask.py
  pandas/core/indexes/multi.py
  pandas/core/internals/managers.py
  pandas/tests/indexes/multi/conftest.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/io/formats/style/test_matplotlib.py
Due: use-pd_array-in-core

BUG: MaskedArray._quantile match non-nullable behavior (#46282)
  pandas/core/array_algos/quantile.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/tests/frame/methods/test_quantile.py
  pandas/tests/series/methods/test_quantile.py
Due: use-pd_array-in-core

BUG Fix: Cannot read pickle generate_legacy_storage_files version 1.4.2 under environment pandas version 1.5.0 (incompatibilites issue) (#47104)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/io/data/legacy_pickle/1.4.2/1.4.2_x86_64_linux_3.9.7.pickle
Due: none

DOC: Fix assorted doc warnings (#47080)
  doc/source/conf.py
  pandas/core/arrays/sparse/array.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/indexes/base.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TYP: overload asarray_tuplesafe signature (#46966)
  pandas/core/common.py
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

TYP: resolve mypy ignores in core/groupby/ops.py (#47064)
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

REGR: Replace changes the dtype of other columns (#46636)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

BUG: DatetimeIndex.resolution with nanosecond reso (#46903)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/indexes/datetimes.py
  pandas/tests/indexing/test_datetime.py
  pandas/tests/series/methods/test_asof.py
  pandas/tests/tslibs/test_resolution.py
Due: flake8-rst, use-pd_array-in-core

ENH: liboffsets support non-nano (#47076)
  asv_bench/benchmarks/arithmetic.py
  asv_bench/benchmarks/tslibs/normalize.py
  asv_bench/benchmarks/tslibs/offsets.py
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/tools/datetimes.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/tseries/offsets/test_offsets.py
  setup.py
Due: use-pd_array-in-core

refactor: use is_platform_windows() (#46973)
  pandas/tests/io/test_compression.py
Due: none

TYP: Mypy workaround for NoDefault (#47045)
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/_testing/asserters.py
  pandas/_typing.py
  pandas/core/arrays/interval.py
  pandas/core/common.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/reshape/tile.py
  pandas/core/series.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Fix some typos. (#47021)
  LICENSES/ULTRAJSON_LICENSE
  asv_bench/benchmarks/sparse.py
  doc/source/user_guide/io.rst
  doc/source/user_guide/style.ipynb
Due: flake8-rst

ENH: do not sort resulting columns when sort=False (#46994)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, use-pd_array-in-core

CLN/TST: Remove tm.makeUnicodeIndex (#47050)
  asv_bench/benchmarks/strings.py
  pandas/_testing/__init__.py
  pandas/_testing/_random.py
  pandas/conftest.py
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/methods/test_to_csv.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/pytables/test_put.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/resample/test_time_grouper.py
  pandas/tests/series/test_api.py
  pandas/tests/tseries/frequencies/test_inference.py
Due: none

ENH: move DataError from core/base.py to error/__init__.py per GH27656 (#47047)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/apply.py
  pandas/core/base.py
  pandas/core/groupby/groupby.py
  pandas/core/resample.py
  pandas/core/window/rolling.py
  pandas/errors/__init__.py
  pandas/tests/test_errors.py
  pandas/tests/window/test_dtypes.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

DEPR: df.iloc[:, foo] = bar attempt to set inplace (#45333)
  doc/source/user_guide/10min.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/groupby/groupby.py
  pandas/core/indexing.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/frame/indexing/test_coercion.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/methods/test_diff.py
  pandas/tests/frame/methods/test_dropna.py
  pandas/tests/frame/methods/test_quantile.py
  pandas/tests/frame/methods/test_rename.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/frame/test_nonunique_indexes.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/indexing/test_partial.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/sas/test_sas7bdat.py
  pandas/tests/io/test_stata.py
Due: flake8-rst, use-pd_array-in-core

TST: add copy/view test for setting columns with an array/series (#47070)
  pandas/conftest.py
  pandas/tests/copy_view/test_setitem.py
Due: none

BUG: groupby.transform/agg with engine='numba' and a MultiIndex (#47057)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
Due: flake8-rst, use-pd_array-in-core

EHN: add same value count for skew & kurt (#46717)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_rolling_skew_kurt.py
Due: flake8-rst

REF: share parts of DTI and PI (#47038)
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
Due: use-pd_array-in-core

Bug fix - GroupBy.describe produces inconsistent results for empty datasets (#46162)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_function.py
Due: flake8-rst, use-pd_array-in-core

TYP: enable reportOverlappingOverload (#46969)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  pandas/_libs/interval.pyi
  pyproject.toml
Due: sync-flake8-versions

Unpin xarray (#47016)
  environment.yml
  pandas/core/generic.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, use-pd_array-in-core, no-bool-in-core-generic

TST: avoid chained assignment in tests outside of specific tests on chaining (#46980)
  pandas/tests/frame/methods/test_combine_first.py
  pandas/tests/frame/methods/test_cov_corr.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/groupby/test_apply_mutate.py
  pandas/tests/indexing/multiindex/test_partial.py
  pandas/tests/indexing/test_loc.py
Due: none

TYP: fix MultiIndex._names type (#46919)
  pandas/core/frame.py
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core

DOC: Clarify decay argument validation in ewm when times is provided (#47026)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/window/ewm.py
  pandas/tests/window/conftest.py
  pandas/tests/window/test_ewm.py
Due: flake8-rst, use-pd_array-in-core

TYP: narrow type bounds on extract_array (#46942)
  pandas/core/algorithms.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/construction.py
  pandas/core/internals/construction.py
  pandas/io/formats/format.py
  pandas/io/pytables.py
Due: use-pd_array-in-core

Changes as requested in #47058 (#47119)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: DatetimeArray fields support non-nano (#47044)
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
Due: use-pd_array-in-core

CLN: Move test_parallel to gil.py (#47068)
  asv_bench/benchmarks/gil.py
  pandas/_testing/__init__.py
Due: none

CI: Use conda-forge PyPy (#46394)
  .github/workflows/posix.yml
  ci/deps/actions-pypy-38.yaml
Due: none

CI: mypy&pyright in manual pre-commit stage (#47075)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  ci/code_checks.sh
  doc/source/development/contributing_codebase.rst
  environment.yml
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization

CI/TST: Fix test for pyarrow 8.0 release (#46991)
  pandas/compat/pyarrow.py
  pandas/tests/io/test_parquet.py
Due: none

REF: merge datetime_to_datetime64 into array_to_datetime (#47018)
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/conversion.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/tools/datetimes.py
  pandas/tests/tools/test_to_datetime.py
Due: use-pd_array-in-core

DEPR: groupby numeric_only default (#47025)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/extension/base/groupby.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/generic/test_frame.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_allowlist.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_subclass.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_index_as_string.py
  pandas/tests/groupby/test_pipe.py
  pandas/tests/groupby/test_quantile.py
  pandas/tests/groupby/test_timegrouper.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/reshape/merge/test_join.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, use-pd_array-in-core

REF: write indexing checks in terms of should_fallback_to_positional (#47036)
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/core/indexing.py
Due: use-pd_array-in-core

CI/TST: Lower recurison limit for test_json:test_series_constructor_scalar_with_index on Windows (#47049)
  pandas/tests/extension/json/test_json.py
Due: none

DOC: Fix a typo in documentation for qyear (#47033)
  pandas/_libs/tslibs/period.pyx
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
