Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

DOC: fix SA04 errors flagged by validate_docstrings.py and add SA04 t… (#46652)
  ci/code_checks.sh
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

TST/CI: simplify geopandas downstream test to not use fiona (#46665)
  ci/deps/actions-38-downstream_compat.yaml
  pandas/tests/test_downstream.py
Due: none

Add a license file for klib (khash) (#46741)
  LICENSES/KLIB_LICENSE
Due: none

PERF: avoid casting in groupby.min/max (#46745)
  pandas/_libs/dtypes.pxd
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

BUG: Convert <br> to space in `pd.read_html` (#45972)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/html.py
  pandas/tests/io/test_html.py
Due: flake8-rst

TST: Use fixtures instead of setup_method (#46713)
  pandas/tests/frame/test_query_eval.py
  pandas/tests/indexes/datetimes/test_setops.py
  pandas/tests/indexing/test_categorical.py
  pandas/tests/internals/test_internals.py
  pandas/tests/io/formats/style/test_style.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/json/test_json_table_schema_ext_dtype.py
  pandas/tests/io/test_sql.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/reshape/merge/test_join.py
  pandas/tests/reshape/merge/test_merge_ordered.py
  pandas/tests/reshape/test_crosstab.py
  pandas/tests/reshape/test_melt.py
Due: none

BUG: Prevent segfault in roll_weighted_var (#46772)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/tests/window/test_win_type.py
Due: flake8-rst

DOC: remove links to deprecated methods (#46700)
  pandas/core/reshape/concat.py
Due: use-pd_array-in-core

fix ci-failure from bs4 new version (#46692)
  pandas/io/html.py
Due: none

TST: add test_join_multiindex_dates (#46660)
  pandas/tests/frame/methods/test_join.py
Due: none

DEPR: non-keyword arguments in any (#44896)
  doc/source/whatsnew/v0.13.0.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/core/missing.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_any_all.py
  pandas/tests/util/test_deprecate_nonkeyword_arguments.py
  pandas/util/_decorators.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

BUG/TST/DOC: added finalize to melt, GH28283 (#46648)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, use-pd_array-in-core

PERF: avoid potentially-copying ravel (#46733)
  pandas/_libs/tslibs/conversion.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

ENH: consistency of input args for boundaries - pd.interval_range (#46355)
  doc/source/user_guide/advanced.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/interval.py
  pandas/tests/frame/methods/test_round.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/indexes/interval/test_astype.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/interval/test_interval_range.py
  pandas/tests/indexes/interval/test_setops.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/util/test_assert_interval_array_equal.py
Due: flake8-rst, use-pd_array-in-core

ENH: implement non-nano Timedelta scalar (#46688)
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
  setup.py
Due: none

BUG: Fix __instancecheck__ and __subclasscheck__ of metaclass in pandas.core.dtypes.generic (#46719)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/generic.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/dtypes/test_generic.py
Due: flake8-rst, use-pd_array-in-core

TST: Add a test for `series name should be preserved in pser.mode() ` (#46746)
  pandas/tests/test_algos.py
Due: none

ENH: exclude html table border w/False value (#45943)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/io/formats/format.py
  pandas/io/formats/html.py
  pandas/tests/io/formats/test_to_html.py
  pandas/tests/io/test_html.py
Due: flake8-rst, use-pd_array-in-core

TST: Parameterize (#46712)
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/concat/test_empty.py
  pandas/tests/reshape/merge/test_merge_ordered.py
Due: none

BUG: added finalize to explode, GH28283 (#46629)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, use-pd_array-in-core

BLD: drop `options.package_data` from setup.cfg (#46271)
  MANIFEST.in
  setup.cfg
Due: none

DOC: Move code_style.rst docs to other sections & a check (#46724)
  .pre-commit-config.yaml
  doc/source/development/code_style.rst
  doc/source/development/contributing_codebase.rst
  doc/source/development/index.rst
  scripts/tests/test_use_io_common_urlopen.py
  scripts/use_io_common_urlopen.py
Due: flake8-rst, sync-flake8-versions, title-capitalization

CI: Fail Numpy Dev build on DeprecationWarnings from numpy only (#46767)
  .github/workflows/posix.yml
  pandas/tests/util/test_show_versions.py
Due: none

TST: Add test case for groupby where by column contains values with same starting value (#46721)
  pandas/tests/groupby/test_groupby.py
Due: none

WARN: PerformanceWarning for non-pyarrow fallback (#46732)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_string_array.py
  pandas/tests/strings/test_strings.py
Due: flake8-rst, use-pd_array-in-core

CLN/TYP: assorted (#46568)
  pandas/_libs/algos.pyx
  pandas/_libs/indexing.pyx
  pandas/_libs/internals.pyx
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/timezones.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

TYP: fix hashable keys for pd.concat (#46608)
  pandas/_typing.py
  pandas/core/reshape/concat.py
Due: use-pd_array-in-core

TST: Add test to check_below_min_count showing that it works fine for dfs with large row count (#46534)
  pandas/tests/test_nanops.py
Due: none

CI: Simplify call to asv (#46599)
  .github/workflows/code-checks.yml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

CI/DOC: Unpin jinja2 (#46647)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

TYP: rename (#46428)
  pandas/_typing.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/series.py
  pandas/io/json/_normalize.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: pd.concat with identical key leads to multi-indexing error (#46546)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/reshape/concat.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, use-pd_array-in-core

REGR: read_fwf raising ValueError when widths was specified with usecols (#46691)
  doc/source/whatsnew/v1.4.3.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_read_fwf.py
Due: flake8-rst

REF: stronger typing in libconversion (#46742)
  pandas/_libs/algos_common_helper.pxi.in
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

REF: de-vendor _stprtime code (#46736)
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/strptime.pyx
Due: none

DOC: generate docs for the `Series.dt.isocalendar()` method. (#46674)
  doc/source/reference/series.rst
  pandas/core/indexes/accessors.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

REF: handle 2D in tslibs.vectorized (#46886)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
Due: none

Fix issue probably-meant-fstring found at https://codereview.doctor (#46855)
  pandas/tests/groupby/transform/test_transform.py
Due: none

Add missing __finalize__ calls in indexers/iterators (#46101)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/tests/generic/test_duplicate_labels.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

PERF: Remove unnecessary(?) asof join functions (#46943)
  pandas/_libs/join.pyx
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
