Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

ENH: Rolling window with step size (GH-15354) (#45765)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/window/indexers.pyi
  pandas/_libs/window/indexers.pyx
  pandas/core/generic.py
  pandas/core/indexers/objects.py
  pandas/core/window/ewm.py
  pandas/core/window/numba_.py
  pandas/core/window/rolling.py
  pandas/tests/window/conftest.py
  pandas/tests/window/test_api.py
  pandas/tests/window/test_apply.py
  pandas/tests/window/test_base_indexer.py
  pandas/tests/window/test_dtypes.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_rolling_functions.py
  pandas/tests/window/test_rolling_quantile.py
  pandas/tests/window/test_rolling_skew_kurt.py
  pandas/tests/window/test_win_type.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: Move general utility functions to better locations (#46177)
  .pre-commit-config.yaml
  doc/source/reference/arrays.rst
  doc/source/reference/general_functions.rst
  doc/source/reference/general_utility_functions.rst
  doc/source/reference/index.rst
  doc/source/reference/options.rst
  doc/source/reference/testing.rst
  pandas/_libs/tslibs/np_datetime.pyx
  scripts/pandas_errors_documented.py
Due: flake8-rst, sync-flake8-versions, title-capitalization

ENH: Improve error message when rolling over NaT value (#46087)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core

PERF: avoid cast in algos.rank (#46175)
  pandas/_libs/algos.pyi
  pandas/_libs/algos.pyx
  pandas/core/algorithms.py
Due: use-pd_array-in-core

BLD: Upload sdist artifact from CI (#46277)
  .github/workflows/sdist.yml
Due: none

DEPR: treating object-dtype blocks as bool_only (#46188)
  doc/source/whatsnew/v1.2.0.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/inference.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/internals/test_internals.py
Due: flake8-rst, use-pd_array-in-core

Lose the index before 'na_value' assignment in 'to_numpy' (#45775)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/base.py
  pandas/tests/base/test_conversion.py
Due: flake8-rst, use-pd_array-in-core

add benchmark (#46193)
  asv_bench/benchmarks/indexing.py
Due: none

BUG: groupby.min with UInt64 and empty group (#46182)
  pandas/_libs/groupby.pyx
  pandas/tests/groupby/test_min_max.py
Due: none

CI: Don't run PANDAS_DATA_MANAGER=array test for downstream tests (#46253)
  ci/run_tests.sh
Due: none

fix klass name (#46201)
  pandas/core/frame.py
Due: use-pd_array-in-core

REF: re-share Period methods (#46314)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/period.py
  pandas/tests/tseries/frequencies/test_freq_code.py
Due: use-pd_array-in-core

Test : Pandas 1.0.5 → 1.1.0 behavior change on DataFrame.apply() where fn returns np.ndarray (#46199)
  pandas/tests/frame/methods/test_dtypes.py
Due: none

TST: add test for correct behaviour of multiIndex loc with splice (#46190)
  pandas/tests/indexing/multiindex/test_loc.py
Due: none

DOC: Fix `DataFrame.plot.scatter` link in 1.5.0 changelog (#46244)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

REF: simplify groupby nullable wrapping (#46236)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

BUG: nullable groupby result dtypes (#46197)
  pandas/core/dtypes/dtypes.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/aggregate/test_cython.py
Due: use-pd_array-in-core

BUG: Fix aligning a DataFrame with a Series with MultiIndex (#46058)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_align.py
  pandas/tests/frame/test_arithmetic.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: Remove computation.rst in favor of better docstrings (#46170)
  doc/source/user_guide/computation.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v0.6.0.rst
  doc/source/whatsnew/v0.6.1.rst
  doc/source/whatsnew/v0.8.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

PERF: faster corrwith method for pearson and spearman correlation when other is a Series and axis = 0 (column-wise) (#46174)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
Due: flake8-rst, use-pd_array-in-core

ENH: make `Styler.concat` compatible with `to_latex` output render (#46186)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

PERF: avoid copies in frame[col].fillna(val, inplace=True) GH#46149 (#46204)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/tests/frame/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: Fix warnings on underline length (#46215)
  pandas/core/indexes/numeric.py
  pandas/io/orc.py
Due: use-pd_array-in-core

Add benchmark for indexing with .loc for sorted/unsorted DatetimeIndex (#46198)
  asv_bench/benchmarks/indexing.py
Due: none

TYP: return type of read_csv/table (#45610)
  pandas/io/parsers/readers.py
Due: none

DEPR: `null_color` since `color` used everywhere else (#45907)
  doc/source/user_guide/style.ipynb
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_deprecated.py
  pandas/tests/io/formats/style/test_highlight.py
Due: flake8-rst

TYP: annotation of __init__ return type (PEP 484) (misc modules) (#46280)
  doc/make.py
  pandas/_config/config.py
  pandas/_testing/contexts.py
  pandas/compat/numpy/function.py
  pandas/conftest.py
  pandas/errors/__init__.py
  pandas/tseries/frequencies.py
  pandas/tseries/holiday.py
  scripts/validate_docstrings.py
Due: none

CI: xfail geopandas downstream test on MacOS due to fiona install (#46296)
  pandas/tests/test_downstream.py
Due: none

BUG: error in read_excel with some ods files #45598 (#46050)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_odfreader.py
  pandas/tests/io/data/excel/test_newlines.ods
  pandas/tests/io/excel/test_odf.py
Due: flake8-rst

add asvs for df.xs with MultiIndex (#46233)
  asv_bench/benchmarks/indexing.py
Due: none

Fix scatter norm keyword (#45966)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/frame/test_frame.py
Due: flake8-rst

TYP: annotation of __init__ return type (PEP 484) (#46254)
  pandas/core/computation/engines.py
  pandas/core/computation/expr.py
  pandas/core/computation/ops.py
  pandas/core/computation/pytables.py
  pandas/core/computation/scope.py
Due: use-pd_array-in-core

CLN: Assorted cleanups (#46243)
  pandas/_libs/groupby.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/categorical.py
  pandas/core/dtypes/cast.py
  pandas/core/generic.py
  pandas/core/groupby/ops.py
  pandas/core/series.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/series/methods/test_replace.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: df.iloc[:, 0] = df.iloc[::-1, 0] not setting inplace for EAs (#45352)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexing/test_iloc.py
Due: flake8-rst, use-pd_array-in-core

BUG: styler.concat should raise when index nlevels are incompatible (#46180)
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_exceptions.py
  pandas/tests/io/formats/style/test_style.py
Due: none

TYP: add type annotation to DataFrame.to_pickle (#46262)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

CLN: assorted (#46181)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/_libs/missing.pyx
  pandas/_libs/parsers.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/algorithms.py
  pandas/core/apply.py
  pandas/core/array_algos/quantile.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/sparse/array.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/period.py
  pandas/core/indexing.py
  pandas/io/formats/style.py
  pandas/io/json/_json.py
  pandas/tests/internals/test_internals.py
  pandas/tests/util/test_show_versions.py
Due: flake8-rst, use-pd_array-in-core

BUG: GroupBy.cummin altering nullable arrays inplace (#46220)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_function.py
Due: flake8-rst, use-pd_array-in-core

doc additions (#46194)
  pandas/io/formats/style.py
Due: none

REF: use standard patterns in tslibs (#46259)
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none
