Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

BUG: groupby agg raising when column was selected twice (#44944)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/base.py
  pandas/tests/groupby/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

TST: parametrize/de-duplicate arithmetic tests (#44962)
  pandas/core/indexes/range.py
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_timedelta64.py
Due: use-pd_array-in-core

DOC: Enable doctests for _config, _testing, utils, io, misc files (#44990)
  ci/code_checks.sh
  pandas/_config/config.py
  pandas/_testing/__init__.py
  pandas/_testing/_io.py
  pandas/_testing/asserters.py
  pandas/_testing/contexts.py
  pandas/io/formats/style_render.py
  pandas/util/_decorators.py
  pandas/util/_validators.py
Due: none

CI: Pin setuptools for sdist too (#45000)
  .github/workflows/sdist.yml
Due: none

TST: Split/parameterize test_sorting (#44968)
  pandas/tests/test_sorting.py
Due: none

DOC: local py.typed for users (#44228)
  .gitignore
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, title-capitalization

ENH: Add numba engine to groupby.sum (#44939)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/conftest.py
  pandas/tests/groupby/test_numba.py
Due: flake8-rst, use-pd_array-in-core

TST: skip fewer tests (#44918)
  ci/deps/actions-38-db.yaml
  environment.yml
  pandas/conftest.py
  pandas/core/arrays/categorical.py
  pandas/tests/base/test_fillna.py
  pandas/tests/base/test_unique.py
  pandas/tests/extension/base/dim2.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/formats/test_to_csv.py
  pandas/tests/io/json/test_compression.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/series/methods/test_rank.py
  pandas/tests/test_algos.py
Due: pip-to-conda, sync-flake8-versions, use-pd_array-in-core

ASV: Add additional to_csv benchmark (#44942)
  asv_bench/benchmarks/io/csv.py
Due: none

BUG: SparseArray.__floordiv__ not matching non-Sparse Series behavior (#44928)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/sparse_op_helper.pxi.in
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_arithmetics.py
Due: flake8-rst, use-pd_array-in-core

CI: Pin setuptools for python dev (#44989)
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/setup_env.sh
Due: none

DEPR: Categorical.replace (#44929)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/categorical.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/arrays/categorical/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

ENH: allow JSON (de)serialization of ExtensionDtypes (#44722)
  doc/source/development/developer.rst
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/io/json/_json.py
  pandas/io/json/_table_schema.py
  pandas/tests/extension/date/__init__.py
  pandas/tests/extension/date/array.py
  pandas/tests/extension/decimal/array.py
  pandas/tests/io/json/test_json_table_schema_ext_dtype.py
  pandas/tests/io/json/test_pandas.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Bug in concat casting all na levels to float (#44902)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_missing.py
  pandas/tests/reshape/concat/test_datetimes.py
Due: flake8-rst, use-pd_array-in-core

BUG: read_csv converting nans to 1 when casting bools to float (#44901)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/arrow_parser_wrapper.py
  pandas/tests/io/parser/test_na_values.py
Due: flake8-rst

TYP: timestamps.pyi followup (#44975)
  pandas/_libs/tslibs/timestamps.pyi
Due: none

Fix pre-commit error (#44988)
  pandas/core/nanops.py
Due: use-pd_array-in-core

BUG: inconsistency in dtype of replace() (#44897)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

REF: dont pass downcast=False to fillna from pytables (#45010)
  pandas/io/pytables.py
Due: none

ENH: EA._hasnans, EADtype.empty (#45024)
  pandas/core/arrays/base.py
  pandas/core/dtypes/base.py
  pandas/tests/extension/base/constructors.py
Due: use-pd_array-in-core

TST: Split and parameterize series/test_api.py (#45079)
  pandas/tests/series/test_api.py
  pandas/tests/series/test_missing.py
Due: none

CI: Fix pytorch installation error (#45064)
  ci/deps/actions-38-db.yaml
Due: none

TST: implement deserialization tests for older schema versions (#45048)
  pandas/tests/io/json/test_json_table_schema.py
Due: none

DEPR: special-cased downcasting in DataFrame.where GH#44597 (#45009)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/methods/test_clip.py
Due: flake8-rst, use-pd_array-in-core

REF: nanpercentile -> array_algos.quantile (#44655)
  pandas/core/array_algos/quantile.py
  pandas/core/nanops.py
Due: use-pd_array-in-core

TYP: localization.py (#45065)
  pandas/_config/localization.py
  pandas/tests/indexes/datetimes/test_misc.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/series/accessors/test_dt_accessor.py
Due: none

TYP: Fix wrong type annotations in pytables (#45028)
  pandas/core/generic.py
  pandas/io/pytables.py
Due: use-pd_array-in-core, no-bool-in-core-generic

#31793 Add support for subtracting datetime from Timestamp (#37329)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/scalar/timestamp/test_arithmetic.py
Due: flake8-rst, use-pd_array-in-core

TST: Parameterize series/test_cummulative.py (#45080)
  pandas/tests/series/test_cumulative.py
Due: none

BUG: DataFrame(nested_object_ndarray) match DataFrame(nested_pandas_array) (#45040)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/tests/frame/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

REF: Implement EA._mode, de-special-case categorical/dtlike (#45033)
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/series.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/series/test_reductions.py
  pandas/tests/test_algos.py
Due: use-pd_array-in-core

REF: de-duplicate DataFrame indexing code (#45092)
  pandas/core/frame.py
  pandas/tests/generic/test_duplicate_labels.py
Due: use-pd_array-in-core

CLN: TODOs and FIXMEs (#45088)
  pandas/_libs/tslibs/nattype.pyx
  pandas/core/algorithms.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/base.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/core/reshape/pivot.py
  pandas/core/reshape/reshape.py
  pandas/tests/reshape/test_pivot.py
Due: use-pd_array-in-core

BUG: dropna changing index when nothing is dropped (#45027)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_dropna.py
Due: flake8-rst, use-pd_array-in-core

TYP: type excel util module (#45014)
  pandas/io/excel/_base.py
  pandas/io/excel/_util.py
Due: none

CI/TST: Ignore Matplotlib related ResouceWarnings from assert_produces_warning (#45073)
  pandas/_testing/_warnings.py
Due: none

DOC: Run doctests over pandas directory (#45056)
  ci/code_checks.sh
  pandas/tests/arithmetic/conftest.py
Due: none

CI: Merge database workflow into posix workflow (#45060)
  .github/workflows/database.yml
  .github/workflows/posix.yml
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/tools/test_to_datetime.py
Due: none

BUG+DEPR: Timestamp.fromtimestamp tz arg (#45083)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: flake8-rst

BUG: allow Series[Period].astype(dt64) (#45055)
  doc/source/user_guide/timeseries.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/period.py
  pandas/core/indexes/period.py
  pandas/tests/arrays/period/test_astype.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/test_common.py
Due: flake8-rst, use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
