Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

BENCH: Fix makeCategoricalIndex (#46433)
  asv_bench/benchmarks/categoricals.py
Due: none

REF: Create StorageExtensionDtype (#46537)
  pandas/core/arrays/string_.py
  pandas/core/dtypes/base.py
Due: use-pd_array-in-core

REF: _infer_tsobject_fold to infer_datetuil_fold (#46516)
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

BUG: Fix remaining cases of groupby(...).transform with dropna=True (#46367)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/base.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/apply/test_str.py
  pandas/tests/groupby/test_rank.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

Pin pytest-asyncio>=0.17 (#46543)
  .github/workflows/posix.yml
  azure-pipelines.yml
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

REF: expose pandas_timedelta_to_timedeltastruct (#46578)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

REGR: DataFrame.replace when the replacement value was explicitly None (#46404)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

clean import/comments (#46434)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

BUG: Categorical of booleans has object .categories (#46422)
  pandas/tests/series/accessors/test_cat_accessor.py
Due: none

Bug fix - cannot construct Index of empty tuples (#46238)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexes/base_class/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

REF: move ArrowStringArray.__setitem__ and related methods to ArrowExtensionArray (#46439)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/string_arrow.py
Due: use-pd_array-in-core

REF: Eliminate another iterchunks call in ArrowExtensionArray (#46448)
  pandas/core/arrays/_mixins.py
Due: use-pd_array-in-core

BUG: Allow passing of args/kwargs to groupby.apply with str func (#46481)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_apply.py
Due: flake8-rst, use-pd_array-in-core

API: User-control of result keys in GroupBy.apply (#34998)
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v0.25.0.rst
  doc/source/whatsnew/v1.4.0.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/resample.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/tests/extension/base/groupby.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_apply_mutate.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_grouping.py
  pandas/tests/groupby/test_timegrouper.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/resample/test_base.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/test_multilevel.py
  pandas/tests/window/test_groupby.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

updated head and tail docstrings (#46466)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

CLN: assorted (#46420)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/hashing.pyx
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/_libs/hashtable_func_helper.pxi.in
  pandas/_libs/interval.pyx
  pandas/_libs/lib.pyx
  pandas/_libs/ops.pyx
  pandas/_libs/parsers.pyx
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/nattype.pxd
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/strptime.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/util.pxd
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/indexes/datetimelike.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

REF: avoid python-space calls in _get_dst_hours (#46436)
  pandas/_libs/tslibs/tzconversion.pyx
Due: none

CI: pre-commit autoupdate to fix CI (#46558)
  .pre-commit-config.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Fix showing "None" as ylabel in :meth:`Series.plot` when not setting ylabel (#46445)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/test_series.py
Due: flake8-rst

BUG: groupby().rolling(freq) with monotonic dates within groups #46065 (#46567)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core

DOC: Start v1.4.3 release notes (#46609)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.4.2.rst
  doc/source/whatsnew/v1.4.3.rst
Due: flake8-rst

ENH: implement astype_overflowsafe for dt64 (#46478)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/_libs/tslibs/src/datetime/np_datetime.h
  pandas/tests/tslibs/test_np_datetime.py
Due: none

Fix CI (#46489)
  pandas/_libs/tslibs/tzconversion.pyx
Due: none

TYP: misc (#46513)
  pandas/_typing.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/numeric.py
  pandas/core/reshape/util.py
  pandas/io/formats/csvs.py
Due: use-pd_array-in-core

DOC remove unused data param from INFO_DOCSTRING (#46503)
  pandas/io/formats/info.py
Due: none

Reorder YAML (#46542)
  .github/workflows/posix.yml
Due: none

DOC: moved release note for #46087 (#46604)
  doc/source/whatsnew/v1.4.2.rst
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

Update install.rst (#46461)
  doc/source/getting_started/install.rst
Due: flake8-rst

REGR: groupby.transform producing segfault (#46585)
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/transform/test_transform.py
Due: use-pd_array-in-core

REGR: Bar plot axis timestamp to string conversion error (#46413)
  pandas/tests/plotting/test_misc.py
Due: none

TST: JSONArray test_combine_first sometimes passes (#46450)
  pandas/tests/extension/json/test_json.py
Due: none

TYP: Many typing constructs are invariant
  pandas/_typing.py
Due: none

REF: implement periods_per_day (#46462)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

CI: Test on Cython 3.0 on numpydev (#46029)
  ci/deps/actions-310-numpydev.yaml
  pandas/_libs/interval.pyx
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
Due: none

DOC: setting allows_duplicate_labels=False(#46480) (#46495)
  doc/source/user_guide/duplicates.rst
Due: flake8-rst

GHA: Use bash -el (#46541)
  .github/actions/build_pandas/action.yml
  .github/actions/setup/action.yml
  .github/workflows/asv-bot.yml
  .github/workflows/code-checks.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
Due: none

BUG: ExcelWriter's engine and supported_extensions are properties (#46444)
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_util.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/excel/_xlwt.py
  pandas/tests/io/excel/test_writers.py
Due: none

Revert "TYP: Many typing constructs are invariant" (#46530)
  pandas/_typing.py
Due: none

Upgrade GitHub Actions versions (#46540)
  .github/workflows/asv-bot.yml
  .github/workflows/autoupdate-pre-commit-config.yml
  .github/workflows/code-checks.yml
  .github/workflows/comment_bot.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
Due: none

DOC: 1.4.2 release date (#46605)
  doc/source/whatsnew/v1.4.2.rst
Due: flake8-rst

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
