Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

BUG: frame.iloc[i] with a single EA column (#45241)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/indexing/test_iloc.py
Due: flake8-rst, use-pd_array-in-core

DEPR: inconsistent series[i:j] slicing with Int64Index GH#45162 (#45324)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/numeric.py
  pandas/core/indexing.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/series/indexing/test_get.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_item.py
  pandas/tests/window/test_apply.py
  pandas/tests/window/test_ewm.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_rolling_functions.py
  pandas/tests/window/test_rolling_quantile.py
  pandas/tests/window/test_rolling_skew_kurt.py
Due: flake8-rst, use-pd_array-in-core

API: Allow other na values in StringArray Constructor (#45168)
  asv_bench/benchmarks/strings.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/core/arrays/string_.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/dtypes/test_inference.py
Due: flake8-rst, use-pd_array-in-core

CLN: reuse helper (#45401)
  pandas/core/dtypes/concat.py
Due: use-pd_array-in-core

BUG: DataFrameGroupBy.value_counts() fails if as_index=False and there are duplicate column labels (#45160)
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_frame_value_counts.py
Due: use-pd_array-in-core

TST: xfail test_arrowparquet_options for windows (#45354)
  pandas/tests/io/test_fsspec.py
Due: none

MISC: Check that min versions are aligned in CI and import_optional_dependency (#45219)
  .pre-commit-config.yaml
  ci/deps/actions-38-minimum_versions.yaml
  doc/source/getting_started/install.rst
  pandas/compat/_optional.py
  scripts/validate_min_versions_in_sync.py
Due: flake8-rst, sync-flake8-versions

BUG: Fix for xlabel/ylabel in barh plot (#45145)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/test_series.py
Due: flake8-rst

BUG: setitem into complex64 overflow (#45285)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

REGR: DataFrame.reset_index with empty RangeIndex (#45377)
  pandas/core/indexes/base.py
  pandas/tests/frame/methods/test_reset_index.py
Due: use-pd_array-in-core

DOC: Improve gotchas.rst (#45375)
  doc/source/user_guide/gotchas.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/io/formats/info.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

BUG: Timestamp.to_pydatetime losing 'fold' (#45087)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/scalar/timestamp/test_timezones.py
Due: flake8-rst

PERF: avoid copies in lib.infer_dtype (#45057)
  pandas/_libs/lib.pyx
  pandas/conftest.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/arrays/integer/test_construction.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/dtypes/test_inference.py
Due: use-pd_array-in-core

DEPR: un-deprecate errors kwd reverts #44294 (#45334)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

BUG: no `apply` to empty df in `Styler` (#45383)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_style.py
Due: flake8-rst

BUG: categorical-with-nas to float64 instead of object (#45359)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/concat.py
  pandas/core/indexes/category.py
  pandas/tests/reshape/concat/test_append_common.py
Due: flake8-rst, use-pd_array-in-core

BUG: frame[x].loc[y] inconsistent with frame.at[x, y] GH#22372 (#45287)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/managers.py
  pandas/tests/indexing/test_at.py
  pandas/tests/internals/test_internals.py
Due: flake8-rst, use-pd_array-in-core

STYLE: use option_context almost always (#45407)
  pandas/tests/indexes/multi/test_formats.py
  pandas/tests/indexing/test_chaining_and_caching.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_put.py
  pandas/tests/plotting/test_backend.py
  pandas/tests/test_expressions.py
  pandas/tests/test_nanops.py
Due: none

DOC: whatsnew note for groupby.apply bugfix (#45393)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

CLN: consolidate arg no longer needed (#45400)
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/base.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG/PERF: MaskedArray.__setitem__ validation (#45404)
  pandas/core/arrays/masked.py
  pandas/core/dtypes/missing.py
  pandas/io/stata.py
  pandas/tests/arrays/masked/test_indexing.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_where.py
Due: use-pd_array-in-core

CI: py38 builds (#45429)
  pandas/core/arrays/masked.py
Due: use-pd_array-in-core

REF: de-duplicate methods across nullable EA subclasses (#45380)
  pandas/core/arrays/boolean.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
Due: use-pd_array-in-core

BUG: Float64Index.astype('u8') returns Int64Index (#45309)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/__init__.py
  pandas/conftest.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/astype.py
  pandas/core/indexes/numeric.py
  pandas/tests/base/test_misc.py
  pandas/tests/indexes/interval/test_astype.py
  pandas/tests/indexes/numeric/test_astype.py
  pandas/tests/series/methods/test_astype.py
Due: flake8-rst, use-pd_array-in-core

TST: Split/parameterize indexing tests (#45325)
  pandas/conftest.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/indexing/test_scalar.py
Due: none

DOC: Improve sparse.rst (#45376)
  doc/source/reference/arrays.rst
  doc/source/user_guide/sparse.rst
Due: flake8-rst, title-capitalization

BUG: Timestamp(2020,1, 1, tzinfo=foo) GH#31929 (#45308)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_constructors.py
Due: flake8-rst

BUG: hash_array TypeError instead of AttributeError on Index GH#42003 (#45301)
  pandas/core/util/hashing.py
  pandas/tests/util/test_hashing.py
Due: use-pd_array-in-core

CI: Simplify GHA dependency files (#45257)
  .github/workflows/posix.yml
  ci/deps/actions-38-locale.yaml
  ci/deps/actions-38-locale_slow.yaml
  ci/deps/actions-38-slow.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39-slow.yaml
  ci/deps/actions-39.yaml
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tools/test_to_time.py
Due: none

ENH: support 'out' keyword in Categorical.__array_ufunc__ (#45381)
  pandas/core/arrays/categorical.py
  pandas/core/arrays/numpy_.py
  pandas/tests/arrays/test_numpy.py
  pandas/tests/extension/decimal/array.py
  pandas/tests/indexes/test_numpy_compat.py
Due: use-pd_array-in-core

BUG: DataFrame.astype preserve subclasses GH#40810 (#45272)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/tests/frame/test_subclass.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

REF: Share Block.setitem (#45348)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

REF: use standard coerce pattern in Block.shift (#45353)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

REG/REF: close file handles engine-independently in read_csv (#45389)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_typing.py
  pandas/io/parsers/arrow_parser_wrapper.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_unsupported.py
Due: flake8-rst

DEPR: Series/DataFrame/HDFStore.iteritems() (#45321)
  doc/source/user_guide/scale.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/sparse/accessor.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/io/pytables.py
  pandas/tests/frame/test_api.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/series/test_api.py
  pandas/tests/series/test_iteration.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DEPR: SparseArray.astype(dtype) respect non-sparse dtype (#45339)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/asserters.py
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/concat.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/extension/base/reshaping.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/frame/methods/test_append.py
  pandas/tests/reshape/concat/test_concat.py
Due: flake8-rst, use-pd_array-in-core

BUG: correctly instantiate subclassed DataFrame/Series in groupby apply (#45363)
  pandas/core/groupby/ops.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/groupby/test_groupby_subclass.py
Due: use-pd_array-in-core

DOC: Clean up redirects & dead links (#45408)
  doc/source/development/code_style.rst
  doc/source/development/contributing_codebase.rst
  doc/source/development/contributing_environment.rst
  doc/source/development/debugging_extensions.rst
  doc/source/development/extending.rst
  doc/source/development/maintaining.rst
  doc/source/development/roadmap.rst
  doc/source/ecosystem.rst
  doc/source/getting_started/comparison/comparison_with_r.rst
  doc/source/getting_started/comparison/comparison_with_sas.rst
  doc/source/getting_started/comparison/comparison_with_spreadsheets.rst
  doc/source/getting_started/comparison/comparison_with_stata.rst
  doc/source/getting_started/install.rst
  doc/source/getting_started/overview.rst
  doc/source/getting_started/tutorials.rst
  doc/source/user_guide/advanced.rst
  doc/source/user_guide/basics.rst
  doc/source/user_guide/cookbook.rst
  doc/source/user_guide/enhancingperf.rst
  doc/source/user_guide/gotchas.rst
  doc/source/user_guide/io.rst
  doc/source/user_guide/missing_data.rst
  doc/source/user_guide/style.ipynb
  doc/source/user_guide/visualization.rst
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v0.16.2.rst
  doc/source/whatsnew/v0.20.0.rst
  doc/source/whatsnew/v1.1.0.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/sas/sas_xport.py
Due: flake8-rst, title-capitalization

PERF: avoid SQL MetaData reflection in init #45260 (#45371)
  pandas/io/sql.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
