Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

BUG: Timedelta(td64, unit=foo) silent overflow (#46827)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_constructors.py
Due: flake8-rst

BUG: Coerce to native types to_dict list and index (#46751) (#46752)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_to_dict.py
Due: flake8-rst, use-pd_array-in-core

DOC: fix typo in docstrings (#46866)
  pandas/_testing/asserters.py
Due: none

DOC: sample variance -> population variance (#46482) (#46711)
  doc/source/user_guide/gotchas.rst
Due: flake8-rst

REF: libhashtable.mode support mask (#46880)
  pandas/_libs/hashtable.pyi
  pandas/_libs/hashtable_func_helper.pxi.in
  pandas/core/algorithms.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/masked.py
Due: use-pd_array-in-core

REF: Use Localizer more (#46898)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

REF: stronger typing in _box_func (#46917)
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/nanops.py
  pandas/tests/arrays/timedeltas/test_reductions.py
  pandas/tests/test_nanops.py
Due: use-pd_array-in-core

ENH: Add numeric_only to resampler methods (#46792)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resample_api.py
Due: flake8-rst, use-pd_array-in-core

CI: More targeted pyarrow version testing (#46912)
  .github/workflows/posix.yml
Due: none

CLN: assorted cleanups in cython (#46861)
  pandas/_libs/algos.pyx
  pandas/_libs/groupby.pyx
  pandas/_libs/hashing.pyx
  pandas/_libs/internals.pyx
  pandas/_libs/interval.pyx
  pandas/_libs/join.pyx
  pandas/_libs/lib.pyx
  pandas/_libs/missing.pyx
  pandas/_libs/ops.pyx
  pandas/_libs/parsers.pyx
  pandas/_libs/properties.pyx
  pandas/_libs/reshape.pyx
  pandas/_libs/sparse.pyx
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/ccalendar.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/_libs/window/aggregations.pyx
  pandas/_libs/writers.pyx
  pandas/io/sas/sas.pyx
Due: none

BUG: fix rolling with centering and axis=1 (#46135) (#46265)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_win_type.py
Due: flake8-rst, use-pd_array-in-core

ENH: use same value counts for roll_var to remove floating point artifacts (#46431)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/core/_numba/kernels/sum_.py
  pandas/core/_numba/kernels/var_.py
  pandas/core/window/rolling.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_rolling.py
Due: flake8-rst, use-pd_array-in-core

ENH: support mask in libalgos.rank (#46932)
  pandas/_libs/algos.pyi
  pandas/_libs/algos.pyx
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_rank.py
Due: use-pd_array-in-core

ENH: ints_to_pytimedelta support non-nano (#46828)
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/timedeltas.py
  pandas/tests/tslibs/test_timedeltas.py
Due: use-pd_array-in-core

TYP: tighten return type in function any (#46638)
  pandas/core/frame.py
  pandas/core/series.py
Due: use-pd_array-in-core

REF: avoid ravel in DatetimeArray.to_period (#46816)
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

ENH: Same val counts for roll sum mean (#46715)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/core/_numba/kernels/mean_.py
  pandas/core/_numba/kernels/sum_.py
  pandas/tests/window/test_rolling.py
Due: flake8-rst, use-pd_array-in-core

TYP: Make temporary variables in pandas/__init__.py private (#46698)
  pandas/__init__.py
Due: none

CI/DOC: Fix to_hdf docstring validation (#46949)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: Timestamp.month_name, day_name support non-nano (#46959)
  asv_bench/benchmarks/tslibs/fields.py
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/tslibs/test_fields.py
Due: use-pd_array-in-core

TYP: overload maybe_downcast_numeric and maybe_downcast_to_dtype (#46929)
  pandas/core/dtypes/cast.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/interval.py
Due: use-pd_array-in-core

BUG: Series.map is ignoring the na_action keyword (#46860)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/base.py
  pandas/tests/apply/test_invalid_arg.py
Due: flake8-rst, use-pd_array-in-core

DOC: add examples to groupby.first (#46766)
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core

BUG: parsing nanoseconds incorrect resolution (#46811)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.c
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.h
  pandas/tests/scalar/period/test_period.py
  pandas/tests/tslibs/test_parsing.py
Due: flake8-rst

TYP: resolve ignored mypy errors in core/describe.py (#46928)
  pandas/core/describe.py
  pandas/io/formats/format.py
Due: use-pd_array-in-core

fix pandas.show_versions() and remove pin for setuptools (#47096)
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  ci/setup_env.sh
  pandas/tests/util/test_show_versions.py
  pandas/util/_print_versions.py
Due: none

CI: Move MacOS build from Azure to GHA (#46981)
  .github/workflows/macos-windows.yml
  azure-pipelines.yml
  ci/azure/posix.yml
  ci/setup_env.sh
Due: none

CI: Ensure no-use-pep517 with no-build-isolation with new pip (#47015)
  ci/setup_env.sh
Due: none

DOC: Ignore certain doctest warnings (#47083)
  pandas/conftest.py
  pyproject.toml
Due: none

DOC: Fix deprecation warnings in docs for groupby nuisance columns (#47065)
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
  doc/source/user_guide/10min.rst
  doc/source/user_guide/groupby.rst
  doc/source/user_guide/indexing.rst
  doc/source/user_guide/reshaping.rst
  doc/source/user_guide/timeseries.rst
  doc/source/whatsnew/v0.18.1.rst
  doc/source/whatsnew/v0.19.0.rst
Due: flake8-rst

TYP: Fix core/groupby/generic.py lexsort attr-defined type ignore (#46521)
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core

CI: Move 32 bit Linux build to GHA (#47020)
  .github/workflows/32-bit-linux.yml
  .github/workflows/python-dev.yml
  README.md
  azure-pipelines.yml
  doc/source/development/contributing_codebase.rst
  pandas/conftest.py
  pandas/tests/io/conftest.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
Due: flake8-rst, title-capitalization

REF: simplify tzconversion (#47019)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/tests/tslibs/test_conversion.py
Due: none

REF: Manager.fast_xs to return SingleBlockManager instead of array (#47077)
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_indexing.py
Due: use-pd_array-in-core, no-bool-in-core-generic

CI: Move Windows build from Azure to GHA (#46960)
  .github/actions/build_pandas/action.yml
  .github/workflows/posix.yml
  .github/workflows/windows.yml
  azure-pipelines.yml
  ci/azure/windows.yml
Due: none

CLN: mmap used by only read_csv (#46967)
  pandas/io/common.py
  pandas/tests/io/test_common.py
Due: none

REGR: Raise NotImplementedError for agg with axis=1 and multiple funcs (#47078)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/apply.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/window/test_api.py
Due: flake8-rst, use-pd_array-in-core

TYP/CI: bump mypy&pyright (#46905)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  doc/source/whatsnew/v1.5.0.rst
  environment.yml
  pandas/_config/localization.py
  pandas/_libs/tslibs/timestamps.pyi
  pandas/core/arrays/masked.py
  pandas/io/parsers/base_parser.py
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions, use-pd_array-in-core

DEPS: Bump optional dependencies (#47048)
  ci/deps/actions-38-minimum_versions.yaml
  doc/source/whatsnew/v1.5.0.rst
  pandas/compat/_optional.py
  pandas/tests/io/data/excel/high_surrogate.xlsx
  pandas/tests/io/excel/__init__.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/excel/test_xlrd.py
  pandas/tests/io/formats/style/test_highlight.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/series/methods/test_interpolate.py
Due: flake8-rst

DOC: pyarrow >= 8.0.0 supports timedelta (#47012)
  doc/source/user_guide/io.rst
Due: flake8-rst
