Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

ENH: Index[bool] (#45061)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/index.pyi
  pandas/_libs/index.pyx
  pandas/conftest.py
  pandas/core/algorithms.py
  pandas/core/indexes/base.py
  pandas/core/tools/datetimes.py
  pandas/core/util/hashing.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_drop.py
  pandas/tests/series/methods/test_value_counts.py
  pandas/tests/series/test_logical_ops.py
  pandas/tests/test_algos.py
Due: flake8-rst, use-pd_array-in-core

REF: standardize patterns in Block Methods (#45840)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

REF/TYP: collect Block methods (#45770)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

DOC: minor tidy of 1.4.1 release notes (#45758)
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

DOC: Update import statement (GH21749) (#45841)
  pandas/core/algorithms.py
Due: use-pd_array-in-core

Test to datetime null to NaT (#45512)
  pandas/tests/tools/test_to_datetime.py
Due: none

TST: Remove unused fixtures in tests (#45843)
  pandas/conftest.py
  pandas/tests/apply/test_str.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/io/json/test_json_table_schema.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
Due: none

Remove dependencies to Conda (#45641)
  .pre-commit-config.yaml
  environment.yml
  pandas/io/formats/excel.py
  pandas/io/json/_json.py
  pandas/io/pytables.py
  requirements-dev.txt
  scripts/tests/test_sync_flake8_versions.py
  setup.cfg
Due: pip-to-conda, sync-flake8-versions

DOC: 1.4.1 release date (#45936)
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

BUG: rolling(axis=1).apply() raising ValueError (#45925)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_apply.py
Due: flake8-rst, use-pd_array-in-core

TST: Clean test_pickle (#45866)
  pandas/tests/io/test_pickle.py
Due: none

PERF: Merge empty frame (#45838)
  asv_bench/benchmarks/join_merge.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Due: flake8-rst, use-pd_array-in-core

CI: Add single_cpu build (#45995)
  .github/workflows/posix.yml
  pandas/tests/io/parser/conftest.py
Due: none

DEPS/DOC: unpin numpydoc #39688 (#45830)
  environment.yml
  requirements-dev.txt
  scripts/validate_docstrings.py
Due: pip-to-conda, sync-flake8-versions

DOC: examples for Styler.pipe (#45880)
  doc/source/_static/style/df_pipe_applydata.png
  doc/source/_static/style/df_pipe_applymap.png
  doc/source/_static/style/df_pipe_hl.png
  doc/source/_static/style/df_pipe_hl2.png
  pandas/io/formats/style.py
Due: none

CI: Unpin Cython on PyPy testing (#46016)
  .github/workflows/posix.yml
Due: none

TST: Test change axis in boxplot #2980 (#45899)
  pandas/tests/plotting/test_boxplot_method.py
Due: none

TST: add test for compatibility with numpy datetime64 (#45766)
  pandas/tests/tseries/frequencies/test_freq_code.py
Due: none

TST: add test for Index.where (#32413) (#45870)
  pandas/tests/indexes/numeric/test_indexing.py
Due: none

TST: Parameterize tests (#45862)
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/arrays/sparse/test_indexing.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexes/period/test_tools.py
  pandas/tests/io/parser/test_textreader.py
Due: none

REF: share MaskedArray methods (#45951)
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
Due: use-pd_array-in-core

BUG: DateOffset(n) not defaulting to days (#45909)
  doc/source/whatsnew/v1.4.1.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/tseries/offsets/test_offsets.py
Due: flake8-rst

CI: Always run clipboard tests on GHA Linux (#45868)
  .github/workflows/posix.yml
  ci/run_tests.sh
  pandas/tests/io/test_clipboard.py
Due: none

CI: Debug min build timing out (#45946)
  .github/workflows/datamanger.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/azure/posix.yml
  pandas/compat/pyarrow.py
  pandas/tests/base/test_unique.py
  pandas/tests/frame/methods/test_rank.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/json/test_compression.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/conftest.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_categorical.py
  pandas/tests/io/pytables/test_errors.py
  pandas/tests/io/pytables/test_file_handling.py
  pandas/tests/io/pytables/test_keys.py
  pandas/tests/io/pytables/test_put.py
  pandas/tests/io/pytables/test_read.py
  pandas/tests/io/pytables/test_retain_attributes.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/io/pytables/test_time_series.py
  pandas/tests/io/test_clipboard.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_sql.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/series/methods/test_rank.py
  pandas/tests/test_algos.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
  pyproject.toml
  test_fast.bat
  test_fast.sh
Due: none

PERF: faster constructors from ea scalars (#45854)
  asv_bench/benchmarks/frame_ctor.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
Due: flake8-rst, use-pd_array-in-core

ENH: port time.pxd from cython (#45864)
  pandas/_libs/tslibs/ctime.pyx
  pandas/tests/tslibs/test_api.py
  pandas/tests/tslibs/test_ctime.py
  setup.py
Due: none

DOC: fix URLs, formatting and typos (#45920)
  pandas/core/generic.py
  pandas/plotting/_core.py
  web/pandas/about/index.md
  web/pandas/community/ecosystem.md
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: Index[complex] (#45845)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/index.pyi
  pandas/_libs/index_class_helper.pxi.in
  pandas/conftest.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/base/test_misc.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/methods/test_value_counts.py
Due: flake8-rst, use-pd_array-in-core

TST: Use uuid instead of random chars for temp files (#45996)
  pandas/_testing/contexts.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/pytables/conftest.py
  pandas/tests/io/test_pickle.py
Due: none

BUG/ENH: Translate CSS border properties for `Styler.to_excel` (#45312)
  doc/source/user_guide/style.ipynb
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/css.py
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_style.py
  pandas/tests/io/formats/test_css.py
  pandas/tests/io/formats/test_to_excel.py
Due: flake8-rst

DOC: follow-up #45616, move release note from bugfix to regression section (#45877)
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

CI/TST: add is_ci_environment to test_close_file_handle_on_invalid_usecols skip (#45872)
  pandas/tests/io/parser/test_unsupported.py
Due: none

TST: Use pytest idioms in test_libsparse (#45975)
  pandas/tests/arrays/sparse/test_libsparse.py
Due: none

TST: Clean tests/plotting (#45992)
  pandas/plotting/_matplotlib/compat.py
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/tools.py
  pandas/tests/plotting/common.py
  pandas/tests/plotting/conftest.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
  pandas/tests/plotting/frame/test_frame_groupby.py
  pandas/tests/plotting/frame/test_frame_subplots.py
  pandas/tests/plotting/frame/test_hist_box_by.py
  pandas/tests/plotting/test_boxplot_method.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/plotting/test_hist_method.py
  pandas/tests/plotting/test_misc.py
  pandas/tests/plotting/test_series.py
Due: none

REF: Share NumericArray/NumericDtype methods (#45997)
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/numeric.py
  pandas/core/arrays/string_.py
  pandas/core/groupby/ops.py
  pandas/io/stata.py
  pandas/tests/frame/methods/test_astype.py
Due: use-pd_array-in-core

BUG: Error reporting str.startswith and str.endswith (#45897)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_strings.py
Due: flake8-rst, use-pd_array-in-core

DOC: append deprecation (#45587)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/series.py
Due: flake8-rst, use-pd_array-in-core

TST: Inline once used variables & parameterize (#45976)
  pandas/tests/apply/test_str.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/test_html.py
  pandas/tests/series/test_ufunc.py
  pandas/tests/test_multilevel.py
  pandas/tests/test_nanops.py
Due: none

BUG: to_csv not respecting float_format for Float64 (#46007)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/io/formats/test_to_csv.py
Due: flake8-rst, use-pd_array-in-core

TST: Simplify test_register_writer (#45984)
  pandas/tests/io/excel/test_writers.py
Due: none
