Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

REF: implement utc_val_to_local_val (#46847)
  pandas/_libs/tslibs/vectorized.pyx
Due: none

ENH: add validate as a param to join (#46622) (#46740)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_join.py
Due: flake8-rst, use-pd_array-in-core

Update Git.io deprecated link (#46888) (#46899)
  pandas/core/strings/object_array.py
Due: use-pd_array-in-core

TST: Fix flaky xfail condition (#46871)
  pandas/tests/computation/test_eval.py
Due: none

DOC: GH27557 Updates Python support documentation to match NumPy NEP 29 (#46883)
  doc/source/development/policies.rst
Due: flake8-rst, title-capitalization

add some properties to Timestamp (#46761)
  pandas/_libs/tslibs/timestamps.pyi
Due: none

Styler whatsew (#46897)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

STYL: a few cleanups in pyi files (#46921)
  pandas/_libs/hashtable.pyi
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/conftest.py
  pyproject.toml
Due: none

TYP: na_value (#46603)
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numpy_.py
  pandas/core/base.py
  pandas/core/internals/managers.py
  pandas/tests/extension/decimal/array.py
Due: use-pd_array-in-core

ENH: add support for reading .tar archives (#44787)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/_io.py
  pandas/_typing.py
  pandas/conftest.py
  pandas/core/shared_docs.py
  pandas/io/common.py
  pandas/tests/io/formats/test_to_csv.py
  pandas/tests/io/json/test_compression.py
  pandas/tests/io/parser/test_compression.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/parser/test_read_fwf.py
  pandas/tests/io/test_compression.py
  pandas/tests/io/test_gcs.py
  pandas/tests/io/test_pickle.py
  pandas/tests/io/test_stata.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/io/xml/test_xml.py
Due: flake8-rst, use-pd_array-in-core

TST: GH38947 creating function to test bar plot index (#46451)
  pandas/tests/plotting/test_misc.py
Due: none

DOC: Added plt.show() at the end of each necessary block (#45772) (#46231)
  doc/source/getting_started/intro_tutorials/04_plotting.rst
Due: flake8-rst

DOC: fix rsplit doc (#46835)
  pandas/core/strings/accessor.py
Due: use-pd_array-in-core

ENH: allow non-nano in DatetimeArray, TimedeltaArray._simple_new (#46901)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/tslibs/test_api.py
  pandas/tests/tslibs/test_np_datetime.py
Due: use-pd_array-in-core

Fix link to be *true* raw data (#46963)
  doc/source/getting_started/intro_tutorials/includes/titanic.rst
Due: flake8-rst

ENH: Implement DataFrame interchange protocol (#46141)
  doc/source/reference/frame.rst
  doc/source/reference/general_functions.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/api/__init__.py
  pandas/api/exchange/__init__.py
  pandas/core/exchange/__init__.py
  pandas/core/exchange/buffer.py
  pandas/core/exchange/column.py
  pandas/core/exchange/dataframe.py
  pandas/core/exchange/dataframe_protocol.py
  pandas/core/exchange/from_dataframe.py
  pandas/core/exchange/utils.py
  pandas/core/frame.py
  pandas/tests/api/test_api.py
  pandas/tests/exchange/conftest.py
  pandas/tests/exchange/test_impl.py
  pandas/tests/exchange/test_spec_conformance.py
  pandas/tests/exchange/test_utils.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

ENH: Create ArrowDtype (#46774)
  pandas/core/arrays/arrow/dtype.py
Due: use-pd_array-in-core

DataFrame.replace with dict doesn't work when value=None (#46930)
  pandas/core/shared_docs.py
Due: use-pd_array-in-core

TYP: fix a few annotations in offsets.pyi (#46920)
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/offsets.pyx
Due: none

PERF: use C version of np.empty (#46878)
  pandas/_libs/lib.pyx
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/period.pyx
Due: none

DOC: fix cookbook groupby & transform example (#46957)
  doc/source/user_guide/cookbook.rst
Due: flake8-rst

Remove windows shim (#46437)
  pandas/_libs/src/headers/ms_inttypes.h
  pandas/_libs/src/headers/ms_stdint.h
  pandas/_libs/src/headers/stdint.h
  pandas/_libs/src/parser/tokenizer.h
  pandas/_libs/util.pxd
Due: none

ENH: initial support for non-nano Timestamp (#46839)
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  setup.py
Due: none

ENH: Add numeric_only to certain groupby ops (#46728)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/shared_docs.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_quantile.py
Due: flake8-rst, use-pd_array-in-core

REF: remove unnecessary args in libparsing (#46821)
  pandas/_libs/tslibs/parsing.pyi
  pandas/_libs/tslibs/parsing.pyx
  pandas/core/tools/datetimes.py
Due: use-pd_array-in-core

BUG: SeriesGroupBy apply wrong name (#46623)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/common.py
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_value_counts.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

BUG: to_json incorrectly localizes tz-naive datetimes to UTC (#46730)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/src/ujson/python/date_conversions.c
  pandas/_libs/src/ujson/python/objToJSON.c
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/_libs/tslibs/src/datetime/np_datetime.h
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.c
  pandas/_libs/tslibs/src/datetime/np_datetime_strings.h
  pandas/core/internals/blocks.py
  pandas/tests/io/json/test_json_table_schema.py
  pandas/tests/io/json/test_json_table_schema_ext_dtype.py
  pandas/tests/io/json/test_pandas.py
Due: flake8-rst, use-pd_array-in-core

CLN: tzconversion (#46926)
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
Due: none

REF: re-use Localizer for tz_convert_from_utc (#46803)
  asv_bench/benchmarks/tslibs/tz_convert.py
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/tslibs/test_api.py
  pandas/tests/tslibs/test_conversion.py
  pandas/tseries/frequencies.py
Due: use-pd_array-in-core

DOC: update shortened link to full (#46899) (#46907)
  pandas/core/strings/object_array.py
Due: use-pd_array-in-core

DOC: added index, dropna description for HDF methods #45030 (#46931)
  pandas/core/generic.py
  pandas/io/pytables.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: fields.get_start_end_field support non-nano (#46902)
  asv_bench/benchmarks/tslibs/fields.py
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/tslibs/test_fields.py
  setup.py
Due: use-pd_array-in-core

TYP: Index.join (#46518)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
Due: flake8-rst, use-pd_array-in-core

DEPR: numeric_only default in DataFrame methods with None/True (#46906)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/common.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/tests/frame/methods/test_cov_corr.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/resample/test_resample_api.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

CLN: Remove special case for rank in groupby.ops (#46953)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

BUG: DataFrame.dropna must not allow to set both how= and thresh= parameters (#46644)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_dropna.py
Due: flake8-rst, use-pd_array-in-core

ENH: Use pyarrow.compute for unique, dropna (#46725)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/__init__.py
  pandas/_testing/_warnings.py
  pandas/compat/__init__.py
  pandas/core/arrays/arrow/array.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/base/test_unique.py
  pandas/tests/extension/test_string.py
  pandas/tests/indexes/test_common.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_strings.py
Due: flake8-rst, use-pd_array-in-core

CI/TST: xfail git test failure on 32 bit job (#46842)
  azure-pipelines.yml
  pandas/tests/test_common.py
  pandas/tests/util/test_show_versions.py
Due: none

DOC: building page for nested methods doesn't work (#46806)
  .github/workflows/code-checks.yml
  .github/workflows/docbuild-and-upload.yml
  ci/code_checks.sh
  doc/source/index.rst.template
Due: none

TYP: fix type annotation in _has_externally_shared_axis (#46914)
  pandas/plotting/_matplotlib/tools.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
