Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

BUG: DataFrame(dict_of_series_ raising depending on order of dict (#45018)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/api.py
  pandas/core/indexes/datetimes.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/datetimes/test_setops.py
Due: flake8-rst, use-pd_array-in-core

BUG: fix GH45032 iloc(axis=1).__setitem__ axis argument (#45150)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_iloc.py
Due: flake8-rst, use-pd_array-in-core

BUG: head and tail not dropping groups with nan (#45102)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_nth.py
Due: flake8-rst, use-pd_array-in-core

CI: fix mypy complaints (#45191)
  pandas/core/ops/array_ops.py
  pandas/io/stata.py
Due: use-pd_array-in-core

BUG: Add fix for hashing timestamps with folds (#44282)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: flake8-rst

BUG: encoding_errors=None with read_csv c-engine (#45180)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/parsers.pyx
  pandas/tests/io/test_common.py
Due: flake8-rst

CLN: assorted, suppress test warnings (#45147)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/algorithms.py
  pandas/core/arraylike.py
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/sparse/scipy_sparse.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/io/formats/test_printing.py
Due: flake8-rst, use-pd_array-in-core

TYP: Made ffill_indexer arg-type ndarray (#44893)
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

API: hide NumericIndex from public top-level namespace in favor of pd.Index (#44819)
  doc/source/reference/indexing.rst
  doc/source/user_guide/advanced.rst
  doc/source/whatsnew/v0.16.2.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/__init__.py
  pandas/_testing/__init__.py
  pandas/core/indexes/category.py
  pandas/core/indexes/numeric.py
  pandas/tests/api/test_api.py
  pandas/tests/base/test_unique.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/multi/test_names.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_numpy_compat.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

BUG: allow use of both default+input resolvers in df.eval, GH34966 (#45134)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/tests/frame/test_query_eval.py
Due: flake8-rst, use-pd_array-in-core

Set correct missing value indicator in astype for categorical (#45012)
  pandas/core/arrays/categorical.py
  pandas/core/dtypes/missing.py
  pandas/tests/arrays/categorical/test_dtypes.py
Due: use-pd_array-in-core

BUG: Series.replace with value=None explicitly (#45081)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/tests/series/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

fix bug and include test (#45157)
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_to_latex.py
Due: none

TST: parameterize more tests (#45131)
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/indexing/test_scalar.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

TST: tests for setitem-like casting issues (#45154)
  pandas/tests/series/indexing/test_setitem.py
Due: none

CI/TST: Set deadline=None for flaky hypothesis test (#45118)
  pandas/tests/tseries/offsets/test_offsets_properties.py
Due: none

REF: separate numpy-specific part of can_hold_element (#45166)
  pandas/core/dtypes/cast.py
Due: use-pd_array-in-core

REF: Deduplicate to_xml code (#45132)
  pandas/core/frame.py
  pandas/io/formats/xml.py
  pandas/tests/io/xml/test_to_xml.py
Due: use-pd_array-in-core

DEPR: resample/groupby.pad/backfill in favor of ffill/bfill (#45076)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/base.py
  pandas/core/groupby/groupby.py
  pandas/core/resample.py
  pandas/tests/apply/test_str.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_subclass.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_deprecated.py
  pandas/tests/resample/test_resampler_grouper.py
Due: flake8-rst, use-pd_array-in-core

REF: standardize __array_ufunc__ patterns (#45113)
  pandas/core/arrays/categorical.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/sparse/array.py
  pandas/core/indexes/base.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/extension/decimal/array.py
Due: use-pd_array-in-core

BUG: groupby nunique not respecting observed (#45143)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_categorical.py
Due: flake8-rst, use-pd_array-in-core

Error on bad lines pyarrow (#45029)
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_unsupported.py
Due: none

BUG: IntegerArray/FloatingArray ufunc with 'out' kwd (#45122)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/masked.py
  pandas/core/missing.py
  pandas/tests/arrays/masked_shared.py
Due: flake8-rst, use-pd_array-in-core

REF: avoid object-casting in _get_codes_for_values (#45117)
  pandas/core/algorithms.py
  pandas/core/arrays/categorical.py
  pandas/tests/io/parser/dtypes/test_categorical.py
Due: use-pd_array-in-core

CI: Split CI workflow into code checks, docbuild & web, and arraymanager (#45097)
  .github/workflows/ci.yml
  .github/workflows/code-checks.yml
  .github/workflows/datamanger.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/pre-commit.yml
Due: none

DEPR: coercing bools to numeric on concat with numeric dtypes (#45101)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/dtypes/concat.py
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/concat/test_empty.py
Due: flake8-rst, use-pd_array-in-core

remove references to deprecated methods (#45159)
  pandas/io/formats/style.py
Due: none

BUG: DataFrame.pivot(index=None) with MultiIndex (#45141)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/reshape/pivot.py
  pandas/tests/reshape/test_pivot_multilevel.py
Due: flake8-rst, use-pd_array-in-core

ASV: Add merge on categorical benchmarks (#45169)
  asv_bench/benchmarks/join_merge.py
Due: none

TST: parameterize and split (#45183)
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/frame/test_stack_unstack.py
Due: none

Typ excel writer _base (#45111)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  pandas/_typing.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
Due: sync-flake8-versions

DEPR: Deprecate set and dict as indexers (#45052)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/indexing.py
  pandas/core/series.py
  pandas/tests/frame/indexing/test_getitem.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

ASV: Add benchmarks for isin (#45096)
  asv_bench/benchmarks/algos/isin.py
Due: none

Pin numpy to get ci back to green (#45179)
  environment.yml
  pandas/compat/numpy/__init__.py
  pandas/tests/frame/test_ufunc.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

TYP: fix mypy error in core.py (#45098)
  pandas/plotting/_matplotlib/core.py
Due: none

Updated environment.yml (#45130)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

Improving ambiguous doc string (#45119)
  pandas/_libs/reshape.pyx
Due: none

DEPR: Series([np.nan], dtype='i8') silently ignoring dtype (#45136)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/construction.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

BUG: merge raising KeyError with differently named indexes and on keywords (#45100)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Due: flake8-rst, use-pd_array-in-core

BUG: to_xml raising for pd.NA (#45116)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/xml.py
  pandas/tests/io/xml/__init__.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/io/xml/test_xml.py
Due: flake8-rst
