Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

Remove ctime.pyx (#47133)
  pandas/_libs/tslibs/ctime.pyx
  pandas/tests/tslibs/test_api.py
  pandas/tests/tslibs/test_ctime.py
  setup.py
Due: none

REF: PeriodArray simplify _time_shift (#47228)
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
Due: use-pd_array-in-core

docs: Fix typo (#47235)
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
Due: flake8-rst

Bug Fix: pd.DataFrame.sum with min_count changes dtype if result contains NaNs (#47091)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/nanops.py
  pandas/tests/frame/test_reductions.py
Due: flake8-rst, use-pd_array-in-core

DOC: Improve reshape\concat (#47061)
  pandas/core/reshape/concat.py
Due: use-pd_array-in-core

PERF: groupby.apply on a non-unique, unsorted index (#47234)
  asv_bench/benchmarks/groupby.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
Due: flake8-rst, use-pd_array-in-core

TYP: CallableDynamicDoc (#46786)
  pandas/_config/config.py
  pandas/_libs/indexing.pyi
  pandas/_libs/json.pyi
  pandas/_libs/reduction.pyi
  pandas/core/indexing.py
  pandas/io/sas/_sas.pyi
Due: use-pd_array-in-core

make series axis parameter docs consistent (#47109)
  pandas/core/arrays/datetimes.py
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/ops/docstrings.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/core/window/ewm.py
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, no-bool-in-core-generic

updated period.daysinmonth definition to match period.days_in_month (#47193)
  pandas/_libs/tslibs/period.pyx
Due: none

TYP: Upgrade mypy to 0.960 (#47140)
  doc/source/whatsnew/v1.5.0.rst
  environment.yml
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions

sync "inplace" document strings anywhere possible (#47122)
  pandas/core/frame.py
Due: use-pd_array-in-core

astype_overflowsafe handle timedelta64 (#47110)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/core/arrays/period.py
  pandas/tests/tools/test_to_timedelta.py
  pandas/tests/tslibs/test_api.py
  pandas/tests/tslibs/test_conversion.py
  pandas/tests/tslibs/test_np_datetime.py
Due: use-pd_array-in-core

ENH: implement Timedelta._as_unit (#47162)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: none

Test Case: pd.DataFrame.prob with min_count changes dtype if result contains NaNs (#47170)
  pandas/tests/frame/test_reductions.py
Due: none

CI: Versioneer not picking up version in 32-bit build (#47179)
  .github/workflows/32-bit-linux.yml
  pandas/tests/test_common.py
  pandas/tests/util/test_show_versions.py
Due: none

DEPR: numeric_only default in resampler ops (#47177)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resample_api.py
Due: flake8-rst, use-pd_array-in-core

BUG: pd.Timedelta(big_int, unit=W) silent overflow (#47268)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/timedeltas.py
  pandas/tests/scalar/timedelta/test_arithmetic.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: flake8-rst, use-pd_array-in-core

ENH: Incorproate ArrowDtype into ArrowExtensionArray (#47034)
  pandas/_testing/__init__.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/arrow/dtype.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/dtypes/base.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/arrays/string_/test_string_arrow.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_timestamp.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

Properly propagate exceptions in sas.pyx (#47149)
  pandas/io/sas/sas.pyx
  pandas/tests/io/sas/test_sas7bdat.py
Due: none

DEPR: display.column_space (#47280)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/config_init.py
  pandas/io/formats/format.py
  pandas/tests/frame/test_repr_info.py
  pandas/tests/io/formats/test_format.py
Due: flake8-rst, use-pd_array-in-core

TYP: setter for index/columns property-like (AxisProperty) (#46565)
  pandas/_libs/properties.pyi
  pandas/core/apply.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/generic.py
  pandas/core/series.py
  pandas/io/parsers/arrow_parser_wrapper.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ASV: add benchmark for reindex with MultiIndex containing dates (#47221)
  asv_bench/benchmarks/reindex.py
Due: none

REGR: setitem writing into RangeIndex instead of creating a copy (#47143)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/construction.py
  pandas/tests/copy_view/test_setitem.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/test_downstream.py
Due: flake8-rst, use-pd_array-in-core

ENH: Move NumExprClobberingError to error/__init__.py per GH27656 (#47253)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/computation/engines.py
  pandas/errors/__init__.py
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

DEPS/CI: Fix sdist job post numpy 18 drop (#47258)
  .github/workflows/sdist.yml
Due: none

ENH: support non-nano in Localizer (#47246)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
  setup.py
Due: none

TYP: StorageExtensionDtype.na_values (#47300)
  pandas/core/arrays/arrow/dtype.py
  pandas/core/dtypes/base.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

Fix reading some RDC compressed pages (#47115)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas.pyx
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_constants.py
  pandas/tests/io/sas/data/test_meta2_page.sas7bdat
  pandas/tests/io/sas/test_sas7bdat.py
Due: flake8-rst

Update to Documentation Intro (#47220)
  doc/source/development/contributing_documentation.rst
Due: flake8-rst, title-capitalization

BUG: Fix infinite recursion loop when pivot of IntervalTree is ±inf (#46664)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/intervaltree.pxi.in
  pandas/tests/indexes/interval/test_interval_tree.py
  pandas/tests/indexing/interval/test_interval_new.py
Due: flake8-rst

REF: remove ensure_datetime64ns, ensure_timedelta64ns (#47219)
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/cast.py
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/tslibs/test_conversion.py
Due: use-pd_array-in-core

DEPR: Timestamp(150.5, unit=Y) (#47267)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/tests/scalar/timestamp/test_constructors.py
Due: flake8-rst

Fix inconsistent uses of row-wise and column-wise in axis param docs (#47237)
  pandas/core/frame.py
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Unit Test: Construction of DataFrame works with empty list but not empty array (#47192)
  pandas/tests/frame/test_constructors.py
Due: none

DEPR: groupby.transform not aligning with input index (#47244)
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

BUG/PERF: DataFrame.to_records inconsistent dtypes for MultiIndex (#47279)
  asv_bench/benchmarks/frame_methods.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_to_records.py
Due: flake8-rst, use-pd_array-in-core

BUG: Timestamp with unit=Y or unit=M (#47266)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/tests/scalar/timestamp/test_constructors.py
Due: flake8-rst

TST: GH39126 Test barh plot with string and integer at the same column (#47306)
  pandas/tests/plotting/test_misc.py
Due: none

PERF: delta_to_nanoseconds (#47254)
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_arithmetic.py
  pandas/tests/tslibs/test_timedeltas.py
Due: none

CI: Allow more permissive HTTP retries/timeouts when connecting to conda (#47260)
  .github/actions/setup-conda/action.yml
  .github/workflows/asv-bot.yml
  .github/workflows/code-checks.yml
  .github/workflows/posix.yml
  .github/workflows/sdist.yml
  ci/condarc.yml
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
