Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CI: Troubleshoot (#45507)
  pandas/tests/io/parser/test_unsupported.py
Due: none

BUG: IntervalArray.__setitem__ with nan raise TypeError, not ValueError (#45484)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/series/methods/test_convert_dtypes.py
Due: flake8-rst, use-pd_array-in-core

BUG: Segfault in to_json with tzaware datetime (#45558)
  doc/source/whatsnew/v1.4.1.rst
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/tests/io/json/test_pandas.py
Due: flake8-rst

REF: share BooleanArray.astype+NumericArray.astype (#45420)
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/tests/arrays/floating/test_astype.py
  pandas/tests/arrays/integer/test_dtypes.py
Due: use-pd_array-in-core

REGR: changed behavior in series[period].mask(foo, bar, inplace=True) (#45546)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, use-pd_array-in-core

ENH: Add dtypes/converters arguments for pandas.read_xml (#45411)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_typing.py
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml_dtypes.py
Due: flake8-rst

DOC: Update import statement (#45485)
  pandas/tseries/holiday.py
Due: none

BLD: Fix pydata-sphix-theme version GH45374 (#45503)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

DOC: tidy 1.4.0 release notes (2) (#45536)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

Small doc fix to `usecols` argument (#45471)
  pandas/io/excel/_base.py
Due: none

BUG: Boxplots ignore xlabel and boxplot() doesn't support horizontal layout (#45465)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_matplotlib/boxplot.py
  pandas/tests/plotting/test_boxplot_method.py
Due: flake8-rst

REF: move np_can_hold_element to mgr method (#45453)
  pandas/core/frame.py
  pandas/core/internals/base.py
  pandas/core/series.py
Due: use-pd_array-in-core

Update frame.py (#45592)
  pandas/core/frame.py
Due: use-pd_array-in-core

BUG: allow DBAPI2 object #45416 (#45496)
  pandas/io/sql.py
Due: none

Bug tojson memleak (#45489)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/src/ujson/python/objToJSON.c
Due: flake8-rst

CI: Don't DataManager/Azure tests on only doc/ dir changes (#45477)
  .github/workflows/datamanger.yml
  azure-pipelines.yml
Due: none

BUG: accept strings in FloatingArray._from_sequence (#45424)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/floating.py
  pandas/tests/arrays/categorical/test_astype.py
  pandas/tests/arrays/floating/test_construction.py
Due: flake8-rst, use-pd_array-in-core

CI: Fix failing CI for test_alignment_deprecation_many_inputs (#45597)
  pandas/compat/numpy/__init__.py
  pandas/tests/frame/test_ufunc.py
Due: none

PERF: Improve performance for df.duplicated with one column subset (#45534)
  asv_bench/benchmarks/frame_methods.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_duplicated.py
Due: flake8-rst, use-pd_array-in-core

CI/DOC: Fix docbuild link warnings (#45456)
  doc/source/development/contributing_codebase.rst
  doc/source/development/roadmap.rst
  doc/source/ecosystem.rst
  doc/source/user_guide/advanced.rst
  doc/source/user_guide/cookbook.rst
  doc/source/whatsnew/v0.17.1.rst
Due: flake8-rst, title-capitalization

PERF: TimedeltaArray.astype(object) (#45571)
  pandas/core/arrays/datetimelike.py
Due: use-pd_array-in-core

WEB: update web/pandas/versions.json for docs dropdown menu (#45555)
  web/pandas/versions.json
Due: none

closes #44914 by changing the path object to string if it is of io.BufferWriter (#45480)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst

TST: Update error msg for Python 3.10 (#45567)
  pandas/tests/io/json/test_ujson.py
Due: none

TST: Add tests string series min max (#45505)
  pandas/tests/series/test_reductions.py
Due: none

DEPR: __array_wrap__ (#45517)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/tests/base/test_misc.py
  pandas/tests/test_downstream.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: start v1.4.1 release notes (#45550)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.4.0.rst
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

PERF: MaskedArray._values_for_argsort (#45434)
  pandas/core/arrays/base.py
  pandas/core/arrays/boolean.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/masked.py
Due: use-pd_array-in-core

DEPR: Index.is_monotonic for Index.is_monotonic_increasing (#45422)
  asv_bench/benchmarks/index_cached_properties.py
  asv_bench/benchmarks/multiindex_object.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/missing.py
  pandas/core/reshape/merge.py
  pandas/tests/frame/methods/test_sort_index.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/datetimelike_/test_is_monotonic.py
  pandas/tests/indexes/datetimelike_/test_sort_values.py
  pandas/tests/indexes/datetimes/test_join.py
  pandas/tests/indexes/interval/test_interval.py
  pandas/tests/indexes/multi/test_get_level_values.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/multi/test_integrity.py
  pandas/tests/indexes/multi/test_monotonic.py
  pandas/tests/indexes/multi/test_sorting.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/ranges/test_range.py
  pandas/tests/indexing/multiindex/test_sorted.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/reshape/merge/test_join.py
  pandas/tests/reshape/merge/test_merge_asof.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/series/methods/test_asof.py
  pandas/tests/series/methods/test_is_monotonic.py
  pandas/tests/series/test_api.py
  pandas/tests/test_multilevel.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

TST: Add test inconsistency in group by (#44803) (#45509)
  pandas/tests/groupby/test_groupby.py
Due: none

DOC: Added info on dict of Series with copy=False solution (#45455)
  pandas/core/frame.py
Due: use-pd_array-in-core

REGR: fix period dtype <-> arrow roundtrip for pyarrow < 4 (#45524)
  pandas/core/internals/api.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
Due: use-pd_array-in-core

test replace on out of bound datetime (#45525)
  pandas/tests/frame/methods/test_replace.py
Due: none

compat: catch dateutil ParserError (#45438)
  pandas/core/dtypes/cast.py
Due: use-pd_array-in-core

Bug: Resample ignoring closed=right for TimedeltaIndex (#45539)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_timedelta.py
Due: flake8-rst, use-pd_array-in-core

Fixes mypy attribute issue in io/parquet by adding a hasattr check (#45570)
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: none

REF: share NumericIndex.astype+Index.astype (#45405)
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

REF: Use more context managers to close files (#45579)
  doc/source/user_guide/io.rst
  pandas/io/excel/_base.py
  pandas/tests/io/excel/test_openpyxl.py
  pandas/tests/io/excel/test_style.py
  pandas/tests/io/excel/test_xlrd.py
  pandas/tests/io/excel/test_xlsxwriter.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/io/parser/test_python_parser_only.py
  pandas/tests/io/sas/test_sas7bdat.py
  pandas/tests/io/test_common.py
Due: flake8-rst

DOC: add version dropdown to the online doc site (#45370)
  doc/source/conf.py
  web/pandas/versions.json
Due: none

PERF: use groupby.transform fast path for DataFrame -> Series aggregations (#45387)
  asv_bench/benchmarks/groupby.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
Due: flake8-rst, use-pd_array-in-core
