Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

TST: Fixturize / parameterize test_sas7bdat (#45826)
  pandas/tests/frame/test_nonunique_indexes.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/io/sas/test_sas7bdat.py
  pandas/tests/series/indexing/test_xs.py
Due: none

TST: Nan must not be converted to string using .loc (#45695)
  pandas/tests/indexing/test_loc.py
Due: none

REF: extract_ordinals support 2D (#45782)
  pandas/_libs/tslibs/period.pyx
  pandas/tests/tslibs/test_period_asfreq.py
Due: none

Test case for concat inconsistent multiIndex (#45822)
  pandas/tests/reshape/concat/test_index.py
Due: none

TST: Use fixtures instead of setup_method (#45842)
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/base/test_constructors.py
  pandas/tests/indexes/test_frozen.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_timeseries_window.py
Due: none

Typ parts of python parser (#45015)
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
Due: none

REF: render trimming moved to private method (#45834)
  pandas/io/formats/style_render.py
Due: none

Test series replace different numpy int (#45797)
  pandas/tests/series/methods/test_replace.py
Due: none

REF/PERF: dont use hashtable in IndexEngine.__contains__ (#45192)
  pandas/_libs/index.pyx
  pandas/_libs/index_class_helper.pxi.in
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

BUG: consistent downcast on fillna no-ops (#45673)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/frame/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series[Interval].fillna(mismatched) coerce instead of raise (#45796)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/indexing/test_coercion.py
Due: flake8-rst, use-pd_array-in-core

bug: fix pd.NA in highlighters (#45808)
  doc/source/whatsnew/v1.4.1.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_highlight.py
Due: flake8-rst

CLN: Index methods incorrectly assuming object dtype (#45767)
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

DOC: fix incorrect pie chart documentation (#45748)
  doc/source/user_guide/visualization.rst
Due: flake8-rst

TST: Create is_ci_environment helper (#45812)
  pandas/compat/__init__.py
  pandas/tests/io/conftest.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/test_user_agent.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/test_sorting.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
Due: none

typo fix (#45777)
  doc/source/user_guide/integer_na.rst
Due: flake8-rst

TST: Ensure tm.network has pytest.mark.network (#45732)
  pandas/tests/io/conftest.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/json/data/teams.csv
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_s3.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/test_downstream.py
Due: none

REF: array_to_timedelta64 handle 2D (#45788)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/tslibs/test_timedeltas.py
Due: none

BUG: Series[Period][mask] = 'foo' raising inconsistent with non-mask indexing (#45768)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/arrays/test_period.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

Regression: Series.loc.setitem raising with all false indexer and series on rhs (#45784)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/indexing.py
  pandas/tests/series/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series.mask with small int dtypes raising (#45750)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/array_algos/putmask.py
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

BUG: fix skiprows callable infinite loop (#45586)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parsers/python_parser.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/parser/test_skiprows.py
Due: flake8-rst

BUG: Error writing an empty DataFrame to an ods file (#45794)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_odswriter.py
  pandas/tests/io/excel/test_writers.py
Due: flake8-rst

BUG: RecursionError when attempting to replace np.nan values (#45725) (#45749)
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: use-pd_array-in-core

REF: use try/except pattern in Block.setitem, EABackedBlock.setitem (#45742)
  pandas/core/arrays/datetimelike.py
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

CLN: test_eval.py (#45829)
  pandas/tests/computation/test_eval.py
Due: none

REF: implement LossySetitemError (#45672)
  pandas/core/arrays/interval.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
Due: use-pd_array-in-core

TST: Skip pyarrow hanging in MacOS CI (#45771)
  pandas/tests/io/parser/test_unsupported.py
Due: none

BUG: Categorical.view not accepting integer dtypes GH#25464 (#45300)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/indexes/categorical/test_category.py
Due: flake8-rst, use-pd_array-in-core

TST: Don't use autouse fixture in test_stata (#45831)
  pandas/tests/io/test_stata.py
Due: none

ENH: Allow safe access to `.book` in ExcelWriter (#45687)
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/excel/_xlwt.py
  pandas/tests/io/excel/test_odswriter.py
  pandas/tests/io/excel/test_openpyxl.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/excel/test_xlsxwriter.py
  pandas/tests/io/excel/test_xlwt.py
Due: none

BUG: SeriesGroupBy.value_counts - index name missing in categorical columns (#45625)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_value_counts.py
Due: flake8-rst, use-pd_array-in-core

Fixing documentation format in read_csv (#45853)
  pandas/io/parsers/readers.py
Due: none

TST: Don't use autouse fixture in test_eval (#45832)
  pandas/tests/computation/test_eval.py
Due: none

DOC: move pydata-sphinx-theme to the conda packages section (#45757)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

PERF: groupby.transform skip fast path when only a single group exists (#45820)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

DEP: Protect some ExcelWriter attributes (#45795)
  doc/source/reference/io.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/excel/_xlwt.py
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_openpyxl.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/excel/test_xlwt.py
Due: flake8-rst, title-capitalization

REF: use np_can_hold_element pattern in Block.shift (#45792)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

update caught exception (#45747)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

TST: Skip flaky, crashing test in Windows (#45786)
  pandas/tests/test_sorting.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
