Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

TST: group by - apply Key Error (#44806)
  pandas/tests/groupby/test_apply.py
Due: none

BUG: FloatingArray * np.timedelta64 (#44772)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/tests/arithmetic/test_numeric.py
Due: flake8-rst, use-pd_array-in-core

CI: Filter any SSLSocket ResouceWarnings from dependencies (#44775)
  pandas/_testing/_warnings.py
Due: none

TST: pytest.mark.parameterize some tests (#44776)
  pandas/tests/test_multilevel.py
  pandas/tests/test_nanops.py
Due: none

DOC: Fix swaplevel docstring (#44740)
  pandas/core/frame.py
  pandas/core/series.py
Due: use-pd_array-in-core

BUG: Fix regression in groupby.rolling.corr/cov when other is same size as each group (#44824)
  doc/source/whatsnew/v1.3.5.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
Due: flake8-rst, use-pd_array-in-core

TST: split/parametrize (#44805)
  pandas/_testing/asserters.py
  pandas/tests/frame/methods/test_convert.py
  pandas/tests/series/accessors/test_cat_accessor.py
  pandas/tests/series/methods/test_convert.py
Due: none

ENH: Enabling parsing ulonglong from json (#44770)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/src/ujson/lib/ultrajson.h
  pandas/_libs/src/ujson/lib/ultrajsondec.c
  pandas/_libs/src/ujson/python/JSONtoObj.c
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_ujson.py
Due: flake8-rst

TST: fix tm.to_array nullable handling (#44884)
  pandas/_testing/__init__.py
  pandas/tests/arithmetic/test_numeric.py
Due: none

CI: Troubleshoot CI (#44822)
  .github/workflows/python-dev.yml
  ci/deps/actions-39-numpydev.yaml
  pandas/_libs/ops_dispatch.pyx
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/plotting/test_datetimelike.py
Due: none

TYP: Subset of "Improved the type stubs in the _libs directory to help with type checking" (#44251)
  pandas/_libs/interval.pyx
  pandas/_libs/missing.pyi
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timestamps.pyi
  pandas/core/arrays/string_.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/dtypes.py
  pandas/core/dtypes/missing.py
  pandas/core/ops/mask_ops.py
  pandas/core/resample.py
  pandas/core/strings/object_array.py
  pandas/tests/arrays/boolean/test_logical.py
Due: use-pd_array-in-core

CLN: test_holiday (#44808)
  pandas/tests/tseries/holiday/test_holiday.py
Due: none

CLN: test_hashing (#44815)
  pandas/tests/util/test_hashing.py
Due: none

REGR: resampling DataFrame with DateTimeIndex with empty groups and uint8, uint16 or uint32 columns incorrectly raising RuntimeError (#44828)
  doc/source/whatsnew/v1.3.5.rst
  pandas/core/groupby/ops.py
  pandas/tests/resample/test_datetime_index.py
Due: flake8-rst, use-pd_array-in-core

ENH: IntervalArray.min/max (#44746)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/extension/test_interval.py
  pandas/tests/series/test_ufunc.py
Due: flake8-rst, use-pd_array-in-core

PERF: array_equivalent_object (#44832)
  pandas/core/dtypes/missing.py
Due: use-pd_array-in-core

TST: Add regression test for groupby rolling (#44774)
  pandas/tests/window/test_groupby.py
Due: none

REF: use idiomatic checks in __array_ufunc__ (#44765)
  pandas/core/arraylike.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/test_numpy.py
  pandas/tests/extension/decimal/array.py
Due: use-pd_array-in-core

TYP: Create DeepChainMap from ChainMap.new_child in scope.py (#44769)
  pandas/core/computation/scope.py
Due: use-pd_array-in-core

BUG/TST: ArrowStringArray skips/xfails (#44795)
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/test_string.py
  pandas/tests/strings/test_string_array.py
Due: use-pd_array-in-core

CI: PyPy3 testing (#44809)
  .github/workflows/posix.yml
  ci/deps/actions-pypy-38.yaml
Due: none

TYP: misc typing in _libs (#44349)
  pandas/_libs/join.pyi
  pandas/_libs/ops.pyi
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/timedeltas.pyi
Due: none

TST: fix 217 incorrect skips (#44810)
  pandas/core/indexes/datetimelike.py
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/extension/base/dim2.py
  pandas/tests/scalar/test_nat.py
Due: use-pd_array-in-core

TST: Avoid hanging behavior in test_user_agent.py (#44797)
  pandas/tests/io/test_user_agent.py
Due: none

CLN: xfails, FIXMEs (#44804)
  pandas/_testing/_warnings.py
  pandas/core/arraylike.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/numpy_.py
  pandas/core/indexes/period.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/indexes/datetimelike_/test_equals.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/period/test_period.py
  pandas/tests/indexes/test_base.py
  pandas/tests/io/parser/common/test_chunksize.py
  pandas/tests/io/test_html.py
  pandas/tests/plotting/test_series.py
  pandas/tests/series/indexing/test_setitem.py
Due: use-pd_array-in-core

BUG: MultiIndex union setting wrong sortorder parameter (#44762)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexing/multiindex/test_loc.py
Due: flake8-rst, use-pd_array-in-core

PERF: faster dataframe construction from recarray (#44827)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/construction.py
Due: flake8-rst, use-pd_array-in-core

CLN: Split test_fields.py (#44816)
  pandas/tests/tslibs/test_fields.py
Due: none

CLN: frequencies/test_inference.py (#44807)
  pandas/tests/tseries/frequencies/test_inference.py
Due: none

PERF: unstack (#44758)
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

CLN/TST: remove used-once fixtures (#44890)
  pandas/_testing/__init__.py
  pandas/conftest.py
  pandas/tests/base/test_misc.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/io/json/test_pandas.py
Due: none

CI/TST: Run http server in process instead of thread for test_user_agent.py (#44863)
  pandas/tests/io/test_user_agent.py
Due: none

CLN: Split/parameterize test_to_datetime (#44859)
  pandas/tests/tools/test_to_datetime.py
Due: none

BUG: Raise TypeError for scalar indexer in take (#44763)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

TYP: stricter type for compression (#44854)
  pandas/_typing.py
  pandas/io/parsers/readers.py
  pandas/io/xml.py
  pandas/tests/io/xml/test_to_xml.py
  pandas/tests/io/xml/test_xml.py
Due: none

REF: use dispatch_reduction_ufunc in PandasArray.__array_ufunc__ (#44820)
  pandas/core/arrays/numpy_.py
Due: use-pd_array-in-core

CI: echo PYTHONHASHSEED for (hopeful) run reproducibility (#44907)
  ci/run_tests.sh
Due: none

Remove numpy compat functions (#44895)
  pandas/compat/__init__.py
  pandas/compat/numpy/__init__.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/scalar/period/test_period.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/series/methods/test_asof.py
  pandas/tests/test_algos.py
  pandas/tests/tseries/offsets/test_business_day.py
  pandas/tests/tseries/offsets/test_offsets.py
  pandas/tests/tslibs/test_array_to_datetime.py
Due: none

BUG: nullable dtypes not preserved in Series.replace (#44940)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/array_algos/replace.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/categorical/test_replace.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

TYP: timestamps.pyi (#44339)
  pandas/_libs/tslibs/timestamps.pyi
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
