Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

TST: add test for DataFrame with duplicate indices concat (#45888)
  pandas/tests/reshape/concat/test_concat.py
Due: none

DOC: add Python 3.10 to doc (#45923)
  doc/source/getting_started/install.rst
Due: flake8-rst

DEPR: warn parameter in infer_freq (#45947)
  doc/source/whatsnew/v1.5.0.rst
  pandas/tests/tseries/frequencies/test_inference.py
  pandas/tseries/frequencies.py
Due: flake8-rst

Testcase Subtracting two series with unordered index and all-nan index produces unexpected result (#45900)
  pandas/tests/indexing/multiindex/test_multiindex.py
Due: none

TST: Use more pytest idioms in test_reductions, test_generic (#45906)
  pandas/tests/frame/test_reductions.py
  pandas/tests/generic/test_generic.py
Due: none

TST/CI: Set hypothesis deadline to None to avoid flaky failures (#45910)
  pandas/conftest.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/tseries/offsets/test_offsets_properties.py
  pandas/tests/tseries/offsets/test_ticks.py
Due: none

REF: avoid special-casing in SelectN (#45956)
  pandas/core/algorithms.py
  pandas/core/arrays/masked.py
  pandas/core/dtypes/dtypes.py
Due: use-pd_array-in-core

DOC: 1.4.1 release notes (__setitem__/__getitem__ special methods are not a valid links/ref) (#45893)
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

REF: avoid ravel/reshape in astype_nansafe, ndarray_to_mgr (#45817)
  pandas/core/construction.py
  pandas/core/dtypes/astype.py
  pandas/core/internals/construction.py
  pandas/tests/frame/test_constructors.py
Due: use-pd_array-in-core

REF: standardize ArrowExtensionArray in tests (#46009)
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/arrow/test_timestamp.py
Due: none

BUG: DataFrame[dt64].where downcasting (#45837)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/boolean/test_construction.py
  pandas/tests/dtypes/cast/test_downcast.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, use-pd_array-in-core

TST: parameterize tests/dtypes (#46012)
  pandas/tests/dtypes/test_inference.py
  pandas/tests/dtypes/test_missing.py
Due: none

DEPR: datetimelike.astype(int_other_than_i8) return requested dtype (#45574)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/arrays/period/test_astype.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/indexes/datetimes/methods/test_astype.py
  pandas/tests/indexes/interval/test_astype.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/timedeltas/methods/test_astype.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series[float32].__setitem__(int_cant_hold_in_int32) not coercing (#45844)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core

TST: Use fixture instead of base class setup (#45988)
  pandas/tests/arrays/categorical/common.py
  pandas/tests/arrays/categorical/conftest.py
  pandas/tests/arrays/categorical/test_api.py
  pandas/tests/arrays/categorical/test_indexing.py
  pandas/tests/arrays/categorical/test_operators.py
  pandas/tests/arrays/categorical/test_repr.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_constructors.py
  pandas/tests/arrays/sparse/test_unary.py
Due: none

DOC: Start v1.4.2 release notes (#45938)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.4.1.rst
  doc/source/whatsnew/v1.4.2.rst
Due: flake8-rst

REGR: drop raising with ea index and duplicates (#45983)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_drop.py
  pandas/tests/series/methods/test_drop.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: Imbalanced backticks. (#45896)
  pandas/core/common.py
Due: use-pd_array-in-core

DOC: minor tidy of 1.5 release notes (#45940)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

CI: Set max job limit for test runs (#45950)
  ci/azure/posix.yml
Due: none

PERF: use fast version of 1d-only checks (#45852)
  pandas/core/frame.py
  pandas/core/groupby/ops.py
  pandas/core/internals/concat.py
Due: use-pd_array-in-core

CI: Debug ASV timeout (#45886)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

TST: Check network URL statuses in tests (#45949)
  pandas/_testing/_io.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/xml/test_xml.py
Due: none

DOC: restore SciPy intersphinx (#45878)
  doc/source/conf.py
Due: none

CI: Align GHA and Windows Azure dependencies (#45856)
  azure-pipelines.yml
  ci/azure/windows.yml
  ci/deps/azure-windows-310.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
Due: none

DOC: How to use storage_option param here to integrate with GCP bucket? (#45928)
  pandas/core/shared_docs.py
  pandas/io/common.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odfreader.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_pyxlsb.py
  pandas/io/excel/_xlrd.py
  pandas/io/formats/xml.py
  pandas/io/xml.py
Due: use-pd_array-in-core

REF: dispatch Block.fillna to putmask/where (#45911)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

BUG: Fix implementation of temp_setattr (#45954)
  pandas/core/common.py
  pandas/tests/test_common.py
Due: use-pd_array-in-core

Removed broken link from NDFrame#interpolate docs. (#45990)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: groupby.size and groupby.transform('size') incorrect for axis=1 (#45987)
  doc/source/whatsnew/v1.5.0.rst
  pandas/conftest.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/conftest.py
  pandas/tests/groupby/test_size.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

DOCS: Add comment about index_col and forward filling missing values (#45989)
  doc/source/user_guide/io.rst
  pandas/io/excel/_base.py
Due: flake8-rst

REF: share NumericArray._arith_method with BooleanArray (#45849)
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/tests/arrays/boolean/test_arithmetic.py
  pandas/tests/arrays/masked/test_arithmetic.py
Due: use-pd_array-in-core

Pin scipy docs to 1.7.1 until 1.8 is available (#45871)
  doc/source/conf.py
Due: none

Regression: Loc raising when indexing mi with one level (#45785)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/indexes/multi.py
  pandas/tests/frame/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

BUG: index.getitem raising ValueError with boolean indexer and NA (#45985)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/base_class/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

BUG: align not adding levels only on one side if intersection is equal (#45564)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/series.py
  pandas/tests/series/methods/test_align.py
  pandas/tests/series/test_arithmetic.py
Due: flake8-rst, use-pd_array-in-core

BUG: PeriodArray subtraction returning wrong results (#46006)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/period.py
  pandas/tests/extension/test_period.py
Due: flake8-rst, use-pd_array-in-core

PERF: avoid unnecessary copies in algorithms (#46109)
  pandas/core/algorithms.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/numpy_.py
Due: use-pd_array-in-core

TST: Don't mark all plotting tests as slow (#46003)
  ci/run_tests.sh
  pandas/plotting/_core.py
  pandas/tests/plotting/common.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
  pandas/tests/plotting/frame/test_frame_groupby.py
  pandas/tests/plotting/frame/test_frame_legend.py
  pandas/tests/plotting/frame/test_frame_subplots.py
  pandas/tests/plotting/frame/test_hist_box_by.py
  pandas/tests/plotting/test_backend.py
  pandas/tests/plotting/test_boxplot_method.py
  pandas/tests/plotting/test_common.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/plotting/test_groupby.py
  pandas/tests/plotting/test_hist_method.py
  pandas/tests/plotting/test_misc.py
  pandas/tests/plotting/test_series.py
  pandas/tests/plotting/test_style.py
Due: none

BUG: Multiindex.equals not commutative for ea dtype (#46047)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_equivalence.py
Due: flake8-rst, use-pd_array-in-core
