Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

ENH: allow concat of Styler objects (#46105)
  doc/source/_static/style/footer_extended.png
  doc/source/_static/style/footer_simple.png
  doc/source/reference/style.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_exceptions.py
  pandas/tests/io/formats/style/test_html.py
  pandas/tests/io/formats/style/test_style.py
  pandas/tests/io/formats/style/test_to_latex.py
  pandas/tests/io/formats/style/test_to_string.py
Due: flake8-rst, title-capitalization

Update test_fillna.py (#46161)
  pandas/tests/series/methods/test_fillna.py
Due: none

DOC: Fixed broken link to the build from source docs in the README. (#46028)
  README.md
Due: none

REF/TST: misplaced hashtable tests, rename HashTable.map map_keys_to_values (#46106)
  pandas/_libs/hashtable.pyi
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/core/sorting.py
  pandas/tests/libs/test_hashtable.py
  pandas/tests/series/methods/test_unique.py
  pandas/tests/test_algos.py
Due: use-pd_array-in-core

DOC: Add details to DataFrame.combine_first docstring (#46060)
  pandas/core/frame.py
Due: use-pd_array-in-core

Use Mamba in Azure CI (#45902)
  ci/azure/posix.yml
  ci/azure/windows.yml
  ci/setup_env.sh
Due: none

TYP: assorted (#46121)
  pandas/core/algorithms.py
  pandas/core/array_algos/masked_reductions.py
  pandas/core/array_algos/replace.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/period.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/core/missing.py
  pandas/core/reshape/merge.py
  pandas/core/sorting.py
  pandas/core/strings/object_array.py
  pandas/core/tools/numeric.py
  pandas/core/util/hashing.py
  pandas/io/pytables.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/plotting/test_datetimelike.py
Due: use-pd_array-in-core

BUG: groupby().rolling(freq) with monotonic dates within groups (#46065)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core

fix broken Docker image build (#45889)
  .github/workflows/code-checks.yml
  Dockerfile
Due: none

CLN/TYP: remove unused (#46151)
  pandas/_libs/algos.pyi
  pandas/_libs/groupby.pyx
  pandas/_libs/hashtable.pyx
  pandas/_libs/hashtable_func_helper.pxi.in
  pandas/core/arrays/_arrow_utils.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/base.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/core/dtypes/dtypes.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
Due: use-pd_array-in-core

REF: implement ArrowExtensionArray base class (#46102)
  pandas/core/arrays/_arrow_utils.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_bool.py
Due: use-pd_array-in-core

TST: Parameterize tests (#46108)
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/frame/test_api.py
Due: none

DEPR: non-keyword args in EA.argsort (#46134)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/interval.py
Due: flake8-rst, use-pd_array-in-core

DEPR: treating float data as wall-times in DTA._from_sequence (#45573)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimes.py
  pandas/core/tools/datetimes.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/internals/test_internals.py
  pandas/tests/series/methods/test_astype.py
Due: flake8-rst, use-pd_array-in-core

TST: Split & parameterize (#46091)
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/frame/test_stack_unstack.py
Due: none

CLN: Remove Categorical.itemsize (#46137)
  pandas/core/arrays/categorical.py
Due: use-pd_array-in-core

TST: misplaced array tests (#46136)
  pandas/tests/arrays/numpy_/__init__.py
  pandas/tests/arrays/numpy_/test_indexing.py
  pandas/tests/arrays/numpy_/test_numpy.py
  pandas/tests/arrays/string_/test_indexing.py
  pandas/tests/arrays/test_array.py
Due: none

Typeinterval part2 (#46098)
  pandas/_libs/interval.pyi
  pandas/core/indexes/interval.py
  pandas/io/formats/style.py
Due: use-pd_array-in-core

is type refactor (#46119)
  pandas/io/formats/style_render.py
Due: none

REF: combine masked_cummin_max, cummin_max (#46142)
  pandas/_libs/groupby.pyx
Due: none

BUG: BooleanArray match non-masked behavior div/pow/mod (#46063)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/masked.py
  pandas/tests/arrays/boolean/test_arithmetic.py
  pandas/tests/arrays/masked/test_arithmetic.py
  pandas/tests/extension/test_boolean.py
Due: flake8-rst, use-pd_array-in-core

DOC: add note for ExtensionArray authors on relation between argmax/min and _values_for_argsort (#46022)
  pandas/core/arrays/base.py
Due: use-pd_array-in-core

ENH: IntegerArray bitwise operations (#46104)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
  pandas/tests/arrays/floating/test_arithmetic.py
  pandas/tests/arrays/integer/test_arithmetic.py
Due: flake8-rst, use-pd_array-in-core

CI: Fix line sep issue in to_csv test (#46024)
  pandas/tests/io/formats/test_to_csv.py
Due: none

Adding tests for IntervalArray.unique() for DateTimeArrays with time zones (#46153)
  pandas/tests/series/methods/test_unique.py
Due: none

CI: pin markupsafe to avoid import error (#46054)
  ci/deps/actions-38-minimum_versions.yaml
  pandas/compat/_optional.py
Due: none

Bug fix - Astype Timedelta64[ns] fails when np.nan is included (#45965)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/astype.py
  pandas/tests/series/methods/test_astype.py
Due: flake8-rst, use-pd_array-in-core

Typeinterval part1 (#46080)
  pandas/_typing.py
  pandas/core/algorithms.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/string_arrow.py
  pandas/core/common.py
  pandas/core/generic.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/interval.py
  pandas/core/tools/datetimes.py
  pandas/io/excel/_odfreader.py
  pandas/io/parsers/python_parser.py
Due: use-pd_array-in-core, no-bool-in-core-generic

PERF: support mask in group_last (#46107)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

DOC: Improve options.rst (#46124)
  doc/source/_static/option_unicode01.png
  doc/source/_static/option_unicode02.png
  doc/source/_static/option_unicode03.png
  doc/source/_static/option_unicode04.png
  doc/source/user_guide/options.rst
  doc/source/whatsnew/v0.17.0.rst
  pandas/_config/config.py
Due: flake8-rst

REF: remove no-longer-needed _validate_numeric_casting (#46131)
  pandas/core/array_algos/putmask.py
  pandas/core/dtypes/cast.py
Due: use-pd_array-in-core

BUG: .transform(...) with "first" and "last" fail when axis=1 (#46074)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

TYP: groupby, sorting (#46133)
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/reshape/reshape.py
  pandas/core/sorting.py
  pandas/tests/test_sorting.py
Due: use-pd_array-in-core

BUG/REF: Use lru_cache instead of NUMBA_FUNC_CACHE (#46086)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/_numba/executor.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/numba_.py
  pandas/core/util/numba_.py
  pandas/core/window/ewm.py
  pandas/core/window/numba_.py
  pandas/core/window/online.py
  pandas/core/window/rolling.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
  pandas/tests/window/test_numba.py
Due: flake8-rst, use-pd_array-in-core

typo fixed in indexing.rst (#46130)
  doc/source/user_guide/indexing.rst
Due: flake8-rst

CI: Align MacOS dependencies with other builds (#46118)
  azure-pipelines.yml
  ci/azure/posix.yml
  ci/deps/azure-macos-310.yaml
  ci/deps/azure-macos-38.yaml
  ci/deps/azure-macos-39.yaml
  ci/setup_env.sh
Due: none

Inconsistent handling of duplicate axes + mixed dtypes in DataFrame.where #25399 (#46139)
  pandas/tests/frame/indexing/test_where.py
Due: none

DOC: Add "build C extensions" note (#46055)
  doc/source/development/contributing_environment.rst
Due: flake8-rst, title-capitalization

PERF: support mask in libgroupby.group_nth (#46163)
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

Test case dataframe.groupby incorrect with multiindex and None value (#45982)
  pandas/tests/groupby/test_indexing.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
