Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CI: Ensure GHA uses major versions of actions (#45355)
  .github/workflows/asv-bot.yml
  .github/workflows/code-checks.yml
  .github/workflows/comment_bot.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
Due: none

BUG: No error raised in to_stata() for -np.inf #45350 (#45360)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/stata.py
  pandas/tests/io/test_stata.py
Due: flake8-rst

DEPR: DatetimeIndex.intersection with mixed timezones cast to UTC, not object (#45357)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/datetimes/test_timezones.py
Due: flake8-rst, use-pd_array-in-core

REF: implement LocationIndexer._tupleize_axis_indexer (#45378)
  pandas/core/indexing.py
Due: use-pd_array-in-core

BUG: CategoricalIndex.union with nans (#45362)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_setops.py
Due: flake8-rst, use-pd_array-in-core

REGR: allow reindexing datetimelike with upcast / raise deprecation warning (#44839)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/array_algos/take.py
  pandas/core/dtypes/cast.py
  pandas/tests/frame/methods/test_reindex.py
  pandas/tests/series/methods/test_reindex.py
Due: flake8-rst, use-pd_array-in-core

BUG: ArrayManager not respecting copy keyword (#44889)
  pandas/core/internals/construction.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/indexing/multiindex/test_setitem.py
Due: use-pd_array-in-core

BUG: DataFrame[dt64].quantile(axis=1) when empty returning f8 (#45294)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_quantile.py
Due: flake8-rst, use-pd_array-in-core

ENH: Add equivalence test for float in to_numeric() GH43693 (#43710)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/tests/tools/test_to_numeric.py
Due: flake8-rst, use-pd_array-in-core

CI: Migrate Python 3.10 testing to Posix GHA/Azure Pipelines (#45120)
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  ci/azure/posix.yml
  ci/azure/windows.yml
  ci/deps/actions-310-numpydev.yaml
  ci/deps/actions-310.yaml
  ci/deps/azure-macos-310.yaml
  ci/deps/azure-macos-39.yaml
  ci/deps/azure-windows-310.yaml
  pandas/tests/plotting/frame/test_frame.py
Due: none

DOC: Improve scale.rst (#45385)
  doc/source/user_guide/scale.rst
  pandas/_testing/__init__.py
Due: flake8-rst

CI/TST: update pyarrow pin in windows-3.8 env / fix failing parquet test on windows (#45364)
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/azure-macos-39.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
Due: none

REF: improve rendering of categories in CategoricalIndex (#45340)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/category.py
  pandas/tests/arrays/categorical/test_repr.py
  pandas/tests/indexes/categorical/test_formats.py
Due: flake8-rst, use-pd_array-in-core

BUG: .asof casting bool results to float64 GH#16063 (#45299)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_asof.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

Fix Stale Action commenting on issues (#45391)
  .github/workflows/stale-pr.yml
Due: none

DOC CLN: use ``color`` shared doc string (#45251)
  pandas/io/formats/style.py
Due: none

DOC: Improve 10min/EnhancingPerf.rst (#45390)
  doc/source/user_guide/10min.rst
  doc/source/user_guide/enhancingperf.rst
Due: flake8-rst

CLN: assorted follow-ups (#45402)
  pandas/core/apply.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/string_.py
  pandas/core/construction.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/numeric.py
  pandas/core/indexing.py
  pandas/core/reshape/merge.py
  pandas/core/series.py
  pandas/core/sorting.py
  pandas/tests/io/pytables/__init__.py
  pandas/tests/resample/test_base.py
  pandas/tests/series/test_constructors.py
  pandas/tests/test_downstream.py
Due: use-pd_array-in-core

CI: bump type checker versions (#45461)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  doc/source/whatsnew/v1.5.0.rst
  environment.yml
  pyproject.toml
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions

BUG: Adds newline after info() call on empty dataframe (#45498)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/info.py
  pandas/tests/io/formats/test_info.py
Due: flake8-rst

REF: share EABackedBlock.fillna (#45425)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

DEPR: restore to_frame() name=None behaviour but deprecate it (#45523)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/series.py
  pandas/tests/indexes/datetimes/methods/test_to_frame.py
  pandas/tests/series/methods/test_to_frame.py
Due: flake8-rst, use-pd_array-in-core

CLN: move __finalize__ call into splitter (groupbt GH-45363 follow-up) (#45415)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DEPR: undo deprecation of astype(int64) for datetimelike values (#45449)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/core/dtypes/astype.py
  pandas/tests/arrays/period/test_astype.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/indexes/datetimes/methods/test_astype.py
  pandas/tests/indexes/interval/test_astype.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/period/methods/test_astype.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/timedeltas/methods/test_astype.py
  pandas/tests/internals/test_internals.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

CLN: remove sqlalchemy<14 compat (#45410)
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: none

CI/TST: xfail(strict=False) s3 networking tests (#45466)
  pandas/tests/io/json/test_compression.py
  pandas/tests/io/parser/test_network.py
Due: none

BUG: setting pd.NA into Series casts to object (#45431)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

removes superfluous indirection in zip-statement (#45457)
  doc/source/user_guide/10min.rst
Due: flake8-rst

Add back __array_wrap__ for dask compatibility (#45451)
  pandas/core/generic.py
  pandas/tests/base/test_misc.py
  pandas/tests/test_downstream.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: BooleanArray+pd.NA altering array inplace (#45421)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/boolean.py
  pandas/tests/arrays/masked/test_arithmetic.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series[bool].__setitem__(BooleanArray) (#45462)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

REGR: read_fwf interpreting infer as list of colspecs when checking names length (#45522)
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_read_fwf.py
Due: none

EA interface: rename ExtensionArray._hasnans to ._hasna (#45519)
  pandas/core/arrays/base.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/cast.py
  pandas/core/indexes/datetimelike.py
  pandas/tests/extension/base/constructors.py
Due: use-pd_array-in-core

DOC: tidy 1.4.0 release notes (#45528)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

DOC/WEB: update versions.json to include 1.4 stable docs url (#45590)
  web/pandas/versions.json
Due: none

BUG: do not replace all nulls with "NaN"-string in Series index (#45283)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/missing.pyi
  pandas/_libs/missing.pyx
  pandas/core/indexes/base.py
  pandas/tests/frame/test_repr_info.py
  pandas/tests/indexes/test_base.py
  pandas/tests/series/test_repr.py
Due: flake8-rst, use-pd_array-in-core

REF: simplify Block.setitem (#45403)
  pandas/core/indexers/utils.py
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

BENCH: Fix ASV branch to main (#45426)
  asv_bench/asv.conf.json
Due: none

REF: remove Block.putmask fallback to where (#45440)
  pandas/core/array_algos/putmask.py
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

Ko ya346/update import doc (#45346)
  pandas/core/dtypes/concat.py
  pandas/io/stata.py
Due: use-pd_array-in-core
