Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

BUG/PERF: MaskedArray.searchsorted(np.nan) (#45255)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/masked.py
  pandas/tests/arrays/masked_shared.py
Due: flake8-rst, use-pd_array-in-core

REF: consolidate _validate_fill_logic in np_can_hold_element (#45216)
  pandas/core/dtypes/cast.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

TST: Create test for #30122 about display.precision (#45185)
  pandas/tests/io/formats/test_format.py
Due: none

CI: Use broader condition to maybe catch ResourceWarning from Matplotlib (#45204)
  pandas/_testing/_warnings.py
Due: none

DOC: fix a typo (#45327)
  doc/source/user_guide/style.ipynb
Due: none

REF/TYP: Block._slice and related (#45254)
  pandas/core/internals/blocks.py
  pandas/core/internals/concat.py
  pandas/core/internals/managers.py
  pandas/core/series.py
Due: use-pd_array-in-core

TYP: Ignore numpy related issues (#45244)
  environment.yml
  pandas/core/algorithms.py
  pandas/core/arraylike.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/common.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/indexing.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/core/internals/ops.py
  pandas/core/missing.py
  pandas/core/reshape/melt.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
  pandas/core/strings/accessor.py
  pandas/core/window/rolling.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/stata.py
  pandas/tests/extension/date/array.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, use-pd_array-in-core, no-bool-in-core-generic

fix issue link in what's new 1.4.0 (#45220)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

REF: fewer simple_new calls in DTA._generate_range GH#24562 (#45293)
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

DOC: Improve doc summaries in series.rst (#45237)
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/sparse/array.py
  pandas/core/groupby/groupby.py
  pandas/core/indexes/accessors.py
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/series.py
  pandas/core/shared_docs.py
Due: use-pd_array-in-core

REF: dtypes.astype (#45234)
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/concat.py
  pandas/core/indexes/numeric.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/io/parsers/base_parser.py
  pandas/tests/dtypes/test_common.py
Due: use-pd_array-in-core

BUG: Series.__setitem__ positional raising ValuError (#45232)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/series.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

remove pd. (#45229)
  pandas/tests/io/formats/style/test_style.py
Due: none

Bump stale GHA (#45292)
  .github/workflows/stale-pr.yml
Due: none

REF: implement find_result_type (#45304)
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_setitem.py
Due: use-pd_array-in-core

DOC: `MultiIndex.get_level_values` mentions implicit type casting if level contains null. (#44894)
  pandas/core/indexes/multi.py
Due: use-pd_array-in-core

TST: Split / parameterize resample pt2 (#45282)
  pandas/tests/resample/test_resample_api.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/resample/test_time_grouper.py
Due: none

ENH: Allow callable for on_bad_lines in read_csv when engine="python" (#45146)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_python_parser_only.py
  pandas/tests/io/parser/test_unsupported.py
Due: flake8-rst

DEPR: line_terminator->lineterminator GH#9569 (#45302)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/src/parser/tokenizer.c
  pandas/core/generic.py
  pandas/io/formats/csvs.py
  pandas/io/formats/format.py
  pandas/tests/frame/methods/test_to_csv.py
  pandas/tests/io/formats/test_to_csv.py
  pandas/tests/io/parser/test_skiprows.py
  pandas/tests/io/xml/test_to_xml.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DOC: add contributors to 1.4 release notes (#45196)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

DOC: comprehensive example of `Styler.to_latex` features (#45228)
  doc/source/_static/style/latex_stocks.png
  doc/source/_static/style/latex_stocks_html.png
  pandas/io/formats/style.py
Due: none

CI: activate azure pipelines/github actions on 1.4.x (#45199)
  .github/workflows/code-checks.yml
  .github/workflows/datamanger.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  .github/workflows/sdist.yml
  azure-pipelines.yml
Due: none

CLN: assorted, privatize, easy issues (#45305)
  LICENSE
  pandas/_testing/__init__.py
  pandas/core/dtypes/cast.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/extension/base/methods.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/methods/test_drop.py
  pandas/tests/util/test_make_objects.py
Due: use-pd_array-in-core

BUG: Series(floatlike, dtype=intlike) inconsistent with non-ndarray data (#45142)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/construction.py
  pandas/core/dtypes/cast.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

TST: Parameterize & split (#45276)
  pandas/tests/computation/test_eval.py
  pandas/tests/libs/test_hashtable.py
  pandas/tests/libs/test_lib.py
  pandas/tests/reductions/test_reductions.py
Due: none

TST: Parameterize / split resample tests (#45281)
  pandas/tests/resample/test_base.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_period_index.py
Due: none

BUG: SparseArray doesn't recalc indices. (#44956, #45110) (#45125)
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/extension/test_sparse.py
Due: use-pd_array-in-core

REF: catch more specific exceptions in Series.__setitem__ (#45194)
  pandas/core/series.py
Due: use-pd_array-in-core

BUG: pd.to_datetime([np.str_ objects]) GH#32264 (#45280)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst

TYP: Add types for excel writer classes (#45246)
  pandas/io/excel/_base.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/excel/_xlwt.py
Due: none

Added note in docs for giving the developer the option of choosing between both parameters and kwargs. Exampled included (#45261)
  pandas/_libs/tslibs/timedeltas.pyx
Due: none

CI: Fix concurrency group for min versions posix builds (#45323)
  .github/workflows/posix.yml
Due: none

TST: Split / parameterize reshaping tests (#45278)
  pandas/tests/reshape/test_melt.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/reshape/test_union_categoricals.py
  pandas/tests/reshape/test_util.py
Due: none

TST: implement xfailed test for #18415 (#45290)
  pandas/tests/frame/indexing/test_coercion.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

Improved docstring and return type hints for `to_datetime` (#42494)
  pandas/core/tools/datetimes.py
Due: use-pd_array-in-core

updated pydata to master in environment.yml (#45195)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

use vulture hook (#45173)
  .pre-commit-config.yaml
  pandas/tests/frame/test_constructors.py
  scripts/run_vulture.py
Due: sync-flake8-versions

ENH: Index[complex] (#45256)
  pandas/_libs/index.pyi
  pandas/_libs/index_class_helper.pxi.in
  pandas/conftest.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/base/test_misc.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/methods/test_value_counts.py
Due: use-pd_array-in-core

BUG: can_hold_element size checks on ints/floats (#45273)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/cast.py
  pandas/tests/dtypes/cast/test_can_hold_element.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

Fix groupby any/all on an empty series/frame (#45274)
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_any_all.py
Due: use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
