Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CI: Merge datamanager job into posix (#46143)
  .github/workflows/datamanger.yml
  .github/workflows/posix.yml
Due: none

REF: use fused types for mode (#46089)
  pandas/_libs/hashtable_func_helper.pxi.in
Due: none

BUG: remove usage of _constructor._get_axis_number (fix when _constructor properties return callables) (#46018)
  doc/source/whatsnew/v1.4.2.rst
  pandas/_testing/__init__.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/reshape/concat.py
  pandas/core/series.py
  pandas/tests/frame/test_subclass.py
  pandas/tests/groupby/test_groupby_subclass.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

bug: styler latex longtable column count (#46057)
  doc/source/whatsnew/v1.4.2.rst
  pandas/io/formats/templates/latex_longtable.tpl
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

BUG: PandasArray._quantile when empty (#46110)
  pandas/core/array_algos/quantile.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/arrays/numpy_/test_numpy.py
Due: use-pd_array-in-core

DOC: Remove old note about default unit (#46103)
  pandas/core/tools/datetimes.py
Due: use-pd_array-in-core

Test case multiplying large series by NA (#45948)
  pandas/tests/arrays/integer/test_arithmetic.py
Due: none

BUG: read_csv not respecting converter in all cases for index col (#46053)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/test_converters.py
Due: flake8-rst

BUG: Series[dt64].__setitem__ with all-false mask incorrectly upcasting (#45967)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/array_algos/putmask.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/series/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

CI: Test various Pyarrow version on Linux (#46059)
  .github/workflows/posix.yml
  pandas/tests/test_downstream.py
Due: none

DOC: fix ref in 1.4.2 release notes (#46069)
  doc/source/whatsnew/v1.4.2.rst
Due: flake8-rst

PERF: MultiIndex slicing (#46040)
  asv_bench/benchmarks/indexing.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
Due: flake8-rst, use-pd_array-in-core

BUG: Fix some cases of groupby(...).transform with dropna=True (#45953)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/extension/test_string.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core

DOC: Minor addition to str.split (#46027)
  pandas/core/strings/accessor.py
Due: use-pd_array-in-core

CI/TST: Fix xfail(strict=False) condition (#46150)
  pandas/tests/indexes/test_setops.py
Due: none

PERF: MultiIndex.get_locs (#45931)
  asv_bench/benchmarks/multiindex_object.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
Due: flake8-rst, use-pd_array-in-core

REF: share hashtable_func_helper code (#46090)
  pandas/_libs/hashtable_func_helper.pxi.in
Due: none

FIX: clarify warning in read_sql_query() (#46045)
  pandas/io/sql.py
Due: none

BUG: fix parquet roundtrip for Interval dtype with datetime64[ns] subtype (#46034)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst, use-pd_array-in-core

PERF: join empty frame (#46015)
  asv_bench/benchmarks/join_merge.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/reshape/merge/test_join.py
Due: flake8-rst, use-pd_array-in-core

DOC: added "How to read these guides" section to User Guide page (#39130) (#46120)
  doc/source/user_guide/index.rst
Due: flake8-rst

CI: Run sdist build less often (#44731)
  .github/workflows/sdist.yml
Due: none

Revert "BUG: groupby().rolling(freq) with monotonic dates within groups (#46065)" (#46078)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core

PERF: reindex with MultiIndex (#46235)
  asv_bench/benchmarks/reindex.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
Due: flake8-rst, use-pd_array-in-core

BUG: Fix some cases of groupby(...).transform with dropna=True (#46209)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

REF: simplify factorize, fix factorize_array return type (#46214)
  pandas/core/algorithms.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numpy_.py
Due: use-pd_array-in-core

CI/TST: numpy 1.22.3 release fixes (#46274)
  pandas/core/indexes/multi.py
  pandas/tests/frame/test_ufunc.py
Due: use-pd_array-in-core

TYP: offsets.pyi (#45331)
  pandas/_libs/tslibs/ccalendar.pyi
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/period.py
  pandas/core/ops/array_ops.py
  pandas/core/window/rolling.py
  pandas/plotting/_matplotlib/converter.py
  pandas/plotting/_matplotlib/timeseries.py
  pandas/tests/tseries/offsets/common.py
  pandas/tests/tseries/offsets/test_business_day.py
  pandas/tests/tseries/offsets/test_business_hour.py
  pandas/tests/tseries/offsets/test_business_month.py
  pandas/tests/tseries/offsets/test_business_quarter.py
  pandas/tests/tseries/offsets/test_business_year.py
  pandas/tests/tseries/offsets/test_custom_business_hour.py
  pandas/tests/tseries/offsets/test_custom_business_month.py
  pandas/tests/tseries/offsets/test_month.py
  pandas/tests/tseries/offsets/test_quarter.py
  pandas/tests/tseries/offsets/test_week.py
  pandas/tests/tseries/offsets/test_year.py
  pandas/tests/tslibs/test_period_asfreq.py
  pandas/tseries/frequencies.py
Due: use-pd_array-in-core

TYP: annotation of __init__ return type (PEP 484) (pandas/tests) (#46278)
  pandas/tests/base/test_constructors.py
  pandas/tests/dtypes/test_inference.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/arrow/test_timestamp.py
  pandas/tests/extension/decimal/array.py
  pandas/tests/extension/json/array.py
  pandas/tests/extension/list/array.py
  pandas/tests/extension/test_common.py
  pandas/tests/extension/test_extension.py
  pandas/tests/frame/constructors/test_from_records.py
  pandas/tests/frame/methods/test_select_dtypes.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/frame/methods/test_to_records.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/frame/test_subclass.py
  pandas/tests/groupby/test_counting.py
  pandas/tests/indexes/datetimes/test_timezones.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/io/formats/test_console.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_readlines.py
  pandas/tests/io/json/test_ujson.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/parser/test_python_parser_only.py
  pandas/tests/io/parser/test_unsupported.py
  pandas/tests/io/test_common.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_pickle.py
  pandas/tests/io/test_sql.py
  pandas/tests/reshape/test_pivot.py
  pandas/tests/scalar/timedelta/test_arithmetic.py
  pandas/tests/series/methods/test_is_unique.py
  pandas/tests/series/test_ufunc.py
  pandas/tests/test_register_accessor.py
  pandas/tests/tseries/holiday/test_calendar.py
Due: none

DOC: Clarify groupby.first does not use nulls (#46195)
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core

BUG: GroupBy.cumsum td64, skipna=False (#46216)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/groupby.pyx
  pandas/tests/groupby/test_groupby.py
Due: flake8-rst

CI/TYP: pyright reportSelfClsParameterName (#46241)
  pandas/core/arrays/_mixins.py
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

CI: Remove testing pyarrow 6 (#46183)
  .github/workflows/posix.yml
Due: none

REF: simplify groupby.ops (#46196)
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

TYP: remove NaTType as possible result of Timestamp and Timedelta constructor (#46171)
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_typing.py
  pandas/core/arrays/datetimes.py
  pandas/io/formats/format.py
  pandas/io/sas/sas_xport.py
  pandas/tests/resample/test_datetime_index.py
Due: use-pd_array-in-core

TYP: annotation of __init__ return type (PEP 484) (pandas/core/arrays) (#46255)
  pandas/core/arrays/_arrow_utils.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/boolean.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/accessor.py
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

DOC: Fix warnings on underline length (more) (#46223)
  pandas/core/indexes/numeric.py
Due: use-pd_array-in-core

configure timezone (#46219)
  Dockerfile
Due: none

TYP: loosen types of to_markdown, align to docs (#46212)
  pandas/core/frame.py
Due: use-pd_array-in-core

TYP: Update type results for Groupby.count() and Groupby.size() (#45904)
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Due: use-pd_array-in-core
