Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

DEPR: make to_datetime('now') match Timestamp('now') (#45104)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslib.pyx
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/tools/test_to_datetime.py
Due: flake8-rst

TST: Add regression tests for old issues (#45095)
  pandas/tests/frame/methods/test_combine_first.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/reshape/concat/test_categorical.py
  pandas/tests/scalar/timestamp/test_arithmetic.py
Due: none

ENH: support np.add.reduce, np.multiply.reduce (#44793)
  doc/source/whatsnew/v1.4.0.rst
  pandas/conftest.py
  pandas/core/arraylike.py
  pandas/core/arrays/masked.py
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arrays/boolean/test_function.py
  pandas/tests/arrays/floating/test_function.py
  pandas/tests/arrays/integer/test_function.py
  pandas/tests/series/test_ufunc.py
Due: flake8-rst, use-pd_array-in-core

CLN: assorted follow-ups (#45184)
  pandas/core/array_algos/putmask.py
  pandas/core/dtypes/cast.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/io/sas/sas7bdat.py
  pandas/io/stata.py
  pandas/tests/arrays/categorical/test_astype.py
  pandas/tests/arrays/categorical/test_dtypes.py
  pandas/tests/arrays/categorical/test_indexing.py
  pandas/tests/extension/test_floating.py
  pandas/tests/extension/test_integer.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_astype.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TST: Use pytest or decorator instead of checking ImportError (#45152)
  pandas/tests/computation/test_compat.py
  pandas/tests/frame/test_reductions.py
Due: none

TYP: fix incorrect mypy error in reshape.py (#45127)
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

BUG: MultiIndex dtypes incorrect if level names not unique (#45175)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_get_set.py
Due: flake8-rst, use-pd_array-in-core

TST: Parameterize (#45163)
  pandas/tests/computation/test_eval.py
Due: none

TST: Parameterize test_rank.py (#45114)
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/series/methods/test_rank.py
Due: none

TYP: type read_xml and deprecate passing positional arguments (#45133)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_typing.py
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
Due: flake8-rst

BUG: Series.__setitem__ failing to cast numeric values (#45121)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/series.py
  pandas/tests/dtypes/cast/test_can_hold_element.py
  pandas/tests/frame/indexing/test_set_value.py
  pandas/tests/indexing/test_coercion.py
Due: flake8-rst, use-pd_array-in-core

BUG: Fix nanosecond timedeltas (#45108)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/tslibs/test_timedeltas.py
Due: flake8-rst

TST: tests for nullable issues (#45167)
  pandas/tests/arrays/categorical/test_astype.py
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/arrays/integer/test_arithmetic.py
  pandas/tests/indexing/test_loc.py
Due: none

TST: Clean pg8000 test (#45164)
  .pre-commit-config.yaml
  pandas/tests/io/test_sql.py
Due: sync-flake8-versions

TST: More pytest.mark.parameterize (#45106)
  pandas/tests/arrays/sparse/test_libsparse.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/internals/test_internals.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/io/pytables/test_put.py
Due: none

BUG: Series.where with PeriodDtype raising on no-op (#45135)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_where.py
Due: flake8-rst, use-pd_array-in-core

PERF: expanding/rolling.min/max with engine='numba' (#45170)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/window/aggregations.pyx
  pandas/core/_numba/kernels/__init__.py
  pandas/core/_numba/kernels/min_max_.py
  pandas/core/window/rolling.py
  pandas/tests/window/test_numba.py
Due: flake8-rst, use-pd_array-in-core

TYP: define gen and gen2 as Iterable (#45139)
  pandas/io/formats/excel.py
Due: none

CI: Ensure all minimum optional dependencies are tested (#45103)
  .github/workflows/posix.yml
  ci/deps/actions-38-db-min.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-locale.yaml
  ci/deps/actions-38-locale_slow.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/compat/_optional.py
  pandas/tests/io/test_fsspec.py
  pandas/tests/series/methods/test_reindex.py
Due: flake8-rst

REGR: Index(pd.array(foo), dtype=object) (#45214)
  pandas/core/indexes/base.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/test_index_new.py
Due: use-pd_array-in-core

TST: Split/parameterize test_to_csv (#45207)
  pandas/tests/frame/methods/test_to_csv.py
Due: none

CLN/PERF: avoid double-checks (#45242)
  pandas/core/arrays/categorical.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
Due: use-pd_array-in-core

TST: pytest --strict-config (#45239)
  pyproject.toml
Due: none

ENH: `Styler.to_string` (#44502)
  doc/source/reference/style.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/io/formats/templates/string.tpl
  pandas/tests/io/formats/style/test_to_string.py
Due: flake8-rst, title-capitalization

doctests for depr closed arg (#45203)
  pandas/core/indexes/datetimes.py
Due: use-pd_array-in-core

DOC: Increased minimum version for Python (#45197)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

DOC: Improve reference/arrays.rst (#45189)
  doc/source/reference/arrays.rst
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
Due: flake8-rst, title-capitalization

CLN: suppress warnings (#45212)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/lib.pyx
  pandas/core/arrays/masked.py
  pandas/core/dtypes/cast.py
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/core/reshape/reshape.py
  pandas/tests/frame/test_ufunc.py
  pandas/tests/io/test_parquet.py
  pandas/tests/plotting/test_datetimelike.py
  pandas/tests/test_downstream.py
  pandas/util/_test_decorators.py
Due: flake8-rst, use-pd_array-in-core

typo: update 06_calculate_statistics (#45205)
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
Due: flake8-rst

DOC: improve IO & General Functions API reference (#45208)
  doc/source/reference/general_functions.rst
  doc/source/reference/io.rst
  pandas/core/algorithms.py
  pandas/core/base.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/reshape/melt.py
  pandas/core/reshape/merge.py
  pandas/io/stata.py
  pandas/util/_tester.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

PERF: find_stack_level (#45247)
  pandas/util/_exceptions.py
Due: none

Revert "ENH: Index[complex] (#45256)" (#45279)
  pandas/_libs/index.pyi
  pandas/_libs/index_class_helper.pxi.in
  pandas/conftest.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/arrays/categorical/test_constructors.py
  pandas/tests/base/test_misc.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_numpy_compat.py
  pandas/tests/indexes/test_setops.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/methods/test_value_counts.py
Due: use-pd_array-in-core

BUG: raise on wrong keyword arguments in Timedelta (#45227)
  doc/source/whatsnew/v1.4.0.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/tslibs/test_timedeltas.py
Due: flake8-rst

ENH: add `cline` to `Styler.to_latex` (#45138)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/io/formats/templates/latex_longtable.tpl
  pandas/io/formats/templates/latex_table.tpl
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

TST/REF: port coercion tests to SetitemCastingEquivalents (#45209)
  pandas/tests/indexing/test_coercion.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

DOC: start v1.5.0 release notes (#45198)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

BUG: Index.get_loc always raise InvalidIndexError on listlike (#45181)
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/series.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/numeric/test_indexing.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_indexing.py
Due: use-pd_array-in-core
