Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

REGR: concat not sorting columns for mixed column names (#47206)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/indexes/api.py
  pandas/tests/reshape/concat/test_dataframe.py
Due: flake8-rst, use-pd_array-in-core

BUG: read_excel loading some xlsx ints as floats (#47121)
  doc/source/whatsnew/v1.4.3.rst
  pandas/io/excel/_openpyxl.py
  pandas/tests/io/data/excel/ints_spelled_with_decimals.xlsx
  pandas/tests/io/excel/test_openpyxl.py
Due: flake8-rst

Add type annotations to the PR checklist (#47249)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

CLN: DatetimeTZBlock don't override values_for_json (#46993)
  pandas/core/internals/blocks.py
Due: use-pd_array-in-core

TST: xfail unit test on min build (#47259)
  pandas/compat/numpy/__init__.py
  pandas/tests/indexing/test_iloc.py
Due: none

BUG: groupby does not respect dropna=False when input has MultiIndex (#47186)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/grouper.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/groupby/test_grouping.py
Due: flake8-rst, use-pd_array-in-core

Use setup-conda action (#47293)
  .github/actions/setup-conda/action.yml
  .github/workflows/asv-bot.yml
  .github/workflows/code-checks.yml
  .github/workflows/posix.yml
  .github/workflows/sdist.yml
Due: none

TYP: pandas/_testing (#47037)
  pandas/_testing/_warnings.py
  pandas/_testing/asserters.py
  pandas/util/_test_decorators.py
Due: none

ENH: Allow column grouping in DataFrame.plot (#29944)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/plotting/frame/test_frame.py
Due: flake8-rst

DOC: Make ExtensionArray not experimental (#47225)
  doc/source/development/extending.rst
Due: flake8-rst, title-capitalization

ENH: Add numeric_only to window ops (#47265)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/window/doc.py
  pandas/core/window/ewm.py
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
  pandas/tests/window/conftest.py
  pandas/tests/window/test_ewm.py
  pandas/tests/window/test_expanding.py
  pandas/tests/window/test_rolling.py
Due: flake8-rst, use-pd_array-in-core

TST: Added test for bug Reindexing pd.Float64Dtype() series gives runtime warnings when passed to np.log (#47087)
  pandas/tests/series/methods/test_reindex.py
Due: none

TST: Assign back multiple column to datetime (#46982)
  pandas/tests/indexing/test_iloc.py
Due: none

REF: avoid ravel in ints_to_pytimedelta (#47261)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/core/arrays/datetimelike.py
Due: use-pd_array-in-core

BUG: StataWriter value_label encoding (#47199)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/stata.py
  pandas/tests/io/test_stata.py
Due: flake8-rst

BUG: Eval scopes ignoring empty dictionaries (#47084) (#47085)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/computation/pytables.py
  pandas/core/computation/scope.py
  pandas/tests/computation/test_eval.py
Due: flake8-rst, use-pd_array-in-core

TST: Fix test warnings (#47257)
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_strings.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_online.py
  pyproject.toml
Due: none

DOC: cross reference similar `Series.unique` and `Series.drop_duplicates` methods (#47274)
  pandas/core/series.py
Due: use-pd_array-in-core

DOC: Move all relevant wiki items to docs (#47277)
  doc/source/development/contributing_codebase.rst
  doc/source/development/maintaining.rst
  doc/source/development/roadmap.rst
  pandas/_testing/__init__.py
  pandas/_testing/_io.py
Due: flake8-rst, title-capitalization

BUG: StataWriterUTF8 removing some valid characters in column names (#47276) (#47297)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/stata.py
  pandas/tests/io/test_stata.py
Due: flake8-rst

TYP: remove mypy ignore from localization.py (#47240)
  pandas/_config/localization.py
Due: none

REF: Store dataframe protocol column buffers in attrs (#47217)
  pandas/core/exchange/from_dataframe.py
  pandas/tests/exchange/__init__.py
  pandas/tests/exchange/conftest.py
  pandas/tests/exchange/test_impl.py
Due: use-pd_array-in-core

ENH/TST: ArrowExtenstionArray.reshape raises NotImplementedError (#47302)
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

CI: Fix code-checks.yml name (#47309)
  .github/workflows/code-checks.yml
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

ENH: Add check_like functionality to assert_series_equal (#47248)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_series_equal.py
Due: flake8-rst

ENH: support non-nano in DTA.std (#47245)
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
Due: use-pd_array-in-core

ENH: support non-nano in DTA._box_func (#47299)
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: use-pd_array-in-core

TYP: generate_regular_range (#47295)
  pandas/core/arrays/_ranges.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

Raise `FileNotFoundError` in `read_json` if input looks like file path but file is missing (#46718)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/json/_json.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/test_common.py
Due: flake8-rst

Fix typos (#47275)
  .pre-commit-config.yaml
  asv_bench/benchmarks/frame_ctor.py
  asv_bench/benchmarks/groupby.py
  asv_bench/benchmarks/libs.py
  asv_bench/benchmarks/replace.py
  asv_bench/benchmarks/reshape.py
  asv_bench/benchmarks/tslibs/period.py
  asv_bench/benchmarks/tslibs/timedelta.py
  doc/source/user_guide/style.ipynb
  pandas/_libs/groupby.pyx
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/io/common.py
  pandas/tests/tools/test_to_datetime.py
  setup.cfg
  versioneer.py
  web/pandas/community/blog/2019-user-survey.md
  web/pandas/community/ecosystem.md
Due: sync-flake8-versions

PERF: Optimize read_excel nrows (#46894)
  asv_bench/benchmarks/io/excel.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/common.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odfreader.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_pyxlsb.py
  pandas/io/excel/_xlrd.py
  pandas/io/parsers/base_parser.py
  pandas/tests/io/excel/test_readers.py
Due: flake8-rst

TYP: Expanding.__init__ (#47308)
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

ENH: TDA fields support non-nano (#47278)
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/test_timedeltas.py
  pandas/tests/tslibs/test_np_datetime.py
Due: use-pd_array-in-core

BUG: Tackle GH47203; Ensure body is non-empty when accessing row_body_cells (#47204)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

BUG: respect freq=None in DTA constructor (#47296)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/tests/arrays/datetimes/test_constructors.py
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/indexes/timedeltas/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

CI/TYP: enable reportGeneralTypeIssues for subset of files (#47252)
  .pre-commit-config.yaml
  pandas/_libs/lib.pyi
  pandas/util/_doctools.py
  pyright_reportGeneralTypeIssues.json
  typings/numba.pyi
Due: sync-flake8-versions

DOC: Added docstrings to fixtures defined in array module (#47211)
  pandas/tests/arrays/boolean/test_arithmetic.py
  pandas/tests/arrays/boolean/test_comparison.py
  pandas/tests/arrays/boolean/test_reduction.py
  pandas/tests/arrays/categorical/conftest.py
  pandas/tests/arrays/datetimes/test_reductions.py
  pandas/tests/arrays/floating/conftest.py
  pandas/tests/arrays/integer/conftest.py
  pandas/tests/arrays/integer/test_construction.py
  pandas/tests/arrays/masked/test_arithmetic.py
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/masked/test_function.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/arrays/test_array.py
  pandas/tests/arrays/test_datetimelike.py
  pandas/tests/arrays/test_datetimes.py
Due: none

BUG Fix: Allow using datetime64[ns, UTC] in IntervalDtype (#47208)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/interval/test_interval.py
Due: flake8-rst, use-pd_array-in-core

REF: Add Manager.column_setitem to set values into a single column (without intermediate series) (#47074)
  pandas/core/frame.py
  pandas/core/indexers/__init__.py
  pandas/core/indexers/utils.py
  pandas/core/indexing.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/indexing/test_at.py
  pandas/tests/indexing/test_partial.py
Due: use-pd_array-in-core

REF: share DTA/TDA/PA arithmetic methods (#47205)
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core
