Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

DOC+BUG: `Styler.to_excel` pseudo css `number-format` (#46239)
  doc/source/_static/style/format_excel_css.png
  doc/source/whatsnew/v1.4.2.rst
  pandas/io/formats/excel.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/test_to_excel.py
Due: flake8-rst

CLN: rolling step followups (#46191)
  pandas/_libs/window/indexers.pyi
  pandas/_libs/window/indexers.pyx
  pandas/core/indexers/objects.py
  pandas/core/window/rolling.py
  pandas/tests/window/test_apply.py
  pandas/tests/window/test_base_indexer.py
  pandas/tests/window/test_rolling.py
Due: use-pd_array-in-core

REF: implement _reconstruct_ea_result, _ea_to_cython_values (#46172)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
Due: use-pd_array-in-core

PERF: avoid object dtype cast for Categorical in _ensure_data (#46208)
  pandas/core/algorithms.py
Due: use-pd_array-in-core

unpin version of base image (#46224)
  Dockerfile
Due: none

fix typo (#46206)
  pandas/_libs/window/aggregations.pyx
Due: none

Fix typos (#46200)
  scripts/sync_flake8_versions.py
  scripts/tests/test_sync_flake8_versions.py
Due: none

an -> a (#46247)
  doc/source/getting_started/intro_tutorials/03_subset_data.rst
Due: flake8-rst

PERF: faster groupby diff (#45575)
  asv_bench/benchmarks/groupby.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_groupby_shift_diff.py
Due: flake8-rst, use-pd_array-in-core

REF: remove JoinUnit.shape (#43651)
  pandas/core/internals/concat.py
Due: use-pd_array-in-core

REF: disallow ints from delta_to_nanoseconds (#46378)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/indexes/period.py
  pandas/tests/tslibs/test_timedeltas.py
Due: use-pd_array-in-core

BUG: Index.reindex raising with level and no MultiIndex (#46327)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_reindex.py
  pandas/tests/indexes/test_base.py
Due: flake8-rst, use-pd_array-in-core

TST: merge high_memory mark with single_cpu (#46261)
  .circleci/config.yml
  azure-pipelines.yml
  pandas/conftest.py
  pandas/tests/frame/methods/test_rank.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/series/methods/test_rank.py
  pandas/tests/test_algos.py
  pyproject.toml
Due: none

Fixed `Period` and `PeriodIndex` formatting (#46361)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/tests/io/formats/test_format.py
Due: flake8-rst, use-pd_array-in-core

CI: bump mypy&pyright (#46411)
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  doc/source/whatsnew/v1.5.0.rst
  environment.yml
  pandas/core/arrays/sparse/array.py
  pandas/core/computation/ops.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/io/formats/style.py
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions, use-pd_array-in-core, no-bool-in-core-generic

PERF: Index[StringArray] (#46349)
  pandas/core/arrays/string_.py
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

CLN/DOC: fix test_register_entrypoint (#46302)
  asv_bench/benchmarks/plotting.py
  pandas/plotting/_core.py
  pandas/tests/plotting/test_backend.py
  setup.cfg
Due: none

CI: Debug Windows stack overflow (#46358)
  azure-pipelines.yml
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/json/test_json.py
Due: none

TST: Fix warnings & skip -> xfail (#46370)
  azure-pipelines.yml
  ci/deps/actions-310-numpydev.yaml
  ci/deps/circle-38-arm64.yaml
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/extension/base/ops.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_string.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/test_converter.py
  pyproject.toml
Due: none

TYP: annotation of __init__ return type (PEP 484) (pandas/utils) (#46276)
  pandas/util/_decorators.py
  pandas/util/_doctools.py
Due: none

CLN/DOC: typos (#46328)
  pandas/_libs/hashtable_func_helper.pxi.in
  pandas/_libs/index.pyx
  pandas/core/arrays/base.py
  pandas/core/indexes/multi.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/io/formats/xml.py
  pandas/io/xml.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arrays/masked_shared.py
  pandas/tests/groupby/test_allowlist.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_indexing.py
  pandas/tests/groupby/test_nth.py
  pandas/tests/indexes/categorical/test_reindex.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/io/formats/test_to_csv.py
  pandas/tests/scalar/interval/test_arithmetic.py
  pandas/tests/scalar/period/test_period.py
Due: use-pd_array-in-core

TYP: annotation of __init__ return type (PEP 484) (pandas/core) (#46279)
  pandas/core/algorithms.py
  pandas/core/apply.py
  pandas/core/describe.py
  pandas/core/dtypes/base.py
  pandas/core/dtypes/dtypes.py
  pandas/core/flags.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/indexing.py
  pandas/core/groupby/ops.py
  pandas/core/indexers/objects.py
  pandas/core/indexes/accessors.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/concat.py
  pandas/core/internals/managers.py
  pandas/core/nanops.py
  pandas/core/resample.py
  pandas/core/reshape/concat.py
  pandas/core/reshape/merge.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
  pandas/core/strings/accessor.py
  pandas/core/window/ewm.py
  pandas/core/window/expanding.py
  pandas/core/window/online.py
  pandas/core/window/rolling.py
Due: use-pd_array-in-core, no-bool-in-core-generic

REF: simplify reindexing in _align_series() (#46266)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Revert " BUG: RecursionError when attempting to replace np.nan values (#45725) (#45749)" (#46403)
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/series/methods/test_replace.py
Due: use-pd_array-in-core

Regression in loc.setitem losing mi names when df is empty (#46322)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

PERF: MultiIndex.values for MI's with DatetimeIndex, TimedeltaIndex, or ExtensionDtype levels (#46288)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
Due: flake8-rst, use-pd_array-in-core

ENH: Add `milliseconds` field support for `pd.DateOffset` (#43598)
  doc/source/user_guide/timeseries.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/tests/tseries/offsets/test_offsets.py
Due: flake8-rst

REF: de-duplicate libjoin (#46256)
  pandas/_libs/join.pyx
Due: none

Revert "CI: xfail geopandas downstream test on MacOS due to fiona install (#46296)" (#46320)
  pandas/tests/test_downstream.py
Due: none

CLN: address xfails (#46287)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
  pandas/core/dtypes/cast.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/sparse/test_astype.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_floating.py
  pandas/tests/extension/test_integer.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_base.py
  pandas/tests/series/test_ufunc.py
Due: use-pd_array-in-core

BUG: replace with value also being replaced (#46335)
  doc/source/whatsnew/v1.4.2.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_replace.py
Due: flake8-rst, use-pd_array-in-core

TYP: expand acceptable types for pd.to_datetime() (#46273)
  pandas/core/tools/datetimes.py
  pandas/io/excel/_odfreader.py
Due: use-pd_array-in-core

TST: xfail(strict=False) flaky hashtable test (#46350)
  pandas/tests/libs/test_hashtable.py
Due: none

BUG: Nullable _get_common_dtype match non-nullable behavior (#46379)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/dtypes/dtypes.py
  pandas/tests/arrays/integer/test_concat.py
Due: flake8-rst, use-pd_array-in-core

BUG: Change numeric_only default to True (#46096)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_quantile.py
  pandas/tests/generic/test_finalize.py
Due: flake8-rst, use-pd_array-in-core

TYP/CI: Fix failing clipboard typing (#46395)
  pandas/io/clipboard/__init__.py
Due: none

Bug gb cummax (#46382)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/groupby.pyx
  pandas/tests/groupby/test_function.py
Due: flake8-rst

DOC: minor fixes to 1.4.2 release notes (#46354)
  doc/source/whatsnew/v1.4.2.rst
Due: flake8-rst

REF: implement get_unit_from_dtype (#46410)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/_libs/tslibs/src/datetime/np_datetime.h
  pandas/tests/tslibs/test_np_datetime.py
Due: none

DOC: Add docs about using numba with parallel (#46368)
  doc/source/user_guide/enhancingperf.rst
Due: flake8-rst

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
