Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

Update .devcontainer.json
  .devcontainer.json
Due: none

Update Dockerfile
  Dockerfile
Due: none

fixes
  .devcontainer.json
  Dockerfile
Due: none

DOC: Uniform block directive syntax. (#44757)
  .pre-commit-config.yaml
  doc/source/user_guide/io.rst
  pandas/core/algorithms.py
Due: flake8-rst, sync-flake8-versions, use-pd_array-in-core

ENH: allow attrs to be propagated via pd.concat (#42252)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/reshape/concat/test_concat.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

Updated code_checks.sh with PR06 (#43511)
  ci/code_checks.sh
  pandas/core/arrays/sparse/array.py
  pandas/core/tools/numeric.py
Due: use-pd_array-in-core

CLN/TST: skips -> xfails (#44744)
  pandas/_testing/__init__.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/extension/arrow/test_bool.py
  pandas/tests/extension/test_boolean.py
  pandas/tests/extension/test_floating.py
  pandas/tests/extension/test_integer.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/generic/test_to_xarray.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/multi/test_analytics.py
  pandas/tests/io/excel/test_xlrd.py
  pandas/tests/io/parser/common/test_float.py
  pandas/tests/io/parser/common/test_read_errors.py
  pandas/tests/io/parser/test_comment.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/test_parquet.py
Due: none

44414 data frame attributes not propagating with astype (#44680)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/series/methods/test_astype.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

BUG: IntervalArray.__cmp__(pd.NA) (#44830)
  pandas/_testing/__init__.py
  pandas/core/arrays/interval.py
  pandas/tests/arithmetic/test_interval.py
Due: use-pd_array-in-core

BUG: Fix setitem with 1d matrix (#44669)
  doc/source/whatsnew/v1.3.5.rst
  pandas/core/construction.py
  pandas/tests/frame/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

DOC: follow up #44669, move release note (#44880)
  doc/source/whatsnew/v1.3.5.rst
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

CLN: Split/parameterize test_to_time (#44850)
  pandas/tests/tools/test_to_time.py
Due: none

PERF: DataFrame.__setitem__ (#44796)
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core

TST: Split/parameterize test_split_partition.py (#44876)
  pandas/tests/strings/test_split_partition.py
Due: none

Add labels for github issue templates (#44909)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/documentation_improvement.yaml
  .github/ISSUE_TEMPLATE/installation_issue.yaml
  .github/ISSUE_TEMPLATE/performance_issue.yaml
  .github/ISSUE_TEMPLATE/submit_question.yml
Due: none

CLN: memory_map do not silently fail (#44777)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/common.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/parser/test_read_fwf.py
  pandas/tests/io/test_common.py
Due: flake8-rst

BUG: Fix bug in loc setitem changing the dtype when condition is False (#37672)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_setitem.py
Due: flake8-rst, use-pd_array-in-core

fix PR06 failing CI (#44773)
  pandas/core/frame.py
Due: use-pd_array-in-core

CI: use pytest-timeout to avoid windows timeouts (#44814)
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/deps/actions-38-db-min.yaml
  ci/deps/actions-38-db.yaml
  ci/deps/actions-38-locale.yaml
  ci/deps/actions-38-locale_slow.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38-slow.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39-numpydev.yaml
  ci/deps/actions-39-slow.yaml
  ci/deps/actions-39.yaml
  ci/deps/azure-macos-38.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  pandas/tests/io/__init__.py
  pandas/tests/io/test_user_agent.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

REF: hold PeriodArray in NDArrayBackedExtensionBlock (#44681)
  pandas/core/dtypes/common.py
  pandas/core/internals/api.py
  pandas/core/internals/blocks.py
  pandas/core/internals/construction.py
  pandas/tests/arithmetic/test_period.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/internals/test_internals.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
Due: use-pd_array-in-core

BUG: is_dtype_equal(dtype, "string[pyarrow]") raises if pyarrow not installed (#44327)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/dtypes/common.py
  pandas/tests/dtypes/test_common.py
Due: flake8-rst, use-pd_array-in-core

BUG: Index.fillna silently ignoring 'downcast' kwarg (#44873)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/tests/indexes/categorical/test_fillna.py
  pandas/tests/indexes/common.py
Due: flake8-rst, use-pd_array-in-core

ENH: Add numba engine to groupby.var/std (#44862)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/conftest.py
  pandas/tests/groupby/test_numba.py
Due: flake8-rst, use-pd_array-in-core

CLN: test_to_timedelta.py (#44843)
  pandas/tests/tools/test_to_timedelta.py
Due: none

PERF: any/all with axis=1 (#44857)
  pandas/core/frame.py
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: support SpooledTemporaryFile (#44761)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/common.py
  pandas/tests/io/parser/test_encoding.py
  pandas/tests/io/test_common.py
Due: flake8-rst

CLN: fixup duplicated getitem call from GH-44624 (#44781)
  pandas/core/arrays/datetimelike.py
Due: use-pd_array-in-core

CLN: FIXMEs (#44771)
  pandas/_config/config.py
  pandas/core/generic.py
  pandas/core/indexes/datetimes.py
  pandas/core/internals/blocks.py
  pandas/core/internals/concat.py
  pandas/io/clipboard/__init__.py
  pandas/tests/arrays/floating/test_construction.py
  pandas/tests/extension/base/getitem.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexing/multiindex/test_partial.py
  pandas/tests/indexing/test_coercion.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/series/methods/test_convert.py
  pandas/tests/series/test_missing.py
  pandas/tests/series/test_ufunc.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: follow up #44327, change issue number (#44910)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

REF: share MaskedArray reduction methods (#44790)
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/tests/extension/base/dim2.py
  pandas/tests/reductions/test_reductions.py
Due: use-pd_array-in-core

TST: Parameterize test_strings.py (#44875)
  pandas/tests/strings/test_strings.py
Due: none

PERF: avoid copy in concatenate_array_managers if reindex already copies (#44559)
  pandas/core/internals/array_manager.py
  pandas/core/internals/concat.py
Due: use-pd_array-in-core

tests added for dtype comparison with fixture (#44840)
  pandas/tests/dtypes/test_common.py
Due: none

DOC: 1.3.5 release date (#44851)
  doc/source/whatsnew/v1.3.5.rst
Due: flake8-rst

CI: Pin numpydev wheels (#44834)
  .github/workflows/python-dev.yml
  ci/deps/actions-39-numpydev.yaml
Due: none

TST: Refactor test_expressions.py (#44778)
  pandas/tests/test_expressions.py
Due: none

Clarify regex interpretation in str.contains (#44812)
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_find_replace.py
Due: use-pd_array-in-core

TST: stricten xfails (#44741)
  pandas/tests/io/parser/common/test_chunksize.py
  pandas/tests/plotting/test_converter.py
  pandas/tests/plotting/test_groupby.py
  pandas/tests/tseries/offsets/test_offsets_properties.py
Due: none

BUG: SparseArray.min/max skipna (#44829)
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: use-pd_array-in-core

Revert "CI: use pytest-timeout to avoid windows timeouts (#44814)" (#44858)
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/deps/actions-38-db-min.yaml
  ci/deps/actions-38-db.yaml
  ci/deps/actions-38-locale.yaml
  ci/deps/actions-38-locale_slow.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38-slow.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39-numpydev.yaml
  ci/deps/actions-39-slow.yaml
  ci/deps/actions-39.yaml
  ci/deps/azure-macos-38.yaml
  ci/deps/azure-windows-38.yaml
  ci/deps/azure-windows-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  pandas/tests/io/__init__.py
  pandas/tests/io/test_user_agent.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions
