Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

TST: skip -> xfail (#46387)
  pandas/tests/frame/methods/test_between_time.py
  pandas/tests/groupby/test_quantile.py
  pandas/tests/io/formats/test_series_info.py
  pandas/tests/io/json/test_ujson.py
  pandas/tests/io/parser/common/test_read_errors.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/parser/test_compression.py
  pandas/tests/io/parser/test_unsupported.py
  pandas/tests/io/test_sql.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/test_arithmetic.py
  pandas/tests/series/test_constructors.py
  pandas/tests/strings/test_extract.py
  pandas/tests/test_downstream.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
  pandas/tests/tslibs/test_timezones.py
  pandas/util/_test_decorators.py
Due: none

BUG: avoid RuntimeError in groupby.max (#46408)
  pandas/_libs/groupby.pyx
  pandas/core/groupby/ops.py
  pandas/tests/resample/test_datetime_index.py
Due: use-pd_array-in-core

DOC: update tutorial docs (#46249)
  doc/source/getting_started/intro_tutorials/03_subset_data.rst
  doc/source/getting_started/intro_tutorials/04_plotting.rst
  doc/source/getting_started/intro_tutorials/05_add_columns.rst
  doc/source/getting_started/intro_tutorials/06_calculate_statistics.rst
  doc/source/getting_started/intro_tutorials/07_reshape_table_layout.rst
  doc/source/getting_started/intro_tutorials/08_combine_dataframes.rst
  doc/source/getting_started/intro_tutorials/09_timeseries.rst
  doc/source/getting_started/intro_tutorials/includes/air_quality_no2.rst
  doc/source/getting_started/intro_tutorials/includes/titanic.rst
Due: flake8-rst

BUG: DataFrame.getattribute raising if columns have dtype string (#46301)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/indexing/test_getitem.py
Due: flake8-rst, use-pd_array-in-core

REF: separate out _get_dst_hours (#46399)
  pandas/_libs/tslibs/tzconversion.pyx
Due: none

BUG: MultiIndex slicing with negative step (#46156)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexing/multiindex/test_slice.py
Due: flake8-rst, use-pd_array-in-core

REF: Enhance consistency on Styler methods (#45780)
  pandas/io/formats/style.py
Due: none

ArrowStringArray._cmp_method TODO (#46417)
  pandas/core/arrays/string_arrow.py
Due: use-pd_array-in-core

BUG: avoid OOB flow in read_gbq and to_gbq (#46312)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/io/gbq.py
Due: flake8-rst, use-pd_array-in-core

TYP: annotation of __init__ return type (PEP 484) (pandas/plotting) (#46283)
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/boxplot.py
  pandas/plotting/_matplotlib/converter.py
  pandas/plotting/_matplotlib/core.py
  pandas/plotting/_matplotlib/hist.py
  pandas/plotting/_misc.py
Due: none

ENH: Add large file support for read_xml (#45724)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/io/xml/test_xml_dtypes.py
Due: flake8-rst

CI: Add missing dependencies for skipped tests (#46260)
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  doc/source/getting_started/install.rst
  pandas/compat/_optional.py
Due: flake8-rst

Regression in read csv causing segfault for invalid file input (#46325)
  doc/source/whatsnew/v1.4.2.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/test_unsupported.py
Due: flake8-rst

REF: de-duplicate hard-coded unit code (#46338)
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/plotting/_matplotlib/converter.py
  pandas/tests/tseries/frequencies/test_freq_code.py
Due: use-pd_array-in-core

DOC: Refactor Intro to Data Structures (#46316)
  doc/source/reference/index.rst
  doc/source/user_guide/dsintro.rst
  pandas/core/frame.py
  pandas/core/series.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

TYP: sort_index (#46300)
  pandas/_typing.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/core/sorting.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TYP: pd.isna (#46222)
  pandas/core/arrays/boolean.py
  pandas/core/base.py
  pandas/core/dtypes/missing.py
  pandas/core/window/ewm.py
  pandas/io/parsers/base_parser.py
Due: use-pd_array-in-core

Fix snappy version (#46347)
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  doc/source/getting_started/install.rst
  pandas/compat/_optional.py
Due: flake8-rst

CI: Use shared dependency file for ARM (#46401)
  .circleci/config.yml
  ci/deps/circle-38-arm64.yaml
Due: none

TYP: Add typing for pd.to_timedelta, fix Timedelta operator return types (#46343)
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_typing.py
  pandas/core/tools/datetimes.py
  pandas/core/tools/timedeltas.py
  pandas/io/sql.py
Due: use-pd_array-in-core

REF/PERF: MultiIndex.get_locs to use boolean arrays internally (#46330)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/multi.py
Due: flake8-rst, use-pd_array-in-core

DOC: example using `clipboard_set` for all output formats (#46311)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

PERF: use bisect_right_i8 in vectorized (#46341)
  pandas/_libs/tslibs/vectorized.pyx
Due: none

BUG: PandasArray[uint].factorize (#46295)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/numpy_.py
  pandas/tests/arrays/numpy_/test_numpy.py
Due: use-pd_array-in-core

TST: fix pytest collection errors with pytest-xdist (#46416)
  pandas/tests/tseries/offsets/test_offsets.py
Due: none

PERF: faster searchsorted in tzconversion (#46329)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyx
Due: none

TYP: annotation of __init__ return type (PEP 484) (pandas/io) (#46284)
  pandas/io/clipboard/__init__.py
  pandas/io/common.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odfreader.py
  pandas/io/excel/_odswriter.py
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_pyxlsb.py
  pandas/io/excel/_xlrd.py
  pandas/io/excel/_xlsxwriter.py
  pandas/io/excel/_xlwt.py
  pandas/io/formats/csvs.py
  pandas/io/formats/excel.py
  pandas/io/formats/format.py
  pandas/io/formats/info.py
  pandas/io/formats/latex.py
  pandas/io/formats/string.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/io/html.py
  pandas/io/json/_json.py
  pandas/io/parquet.py
  pandas/io/parsers/arrow_parser_wrapper.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
  pandas/io/parsers/readers.py
  pandas/io/pytables.py
  pandas/io/sas/sas7bdat.py
  pandas/io/sas/sas_xport.py
  pandas/io/sql.py
  pandas/io/stata.py
  pandas/io/xml.py
Due: none

REF/PERF: ArrowStringArray.__setitem__ (#46400)
  asv_bench/benchmarks/array.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/compat/__init__.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string_arrow.py
Due: flake8-rst, use-pd_array-in-core

TST: Avoid stack overflow on Windows CI with recursion test (#46345)
  pandas/tests/dtypes/test_inference.py
Due: none

CI/DOC: pin jinja2 to 3.0.3 (#46515)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

CI: Add pytest-asyncio to PyPy CI (#46426)
  .github/workflows/posix.yml
Due: none

CI: xfail geopandas downstream test on Windows due to fiona install (#46536)
  pandas/tests/test_downstream.py
Due: none

ENH: Add defaultdict support for dtype in read_csv (#46051)
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
Due: flake8-rst

ENH: implement pandas_timedelta_to_timedeltastruct for other resos (#46465)
  pandas/_libs/tslibs/np_datetime.pyi
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/src/datetime/np_datetime.c
  pandas/tests/tslibs/test_np_datetime.py
Due: none

Bug fix - rename dataframe reset index (#46167)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/tests/frame/methods/test_reset_index.py
Due: flake8-rst, use-pd_array-in-core

BLD: Fix black to match pre-commit black version (#46490)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

REF: Create pandas/core/arrays/arrow (#46591)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/arrow/__init__.py
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/numeric.py
  pandas/core/arrays/period.py
  pandas/core/arrays/string_arrow.py
  pandas/core/dtypes/dtypes.py
  pandas/io/parquet.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/extension/arrow/arrays.py
Due: use-pd_array-in-core

REF: re-use tz_convert_from_utc_single in _localize_tso (#46525)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/tzconversion.pxd
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/tests/tslibs/test_conversion.py
Due: none

CI Clean up code (#46502)
  ci/code_checks.sh
Due: none

boolean dtype regression (#46548)
  doc/source/whatsnew/v1.4.2.rst
  pandas/tests/io/formats/style/test_format.py
Due: flake8-rst

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
