Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

ENH/TST: Add BaseParsinngTests tests for ArrowExtensionArray (#47536)
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

DOC clarify inplace operation section in 1.5 whats_new (#47433)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

ENH/TST: Add BaseInterfaceTests tests for ArrowExtensionArray PT2 (#47468)
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

TYP: ndim is consistently a property (#47378)
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/core/base.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/base.py
  pandas/core/internals/managers.py
  pandas/tests/arrays/test_datetimelike.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

DOC: Resolve links in whatsnew (#47499)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

TYP: some return annotations in pytables.py (#47512)
  pandas/io/pytables.py
Due: none

BUG: PeriodArray.__sub__(Period) overflows (#47538)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/arrays/test_period.py
Due: flake8-rst, use-pd_array-in-core

DOC: Minor fixes in whatsnew 1.5.0 (#47498)
  doc/source/whatsnew/v1.5.0.rst
Due: flake8-rst

DOC: Convert URL example to static code block (#47540)
  doc/source/user_guide/io.rst
Due: flake8-rst

ENH: consistent add/sub behavior for mixed resolutions (#47394)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

REF: remove dtstruct_to_dt64 (#47492)
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/vectorized.pyx
Due: none

TYP: fix a few errors found by pandas-stub (#47562)
  pandas/_testing/asserters.py
  pandas/core/generic.py
  pandas/core/indexes/multi.py
  pandas/plotting/_matplotlib/groupby.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: update tutorials.rst to include website for searchable Pandas recipes (#47389)
  doc/source/getting_started/tutorials.rst
Due: flake8-rst

PERF: Some faster date/time string formatting (#46759)
  asv_bench/benchmarks/io/sql.py
  asv_bench/benchmarks/tslibs/strftime.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslib.pyx
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/io/excel/_odswriter.py
  pandas/io/formats/format.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, use-pd_array-in-core

TYP: return values in core/*.py (#47587)
  pandas/core/algorithms.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/array.py
  pandas/core/base.py
  pandas/core/common.py
  pandas/core/config_init.py
  pandas/core/flags.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/missing.py
  pandas/core/nanops.py
  pandas/core/resample.py
  pandas/core/reshape/pivot.py
  pandas/core/series.py
  pandas/io/formats/format.py
Due: use-pd_array-in-core, no-bool-in-core-generic

TYP: make _engine_type consistently a property (#47664)
  .pre-commit-config.yaml
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/period.py
  pandas/core/indexes/range.py
  pandas/core/indexes/timedeltas.py
  pyright_reportGeneralTypeIssues.json
Due: sync-flake8-versions, use-pd_array-in-core

WEB: Add governance page to the website (#47660)
  web/pandas/about/governance.md
  web/pandas/about/team.md
  web/pandas/community/blog/extension-arrays.md
  web/pandas/community/blog/pandas-1.0.md
  web/pandas/config.yml
Due: none

BUG: concat losing columns dtypes for join=outer (#47586)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/api.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, use-pd_array-in-core

BUG: Fixed `tm.set_locale` context manager, it could error and leak when category LC_ALL was used (#47570)
  pandas/_config/localization.py
  pandas/tests/config/test_localization.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tools/test_to_time.py
Due: none

TST: added test for to_json when called on numbers exceeding the int64 limit (#47589)
  pandas/tests/io/json/test_pandas.py
Due: none

POC/ENH: Timedelta min/max/resolution support non-nano (#47641)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: none

ENH/TST: Add BaseGroupbyTests tests for ArrowExtensionArray (#47515)
  pandas/core/dtypes/missing.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

REGR: maybe_convert_objects ignoring uints (#47475)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/series/test_constructors.py
Due: flake8-rst

ENH: RangeIndex._shallow_copy can return RangeIndex (#47557)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/range.py
  pandas/tests/indexes/ranges/test_setops.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, use-pd_array-in-core

DEPR: Deprecate set_closed and add set_incluive (#47636)
  doc/redirects.csv
  doc/source/reference/arrays.rst
  doc/source/reference/indexing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/interval.py
  pandas/core/indexes/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/indexes/interval/test_interval.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

"DOC #45443 edited the documentation of where/mask functions" (#47626)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

CI: flake8-pyi (#47595)
  .pre-commit-config.yaml
  pandas/_libs/index.pyi
  pandas/_libs/interval.pyi
  pandas/_libs/lib.pyi
  pandas/_libs/sparse.pyi
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/nattype.pyi
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/writers.pyi
  setup.cfg
Due: sync-flake8-versions

BUG: boolean indexer with NA raising when reindex is necessary (#47623)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexing.py
  pandas/tests/series/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

CLN: Rename private variables to inclusive (#47655)
  pandas/_libs/interval.pyi
  pandas/_libs/interval.pyx
  pandas/core/arrays/arrow/_arrow_utils.py
  pandas/core/arrays/interval.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/interval.py
  pandas/tests/dtypes/test_dtypes.py
  pandas/tests/indexes/interval/test_constructors.py
Due: use-pd_array-in-core

BUG: Series.str.zfill() behaves differently than str.zfill() from standard library (#47633)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_strings.py
Due: flake8-rst, use-pd_array-in-core

TST: Test aggregate with list values #25581 (#47559)
  pandas/tests/groupby/aggregate/test_aggregate.py
Due: none

Fixed mypy errors in frequencies.py (#47644)
  pandas/tseries/frequencies.py
Due: none

BUG Fix: pd.apply returns a dataframe when empty dataframe instead of a series (#47222)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/apply.py
  pandas/tests/apply/test_frame_apply.py
Due: flake8-rst, use-pd_array-in-core

DOC: fix shared compression_options and decompression_options (#47609)
  pandas/core/generic.py
  pandas/core/shared_docs.py
  pandas/io/parsers/readers.py
  pandas/io/sas/sasreader.py
  pandas/io/stata.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: Fixed pandas capitalization (#47617)
  RELEASE.md
Due: none

BUG: read_excel not forward filling index columns when no names are given (#47496)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_base.py
  pandas/tests/io/data/excel/multiindex_no_index_names.xlsx
  pandas/tests/io/excel/test_openpyxl.py
Due: flake8-rst

Test for nested series equality #22400 (#47627)
  pandas/tests/util/test_assert_series_equal.py
Due: none

ENH: DTI/DTA.astype support non-nano (#47579)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/core/arrays/datetimes.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/tslibs/test_api.py
Due: flake8-rst, use-pd_array-in-core

TST: adding test for multiindex nunique raising not implemnted error (#47638)
  pandas/tests/indexing/multiindex/test_multiindex.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
