Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

BUG: Unstack/pivot raising ValueError on large result (#45084)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/reshape/reshape.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/reshape/test_pivot.py
Due: flake8-rst, use-pd_array-in-core

BUG: __from_arrow__ inconsistent strictness (#44891)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/numeric.py
  pandas/tests/arrays/masked/test_arrow_compat.py
Due: flake8-rst, use-pd_array-in-core

ENH: Implement Index.__invert__ (#45006)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/tests/frame/test_unary.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/multi/test_compat.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/series/test_unary.py
Due: use-pd_array-in-core

DEPR: numeric_only=None in DataFrame.rank (#45059)
  doc/source/whatsnew/v0.18.0.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_rank.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

REGR: DataFrame.shift with periods>len(columns) GH#44978 (#45005)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/managers.py
  pandas/tests/frame/methods/test_shift.py
Due: flake8-rst, use-pd_array-in-core

CLN: follow-ups, whatsnew notes, use tm.get_obj (#44998)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/dtypes/common.py
  pandas/core/indexes/range.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/apply/test_invalid_arg.py
  pandas/tests/frame/indexing/test_mask.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/methods/test_append.py
  pandas/tests/frame/methods/test_asfreq.py
  pandas/tests/frame/methods/test_at_time.py
  pandas/tests/frame/methods/test_between_time.py
  pandas/tests/frame/methods/test_first_and_last.py
  pandas/tests/frame/methods/test_pipe.py
  pandas/tests/frame/methods/test_reorder_levels.py
  pandas/tests/frame/methods/test_replace.py
  pandas/tests/frame/methods/test_sample.py
  pandas/tests/frame/methods/test_to_period.py
  pandas/tests/frame/methods/test_to_timestamp.py
  pandas/tests/frame/methods/test_truncate.py
  pandas/tests/frame/methods/test_tz_convert.py
  pandas/tests/frame/methods/test_tz_localize.py
  pandas/tests/frame/test_repr_info.py
  pandas/tests/generic/test_generic.py
  pandas/tests/indexes/period/test_partial_slicing.py
  pandas/tests/indexing/multiindex/test_setitem.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/test_multilevel.py
Due: flake8-rst, use-pd_array-in-core

CLN: Remove unused db setup_env.sh commands (#45042)
  ci/setup_env.sh
Due: none

DEPR: Series/DataFrame.append (#35407) (#44539)
  doc/source/getting_started/comparison/comparison_with_spreadsheets.rst
  doc/source/user_guide/10min.rst
  doc/source/user_guide/cookbook.rst
  doc/source/user_guide/merging.rst
  doc/source/whatsnew/v0.6.1.rst
  doc/source/whatsnew/v0.7.0.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/core/indexing.py
  pandas/core/reshape/pivot.py
  pandas/core/series.py
  pandas/tests/frame/methods/test_append.py
  pandas/tests/frame/methods/test_drop_duplicates.py
  pandas/tests/generic/test_duplicate_labels.py
  pandas/tests/generic/test_finalize.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexing/test_partial.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/resample/test_time_grouper.py
  pandas/tests/reshape/concat/test_append.py
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/concat/test_categorical.py
  pandas/tests/reshape/concat/test_concat.py
  pandas/tests/reshape/concat/test_index.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/reshape/test_crosstab.py
  pandas/tests/series/accessors/test_dt_accessor.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_append.py
Due: flake8-rst, use-pd_array-in-core

DOC: Fixed links to the contributing pages in the README and replaced the CONTRIBUTING file text with a link to the contributing pages. (#45063)
  .github/CONTRIBUTING.md
  README.md
Due: none

ENH: add render_links for Styler.to_html formatting (#45058)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_html.py
  pandas/tests/io/formats/style/test_to_latex.py
Due: flake8-rst

PERF: Faster SparseArray.__getitem__ for boolean masks (#23122) (#44955)
  asv_bench/benchmarks/sparse.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/extension/test_sparse.py
Due: flake8-rst, use-pd_array-in-core

CI: Remove always true azure posix command (#45043)
  ci/azure/posix.yml
Due: none

PERF/CLN: avoid potential copies in ravel (#45002)
  pandas/_libs/missing.pyi
  pandas/core/dtypes/missing.py
  pandas/core/internals/blocks.py
  pandas/core/nanops.py
  pandas/core/ops/missing.py
Due: use-pd_array-in-core

STYLE: upgrade flake8 to version 4+ (#45053)
  .pre-commit-config.yaml
  environment.yml
  flake8/cython-template.cfg
  flake8/cython.cfg
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

REF: dispatch Series.rank to EA (#45037)
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: version kwargs in build_table_schema (#45074)
  pandas/io/json/_table_schema.py
Due: none

fix mypy typ error (#45068)
  pandas/core/arrays/timedeltas.py
Due: use-pd_array-in-core

fix column_arrays for array manager (#45001)
  pandas/core/internals/array_manager.py
  pandas/tests/io/json/test_json_table_schema_ext_dtype.py
Due: use-pd_array-in-core

DOC: Fixups for whatsnew 1.4 (#45035)
  doc/source/whatsnew/v1.4.0.rst
Due: flake8-rst

BUG: Series[object].fillna ignoring downcast='infer' (#45062)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

TST: Split/parameterize test_frame_apply.py (#45082)
  pandas/tests/apply/test_frame_apply.py
Due: none

DOC: Run doctests for pandas/plotting (#45019)
  ci/code_checks.sh
  pandas/plotting/_core.py
  pandas/plotting/_matplotlib/groupby.py
  pandas/plotting/_misc.py
Due: none

TYP: mostly missing return annotations in IO (#44801)
  pandas/io/clipboards.py
  pandas/io/common.py
  pandas/io/date_converters.py
  pandas/io/html.py
  pandas/io/parquet.py
  pandas/io/pickle.py
Due: none

DEPR/ENH: support axis=None in min/max (#45072)
  pandas/core/arraylike.py
  pandas/core/common.py
  pandas/core/generic.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/window/test_expanding.py
Due: use-pd_array-in-core, no-bool-in-core-generic

Fix Zstandard compression unit test (#45026)
  pandas/tests/io/parser/test_network.py
Due: none

PERF: DataFrame(pytorch_tensor) (#45007)
  asv_bench/benchmarks/frame_ctor.py
  ci/deps/actions-38-db.yaml
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/tests/test_downstream.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series.__getitem__ with CategoricalIndex[ints] listlike inconsistent with scalar (#45023)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/category.py
  pandas/tests/series/indexing/test_getitem.py
Due: flake8-rst, use-pd_array-in-core

CLN: comments, docstrings, depr NaT.freq (#45071)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/_libs/tslibs/nattype.pxd
  pandas/_libs/tslibs/nattype.pyx
  pandas/_testing/__init__.py
  pandas/core/algorithms.py
  pandas/core/arrays/base.py
  pandas/core/arrays/string_arrow.py
  pandas/core/construction.py
  pandas/core/dtypes/base.py
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/core/series.py
  pandas/tests/base/test_misc.py
  pandas/tests/scalar/test_nat.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/util/test_shares_memory.py
  setup.py
Due: flake8-rst, use-pd_array-in-core

TYP: mypy 0.930 and pyright 1.1.200 (#45067)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/source/whatsnew/v1.4.0.rst
  environment.yml
  pandas/compat/chainmap.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/computation/scope.py
  pandas/core/indexes/frozen.py
  pandas/core/reshape/merge.py
  pyproject.toml
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions, use-pd_array-in-core

BUG: iterating on a subset of columns in a GroupBy object (#44821) (#44947)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_indexing.py
  pandas/tests/window/test_base_indexer.py
Due: flake8-rst, use-pd_array-in-core

TST: Parameterize/split series/test_repr.py (#45078)
  pandas/tests/series/test_repr.py
  pandas/tests/series/test_subclass.py
Due: none

CI: Add mambaforge to ci builds (#44967)
  .github/workflows/ci.yml
  .github/workflows/database.yml
  .github/workflows/posix.yml
  ci/deps/actions-39-slow.yaml
  ci/deps/actions-39.yaml
  ci/setup_env.sh
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

BUG: NDArrayBackedExtensionArray.transpose, copy (#44974)
  pandas/_libs/arrays.pyx
  pandas/core/arrays/datetimelike.py
  pandas/tests/extension/base/__init__.py
  pandas/tests/extension/base/dim2.py
  pandas/tests/extension/test_categorical.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/extension/test_period.py
Due: use-pd_array-in-core

Fix issue #36271 - pd.read_json() fails for strings that look similar to fsspec_url (#44619)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/common.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/test_common.py
Due: flake8-rst

TST: More pytest idioms in tests/generic (#45086)
  pandas/_testing/__init__.py
  pandas/_testing/asserters.py
  pandas/tests/generic/test_frame.py
  pandas/tests/generic/test_generic.py
  pandas/tests/generic/test_series.py
Due: none

BUG: df.iloc[ndarray, ndarray] = 2dvals raising with EA column (#44714)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/indexing/test_iloc.py
Due: flake8-rst, use-pd_array-in-core

TST: More pytest.mark.parameterize (#45115)
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/test_libgroupby.py
  pandas/tests/indexes/multi/test_duplicates.py
  pandas/tests/io/pytables/test_append.py
  pandas/tests/io/pytables/test_file_handling.py
Due: none

ENH: to_sql returns rowcount (#45137)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

TST: Mock pivot and pivot_table test for PerformanceWarning (#45112)
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/reshape/test_pivot.py
Due: none
