Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

CI: Fix PyPy CI (#44887)
  .github/workflows/posix.yml
  ci/deps/actions-pypy-38.yaml
  ci/run_tests.sh
Due: none

DOC: update documentation of type annotation (PEP 585) (#44948)
  doc/source/development/contributing_codebase.rst
Due: flake8-rst, title-capitalization

TST: use fixtures for some sql database connections (#42976)
  pandas/tests/io/test_sql.py
Due: none

BUG: doing a class method lookup in __dealloc__ is dangerous (#44879)
  pandas/_libs/parsers.pyx
Due: none

TST: address TODOs/FIXMES/noqas (#44960)
  pandas/__init__.py
  pandas/tests/api/test_api.py
  pandas/tests/internals/test_internals.py
  pandas/tests/io/formats/test_to_html.py
  pandas/tests/io/json/test_json_table_schema.py
  pandas/tests/io/parser/common/test_file_buffer_url.py
  pandas/tests/io/pytables/test_store.py
  pandas/tests/io/test_sql.py
  pandas/tests/reductions/test_stat_reductions.py
  pandas/tests/reshape/concat/test_append_common.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/series/indexing/test_get.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/test_algos.py
Due: none

CLN: tests/window/moments (#44961)
  pandas/tests/window/moments/conftest.py
  pandas/tests/window/moments/test_moments_consistency_ewm.py
  pandas/tests/window/moments/test_moments_consistency_expanding.py
  pandas/tests/window/moments/test_moments_consistency_rolling.py
Due: none

BUG: Inconsistent conversion of missing column names (#44878)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/common.py
  pandas/core/frame.py
  pandas/core/indexes/multi.py
  pandas/io/json/_table_schema.py
  pandas/io/pytables.py
  pandas/io/sql.py
  pandas/tests/frame/methods/test_to_records.py
Due: flake8-rst, use-pd_array-in-core

Typ parts of c parser (#44677)
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
Due: none

TST: Add any_string_dtype parameterization to test (#44938)
  pandas/tests/strings/test_split_partition.py
Due: none

DOC fix typo in describe_option (#44984)
  pandas/_config/config.py
Due: none

Add tests for usecols and index col combinations (#44951)
  pandas/tests/io/parser/usecols/test_usecols_basic.py
Due: none

DEPR: Index.__getitem__[bool] GH#44051 (#44973)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/interval/test_base.py
Due: flake8-rst, use-pd_array-in-core

TST/REF: collect mask tests (#44892)
  pandas/tests/indexes/multi/test_reshape.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/indexing/test_mask.py
  pandas/tests/series/indexing/test_setitem.py
Due: none

PERF: short-circuit allocations in infer_dtype, ensure_datetime64ns (#44971)
  pandas/_libs/lib.pyx
  pandas/_libs/tslibs/conversion.pyx
Due: none

Bug: to_csv coercing datetime columns to same format (#44964)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/io/formats/test_to_csv.py
Due: flake8-rst, use-pd_array-in-core

Group by a categorical Series of unequal length (#44180)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_categorical.py
Due: flake8-rst, use-pd_array-in-core

BUG: 43909 - check monoticity of rolling groupby (#44068)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_timeseries_window.py
Due: flake8-rst, use-pd_array-in-core

ENH: [Draft] Fix issue #35131 Identify zero-dimensional duck arrays as non-iterable (#44626)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
Due: flake8-rst

ENH: Add DataFrameGroupBy.value_counts (#44267)
  doc/source/reference/groupby.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/base.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_allowlist.py
  pandas/tests/groupby/test_frame_value_counts.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

Can't combine DatetimeIndex MultiIndex with numeric MultiIndex (#42143)
  pandas/tests/reshape/concat/test_index.py
Due: none

BUG: PeriodArray.to_timestamp when non-contiguous (#44935)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/indexes/period/methods/test_to_timestamp.py
Due: flake8-rst

BUG: to_csv casting datetimes in categorical to int (#44930)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/categorical.py
  pandas/core/internals/blocks.py
  pandas/tests/arrays/categorical/test_dtypes.py
  pandas/tests/io/formats/test_to_csv.py
  pandas/tests/series/indexing/test_where.py
Due: flake8-rst, use-pd_array-in-core

BUG: read_csv not raising when \n as sep (#44899)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_common_basic.py
Due: flake8-rst

CI: Creating separate job for benchmarks (#44852)
  .github/workflows/ci.yml
Due: none

REF: get regex logic out of Block.replace (#44932)
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Due: use-pd_array-in-core, no-bool-in-core-generic

CLN/TST: parametrize (#44888)
  asv_bench/benchmarks/arithmetic.py
  pandas/compat/pickle_compat.py
  pandas/core/api.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/period.py
  pandas/core/arrays/timedeltas.py
  pandas/core/computation/api.py
  pandas/core/dtypes/api.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/numeric.py
  pandas/core/reshape/api.py
  pandas/errors/__init__.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_period.py
  pandas/tests/arithmetic/test_timedelta64.py
  pandas/tests/internals/test_internals.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/test_common.py
  pandas/tests/tools/test_to_time.py
  pandas/tseries/holiday.py
Due: use-pd_array-in-core

TYP: Upgrade to mypy 0.920 (#44936)
  doc/source/whatsnew/v1.4.0.rst
  environment.yml
  pandas/compat/pickle_compat.py
  pandas/core/base.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/window/rolling.py
  pandas/io/common.py
  pandas/io/parsers/readers.py
  pandas/io/pytables.py
  pandas/plotting/_matplotlib/core.py
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions, use-pd_array-in-core

BUG: convert_dtypes lose columns.names GH#41435 (#44997)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/categorical.py
  pandas/core/generic.py
  pandas/tests/frame/methods/test_convert_dtypes.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

Stop raising in read_csv when header row contains only empty cells (#44657)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_header.py
  pandas/tests/io/test_html.py
Due: flake8-rst

PERF: Improve performance in to_csv with date format for index (#44908)
  asv_bench/benchmarks/io/csv.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/csvs.py
Due: flake8-rst

TST/REF: share shift tests (#44941)
  pandas/_testing/__init__.py
  pandas/_testing/compat.py
  pandas/tests/frame/methods/test_shift.py
  pandas/tests/series/methods/test_shift.py
Due: none

DOC: Fix mistake in code example (#44954)
  doc/source/user_guide/timeseries.rst
Due: flake8-rst

DEPR: ‘names’ param in Index.copy (#44916)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/test_base.py
Due: flake8-rst, use-pd_array-in-core

CI: Avoid flaky hypothesis test with deadline=None (#44969)
  pandas/_testing/_hypothesis.py
  pandas/tests/frame/indexing/test_where.py
Due: none

PERF: Performance improvement in to_csv with unused levels in multiindex (#44943)
  asv_bench/benchmarks/io/csv.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/csvs.py
Due: flake8-rst

FIX BUG: Timestamp __add__/__sub__ DateOffset with nanoseconds lost. (#43968)
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/tseries/offsets/test_offsets.py
Due: flake8-rst

BUG: np.divmod with Sparse (#44906)
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/series/test_ufunc.py
Due: use-pd_array-in-core

Bug: names of multiindex columns not set correctly when index col is not first column (#44931)
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_index_col.py
Due: flake8-rst

CI: skip segfault tests for array manager (#44999)
  pandas/tests/io/json/test_json_table_schema_ext_dtype.py
Due: none

CI: Install more packages from conda-forge (#44817)
  ci/deps/actions-38-db.yaml
  ci/deps/actions-38-locale.yaml
  ci/deps/actions-39-slow.yaml
  ci/deps/actions-39.yaml
  ci/deps/azure-macos-38.yaml
  ci/deps/azure-windows-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions
