Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

TYP: Fix io stata type ignores (#46449)
  pandas/io/stata.py
Due: none

DEPR: Timedelta.delta (#46476)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: flake8-rst

Add Joyful pandas to tutorials.rst (#46523)
  doc/source/getting_started/tutorials.rst
Due: flake8-rst

update test suite output in installation guide (#46510)
  doc/source/getting_started/install.rst
Due: flake8-rst

TYP: fix mid and length for Interval and Intervalarray (#46472)
  pandas/_libs/interval.pyi
  pandas/core/arrays/interval.py
Due: use-pd_array-in-core

Close FastParquet file even on error (#46556)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Due: flake8-rst

DEPR: Timedelta.freq, Timedelta.is_populated (#46430)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: flake8-rst

TST: Ensure makeCategoricalIndex categories are unique (#46429)
  asv_bench/benchmarks/categoricals.py
  pandas/_testing/__init__.py
  pandas/_testing/_random.py
Due: none

TST: Convert skip -> xfail (#46427)
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/json/test_json.py
  pandas/tests/extension/test_sparse.py
  pandas/tests/indexes/test_common.py
  pandas/tests/io/excel/test_writers.py
  pandas/tests/io/formats/test_info.py
Due: none

BUG: tz_localize(UTC) not making a copy (#46460)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/indexes/datetimes/test_timezones.py
  pandas/tests/tslibs/test_conversion.py
Due: flake8-rst, use-pd_array-in-core

REF: Move value_counts, take, factorize to ArrowExtensionArray (#46453)
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/string_arrow.py
Due: use-pd_array-in-core

CI/TYP: require mypy error-codes in ignore comments (#46424)
  pandas/_libs/tslibs/timestamps.pyi
  pyproject.toml
Due: none

STYLE: fix PDF026 issues (#46529)
  .pre-commit-config.yaml
  environment.yml
  pandas/core/frame.py
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions, use-pd_array-in-core

TYP: drop (#46423)
  pandas/_typing.py
  pandas/core/common.py
  pandas/core/dtypes/astype.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
  pandas/io/json/_normalize.py
  pandas/plotting/_matplotlib/misc.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: url regex in `style_render` does not pass colon and other valid (#46457)
  doc/source/whatsnew/v1.4.2.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_html.py
Due: flake8-rst

CI: Remove grep from asv call (using strict parameter instead) (#46633)
  .github/workflows/code-checks.yml
Due: none

Remove references to previously-vendored Sphinx extensions (#46624)
  LICENSES/OTHER
  doc/sphinxext/README.rst
Due: flake8-rst

CI/DOC: pin pydata-sphinx-theme to 0.8.0 (#46663)
  environment.yml
  requirements-dev.txt
Due: pip-to-conda, sync-flake8-versions

TST: add validation checks on levels keyword from pd.concat (#46654)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/reshape/concat.py
  pandas/tests/reshape/concat/test_index.py
Due: flake8-rst, use-pd_array-in-core

WEB: Add benchmarks grant write up as a blog post (#46483)
  web/pandas/community/blog/asv-pandas-grant.md
Due: none

BUG: Join ValueError for DataFrame list (#46630)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_join.py
Due: flake8-rst, use-pd_array-in-core

REF: Localizer class to de-duplicate tzconversion code (#46397)
  pandas/_libs/tslibs/vectorized.pyx
Due: none

ENH: support zoneinfo tzinfos (#46425)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/timezones.pxd
  pandas/_libs/tslibs/timezones.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/conftest.py
  pandas/tests/indexes/datetimes/test_constructors.py
Due: flake8-rst

BUG: df.nsmallest get wrong results when NaN in the sorting column (#46656)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/algorithms.py
  pandas/tests/frame/methods/test_nlargest.py
  pandas/tests/series/methods/test_nlargest.py
Due: flake8-rst, use-pd_array-in-core

DOC: Move idxmin/idxmax docstrings to shared docs (#46729)
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/shared_docs.py
Due: use-pd_array-in-core

TST: xfail(strict=False) flaky numexpr test (#46796)
  pandas/tests/computation/test_eval.py
Due: none

ENH: Add numeric_only to frame methods (#46708)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_cov_corr.py
Due: flake8-rst, use-pd_array-in-core

DOC: Fix errors detected by sphinx-lint (#46586)
  .pre-commit-config.yaml
  doc/source/development/contributing_codebase.rst
  doc/source/development/contributing_environment.rst
  doc/source/ecosystem.rst
  doc/source/user_guide/dsintro.rst
  doc/source/user_guide/groupby.rst
  doc/source/user_guide/io.rst
  doc/source/user_guide/timeseries.rst
  doc/source/user_guide/window.rst
  doc/source/whatsnew/v0.15.0.rst
  doc/source/whatsnew/v0.18.1.rst
  doc/source/whatsnew/v0.19.0.rst
  doc/source/whatsnew/v0.21.1.rst
  doc/source/whatsnew/v0.23.0.rst
  doc/source/whatsnew/v0.25.0.rst
  doc/source/whatsnew/v0.7.0.rst
  doc/source/whatsnew/v0.9.1.rst
  doc/source/whatsnew/v1.0.0.rst
  doc/source/whatsnew/v1.1.0.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/test_clipboard.py
Due: flake8-rst, sync-flake8-versions, title-capitalization, use-pd_array-in-core

TST: Added test for frequency retention in categorical constructor (#46779)
  pandas/tests/arrays/categorical/test_constructors.py
Due: none

DOC/CLN: pd.test (#46714)
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  pandas/compat/_optional.py
  pandas/util/_tester.py
Due: none

BUG: Add dropna to Grouper repr (#46754)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/grouper.py
  pandas/core/resample.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/resample/test_time_grouper.py
Due: flake8-rst, use-pd_array-in-core

DOC: indicate that `month_name` and `day_name` also applies to Series (#46697)
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

DOC: removed .value_counts() and .nunique() from the docs for 'table methods available only for SeriesGroupBy' objects. GH46670 (#46701)
  doc/source/reference/groupby.rst
Due: flake8-rst, title-capitalization

Add 'color' and 'size' to arguments (#44856)
  doc/source/whatsnew/v1.5.0.rst
  pandas/plotting/_core.py
  pandas/tests/plotting/frame/test_frame.py
  pandas/tests/plotting/frame/test_frame_color.py
Due: flake8-rst

Fix a few test failures on big-endian systems (#46681)
  pandas/_testing/__init__.py
  pandas/tests/arrays/boolean/test_astype.py
  pandas/tests/arrays/boolean/test_construction.py
  pandas/tests/arrays/floating/test_to_numpy.py
  pandas/tests/arrays/integer/test_dtypes.py
  pandas/tests/frame/methods/test_to_records.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/tools/test_to_timedelta.py
Due: none

DEPR: mad (#46707)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/test_allowlist.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_groupby_subclass.py
  pandas/tests/groupby/transform/test_transform.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

fix-ci-isocalendar (#46690)
  pandas/core/arrays/datetimes.py
  pandas/core/indexes/accessors.py
Due: use-pd_array-in-core

REF: de-duplicate cython funcs (#46735)
  pandas/_libs/algos.pxd
  pandas/_libs/algos.pyx
  pandas/_libs/groupby.pyx
Due: none

CI/TST: Make test_vector_resize more deterministic (#46602)
  pandas/tests/libs/test_hashtable.py
Due: none

DOC: .bfill() (#46631) (#46642)
  doc/source/user_guide/cookbook.rst
Due: flake8-rst
