Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

TST: GH32822 data types in frame manip (#46836)
  pandas/tests/frame/test_arithmetic.py
Due: none

BUG: PeriodArray.__add__(array_of_ints) (#47209)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimelike.py
  pandas/tests/arithmetic/test_period.py
Due: flake8-rst, use-pd_array-in-core

CLN: ensure clean up styler tests (#47135)
  pandas/tests/io/formats/style/test_style.py
Due: none

TYP: resolve mypy ignores in core/apply.py (#47066)
  pandas/core/apply.py
Due: use-pd_array-in-core

REF: delta_to_nanoseconds handle non-nano (#47191)
  pandas/_libs/tslibs/offsets.pyi
  pandas/_libs/tslibs/offsets.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timedeltas.pxd
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/tests/scalar/timedelta/test_arithmetic.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/scalar/timestamp/test_arithmetic.py
  pandas/tests/tools/test_to_datetime.py
Due: use-pd_array-in-core

REGR: index_col False and header=None inferring index names in some cases (#47139)
  doc/source/whatsnew/v1.4.3.rst
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/test_python_parser_only.py
Due: flake8-rst

infer_freq handle non-nano (#47126)
  pandas/_libs/tslibs/__init__.py
  pandas/_libs/tslibs/dtypes.pxd
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/fields.pyx
  pandas/core/arrays/datetimelike.py
  pandas/tests/tseries/frequencies/test_inference.py
  pandas/tests/tslibs/test_api.py
  pandas/tseries/frequencies.py
Due: use-pd_array-in-core

Add absolute value to head() and tail() docstrings for negative values of n (#47195)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

DOC: Improve .at indexer API docs (#46734)
  pandas/core/indexing.py
Due: use-pd_array-in-core

API/TST: add tests for new copy/view behaviour (#46979)
  pandas/tests/copy_view/__init__.py
  pandas/tests/copy_view/test_indexing.py
  pandas/tests/copy_view/test_methods.py
  pandas/tests/copy_view/util.py
Due: none

DOC: Add to docs on group_keys in groupby.apply (#47185)
  pandas/core/groupby/groupby.py
  pandas/core/shared_docs.py
Due: use-pd_array-in-core

TYP: NDFrame.min/max mypy workaround (#47197)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

ENH: Move SettingWithCopyWarning to error/__init__.py per GH27656 (#47198)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/common.py
  pandas/core/generic.py
  pandas/errors/__init__.py
  pandas/tests/copy_view/test_indexing.py
  pandas/tests/indexing/test_chaining_and_caching.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

BUG: Period + np.timedelta64(nat) (#47196)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
Due: flake8-rst

BUG: read_csv adding additional columns as integers instead of strings (#47137)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/parsers.pyx
  pandas/tests/io/parser/usecols/test_usecols_basic.py
Due: flake8-rst

[CLN] call __finalize__ in quantile (#47183)
  pandas/core/frame.py
  pandas/tests/generic/test_finalize.py
Due: use-pd_array-in-core

REF: avoid ravel in DTA._add_offset (#47200)
  pandas/_libs/tslibs/offsets.pyx
  pandas/core/arrays/datetimes.py
Due: use-pd_array-in-core

DEPS: drop np 18 supoort (#47226)
  ci/deps/actions-38-minimum_versions.yaml
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v1.5.0.rst
  environment.yml
  pandas/compat/__init__.py
  pandas/compat/numpy/__init__.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/series/test_constructors.py
  requirements-dev.txt
Due: flake8-rst, pip-to-conda, sync-flake8-versions

Add setup-conda action (#46611)
  .circleci/config.yml
  .circleci/setup_env.sh
  .github/actions/setup-conda/action.yml
  .github/actions/setup/action.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/macos-windows.yml
  setup.py
Due: none

ENH: DatetimeTZDtype support non-nano (#47120)
  pandas/_libs/tslibs/dtypes.pyi
  pandas/_libs/tslibs/dtypes.pyx
  pandas/core/dtypes/dtypes.py
  pandas/tests/dtypes/test_dtypes.py
Due: use-pd_array-in-core

CLN: Share code between _BytesTarFile and _BytesZipFile (#47153)
  pandas/io/common.py
  pandas/tests/io/test_compression.py
Due: none

DEPS: Bump Cython (#47150)
  ci/deps/actions-310.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38-minimum_versions.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/actions-pypy-38.yaml
  ci/deps/circle-38-arm64.yaml
  doc/source/whatsnew/v1.4.3.rst
  environment.yml
  requirements-dev.txt
  setup.py
Due: flake8-rst, pip-to-conda, sync-flake8-versions

ENH: Move SettingWithCopyError to error/__init__.py per GH27656 (#47151)
  doc/source/reference/testing.rst
  doc/source/user_guide/indexing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/common.py
  pandas/core/generic.py
  pandas/errors/__init__.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_xs.py
  pandas/tests/indexing/multiindex/test_chaining_and_caching.py
  pandas/tests/indexing/multiindex/test_setitem.py
  pandas/tests/indexing/test_chaining_and_caching.py
  pandas/tests/series/accessors/test_dt_accessor.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

TST: Re-enable test after Cython upgrade (#47159)
  pandas/tests/io/parser/common/test_common_basic.py
Due: none

BUG: `DataFrame.shift` shows different behavior for `axis=1` when `freq` is specified (#47051)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_shift.py
Due: flake8-rst, use-pd_array-in-core

Bump cython version in asv.conf.json to match environment.yml (#47239)
  asv_bench/asv.conf.json
Due: none

TYP: resolve mypy ingores in core/indexing.py (#47010)
  pandas/core/indexing.py
Due: use-pd_array-in-core

ENH: move SpecificationError to error/__init__.py (#47089)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/apply.py
  pandas/core/base.py
  pandas/core/groupby/generic.py
  pandas/errors/__init__.py
  pandas/tests/apply/test_invalid_arg.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_other.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/test_errors.py
  pandas/tests/window/test_api.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

CLN: Simplify mmap code (#47175)
  pandas/io/common.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/tests/io/test_common.py
Due: none

Fix reading SAS7BDAT files with zero rows (#47116)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/data/zero_rows.sas7bdat
  pandas/tests/io/sas/test_sas7bdat.py
Due: flake8-rst

Fix typo in tz_convert docs (#47131)
  pandas/core/generic.py
Due: use-pd_array-in-core, no-bool-in-core-generic

BUG: Resampler attempts to aggregate the `on` column (#47107)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resample_api.py
  pandas/tests/resample/test_resampler_grouper.py
Due: flake8-rst, use-pd_array-in-core

TYP: annotate two decorators (#47184)
  pandas/core/computation/align.py
  pandas/core/reshape/merge.py
  pandas/util/_decorators.py
Due: use-pd_array-in-core

TYP: read_csv/table (names index_col) (#47124)
  pandas/io/parsers/readers.py
Due: none

DOC/CI: Use more explicit data setup in user guides (#47093)
  doc/data/fx_prices
  doc/data/mindex_ex.csv
  doc/data/test.xls
  doc/source/user_guide/io.rst
  doc/source/user_guide/scale.rst
  doc/source/whatsnew/v0.9.1.rst
  pandas/tests/util/test_show_versions.py
Due: flake8-rst

BUG: do not suppress errors when closing file handles (#47165)
  doc/source/whatsnew/v1.4.3.rst
  pandas/io/common.py
  pandas/tests/io/test_common.py
Due: flake8-rst

Create eval test (#47236)
  pandas/tests/computation/test_eval.py
Due: none

BUG: Fix `set_sticky` background (#47082)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_html.py
Due: flake8-rst

Add note about different series lengths to Series.corr and Series.cov docs (#47145)
  pandas/core/series.py
Due: use-pd_array-in-core

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
