Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$

TST: Allow tm.network to catch urllib.error.URLError (#45723)
  pandas/_testing/_io.py
Due: none

ENH: ExtensionEngine (#45514)
  pandas/_libs/index.pyi
  pandas/_libs/index.pyx
  pandas/core/indexes/base.py
Due: use-pd_array-in-core

TST/CLN: organize SparseArray tests (#45693)
  pandas/tests/arrays/sparse/test_accessor.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/arrays/sparse/test_astype.py
  pandas/tests/arrays/sparse/test_constructors.py
  pandas/tests/arrays/sparse/test_indexing.py
  pandas/tests/arrays/sparse/test_reductions.py
  pandas/tests/arrays/sparse/test_unary.py
Due: none

REGR: Series.fillna(downcast=False) (#45642)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core

PERF: groupby.transform broadcast perf (#45708)
  asv_bench/benchmarks/groupby.py
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/groupby/generic.py
Due: flake8-rst, use-pd_array-in-core

BUG: read csv not breaking lines for warn messages (#45677)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/parsers.pyx
  pandas/tests/io/parser/common/test_read_errors.py
Due: flake8-rst

REGR: check_flags not respected in assert_frame_equal (#45565)
  doc/source/whatsnew/v1.4.1.rst
  pandas/_testing/asserters.py
  pandas/tests/util/test_assert_frame_equal.py
Due: flake8-rst

TST: Use less autouse=True when unecessary (#45688)
  pandas/core/frame.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/test_textreader.py
  pandas/tests/io/sas/test_xport.py
  pandas/tests/io/test_html.py
  pandas/tests/reshape/merge/test_merge_asof.py
Due: use-pd_array-in-core

CI/TST: Skip external s3 bucket test that hangs on min build (#45665)
  pandas/tests/io/xml/test_xml.py
Due: none

CI: Fix actions-310 testing 3.9 instead of 3.10 (#45581)
  ci/deps/actions-310.yaml
  pandas/tests/io/test_fsspec.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_user_agent.py
Due: none

BUG: ser.loc[range] = foo treating key as positional (#45479)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_loc.py
Due: flake8-rst, use-pd_array-in-core

DOC: Improve reshaping.rst (#45612)
  doc/source/user_guide/reshaping.rst
  pandas/core/algorithms.py
  pandas/core/frame.py
  pandas/core/reshape/pivot.py
  pandas/core/reshape/reshape.py
  pandas/core/reshape/tile.py
  pandas/core/series.py
  pandas/core/shared_docs.py
Due: flake8-rst, use-pd_array-in-core

BUG: is_bool_dtype raises AttributeError when checking categorical Series (#45616)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/dtypes/common.py
  pandas/tests/dtypes/test_common.py
Due: flake8-rst, use-pd_array-in-core

DOC CLN: remove unnecessary substitution, due to curly brackets (#45624)
  pandas/io/formats/style.py
Due: none

REF: merge_asof dont use values_for_argsort (#45475)
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge_asof.py
Due: use-pd_array-in-core

Fixes #45506 Catch overflow error when converting to datetime (#45532)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/series/methods/test_compare.py
Due: flake8-rst, use-pd_array-in-core

BLD: remove msvc workaround (#45008)
  pandas/_libs/src/headers/cmath
  pandas/_libs/window/aggregations.pyx
Due: none

TST: Move once-used fixtures to specific files: (#45674)
  pandas/tests/window/conftest.py
  pandas/tests/window/moments/conftest.py
  pandas/tests/window/moments/test_moments_consistency_rolling.py
  pandas/tests/window/test_dtypes.py
  pandas/tests/window/test_groupby.py
  pandas/tests/window/test_numba.py
  pandas/tests/window/test_pairwise.py
  pandas/tests/window/test_rolling.py
  pandas/tests/window/test_timeseries_window.py
  pandas/tests/window/test_win_type.py
Due: none

DOC: Remove obsolete reference to CONTRIBUTING.md generation (#45699)
  doc/source/development/contributing_documentation.rst
Due: flake8-rst, title-capitalization

CLN: suppress distutils warnings, assorted (#45663)
  pandas/core/array_algos/putmask.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/datetimes.py
  pandas/core/internals/blocks.py
  pandas/tests/computation/test_eval.py
  pandas/tests/io/parser/test_unsupported.py
  pandas/util/_test_decorators.py
Due: use-pd_array-in-core

BUG: CategoricalIndex.get_indexer issue with NaNs (#45361) (#45373)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/categorical/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

CI/TST: Call join on server process test (#45628)
  pandas/tests/io/test_user_agent.py
Due: none

TST: Added test for setitem loc using datetime-like str (#45632)
  pandas/tests/indexing/test_loc.py
Due: none

BUG: parse_time_string with np.str_ obj (#45626)
  doc/source/whatsnew/v1.5.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/indexing/test_loc.py
Due: flake8-rst

BUG: NumericArray * td64_array (#45622)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numeric.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arrays/boolean/test_arithmetic.py
  pandas/tests/arrays/boolean/test_logical.py
  pandas/tests/arrays/floating/test_arithmetic.py
  pandas/tests/arrays/integer/test_arithmetic.py
  pandas/tests/arrays/masked/test_arithmetic.py
  pandas/tests/arrays/masked_shared.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/groupby/test_groupby.py
Due: flake8-rst, use-pd_array-in-core

BUG: Series[Interval[int]][1] = np.nan incorrect coercion/raising (#45568)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/interval.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/dtypes.py
  pandas/core/indexes/base.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_convert_dtypes.py
Due: flake8-rst, use-pd_array-in-core

BUG: Index[object].astype(td64) failing to raise with invalid NAs (#45722)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/dtypes/astype.py
  pandas/tests/indexes/object/test_astype.py
Due: flake8-rst, use-pd_array-in-core

BUG: fix __finalize__ xfails (#45721)
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/generic/test_duplicate_labels.py
  pandas/tests/generic/test_finalize.py
Due: use-pd_array-in-core, no-bool-in-core-generic

REF: make Block.delete return a new Block (#45689)
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/internals/test_internals.py
Due: use-pd_array-in-core

CLN: Use pytest -r to show skipped tests instead of print_skipped.py (#45627)
  .github/workflows/assign.yml
  .github/workflows/datamanger.yml
  .github/workflows/docbuild-and-upload.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  ci/azure/posix.yml
  ci/azure/windows.yml
  ci/print_skipped.py
  ci/run_tests.sh
Due: none

BUG: Series[sparse].where losing fill_value (#45691)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Due: flake8-rst, use-pd_array-in-core

Simplify conditional branch in _read function in readers.py (#45696)
  pandas/io/parsers/readers.py
Due: none

REF: astype_intsafe no longer needed (#45728)
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/core/dtypes/astype.py
Due: use-pd_array-in-core

REGR: loc.setitem losing index name when df was empty before (#45623)
  doc/source/whatsnew/v1.4.1.rst
  pandas/core/indexing.py
  pandas/tests/frame/indexing/test_indexing.py
Due: flake8-rst, use-pd_array-in-core

Move dummy coding related functions from reshape/reshape into separate file (#45215)
  pandas/core/reshape/api.py
  pandas/core/reshape/encoding.py
  pandas/core/reshape/reshape.py
Due: use-pd_array-in-core

ENH: reset_index on a MultiIndex with duplicate levels raises a ValueError (#44755)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/series.py
  pandas/tests/frame/methods/test_reset_index.py
  pandas/tests/series/methods/test_reset_index.py
Due: flake8-rst, use-pd_array-in-core

DOC: minor fix to 1.4.1 release notes (#45756)
  doc/source/whatsnew/v1.4.1.rst
Due: flake8-rst

Group by aggregate functions test case (#45763)
  pandas/tests/groupby/test_categorical.py
Due: none

BUG: DataFrame.interpolate failing to return a copy (#45791)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_interpolate.py
Due: flake8-rst, use-pd_array-in-core, no-bool-in-core-generic

DEPR: Series[td64].fillna(incompat) cast instead of raise (#45746)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/internals/blocks.py
  pandas/tests/series/methods/test_fillna.py
Due: flake8-rst, use-pd_array-in-core
