Repository yehoshuadimarsky/pandas: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-rst, pip-to-conda, sync-flake8-versions, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

flake8-rst:
  name: flake8-rst
  description: Run flake8 on code snippets in docstrings or RST files
  language: python
  entry: flake8-rst
  args:
  - --filename=*.rst
  additional_dependencies:
  - flake8-rst==0.7.0
  - flake8==3.7.9

pip-to-conda:
  name: Generate pip dependency from conda
  description: This hook checks if the conda environment.yml and requirements-dev.txt are equal
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

sync-flake8-versions:
  name: Check flake8 version is synced across flake8, yesqa, and environment.yml
  language: python
  entry: python scripts/sync_flake8_versions.py
  pass_filenames: false
  additional_dependencies:
  - pyyaml

title-capitalization:
  name: Validate correct capitalization among titles in documentation
  entry: python scripts/validate_rst_title_capitalization.py
  language: python

use-pd_array-in-core:
  name: Import pandas.array as pd_array in core
  language: python
  entry: python scripts/use_pd_array_in_core.py

no-bool-in-core-generic:
  name: Use bool_t instead of bool in pandas/core/generic.py
  entry: python scripts/no_bool_in_generic.py
  language: python

add test to check type of df column after loc() (#47264)
  pandas/tests/indexing/test_loc.py
Due: none

TYP: Series.quantile (#47304)
  pandas/_typing.py
  pandas/core/common.py
  pandas/core/series.py
  pandas/io/formats/style.py
  pyright_reportGeneralTypeIssues.json
Due: use-pd_array-in-core

ENH: Timestamp.tz_localize support non-nano (#47355)
  pandas/_libs/tslibs/ccalendar.pxd
  pandas/_libs/tslibs/ccalendar.pyx
  pandas/_libs/tslibs/period.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/_libs/tslibs/tzconversion.pyx
  pandas/_libs/tslibs/vectorized.pyx
  pandas/tests/scalar/timestamp/test_timezones.py
  pandas/tests/scalar/timestamp/test_unary_ops.py
Due: none

CI: remove comment-bot (#47416)
  .github/workflows/comment_bot.yml
  doc/source/development/contributing.rst
Due: flake8-rst, title-capitalization

ENH: Move UndefinedVariableError to error/__init__.py per GH27656 (#47338)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/computation/expr.py
  pandas/core/computation/ops.py
  pandas/core/computation/pytables.py
  pandas/core/computation/scope.py
  pandas/errors/__init__.py
  pandas/tests/computation/test_eval.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/test_errors.py
  scripts/pandas_errors_documented.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

ENH: Timestamp.__sub__(datetimelike) support non-nano (#47346)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

CI: Run all code checks even if one fails (#47482)
  .github/workflows/code-checks.yml
Due: none

CI/TST: Don't require length for construct_1d_arraylike_from_scalar cast to float64 (#47393)
  pandas/core/construction.py
  pandas/core/dtypes/cast.py
  pandas/core/reshape/merge.py
Due: use-pd_array-in-core

REGR: Regression in to_csv for ea dtype categorical (#47347)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/methods/test_to_csv.py
Due: flake8-rst, use-pd_array-in-core

TST: GH26650, added new test to validate numpy matmul function with dataframes (#47427)
  pandas/tests/series/test_ufunc.py
Due: none

TYP: Fix typing errors on main (#47469)
  pandas/core/algorithms.py
  pandas/core/array_algos/quantile.py
  pandas/core/arraylike.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/common.py
  pandas/core/exchange/buffer.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/internals/ops.py
  pandas/core/missing.py
  pandas/core/reshape/melt.py
  pandas/core/series.py
  pandas/core/window/rolling.py
  pandas/io/formats/style.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/tests/extension/date/array.py
Due: use-pd_array-in-core

ENH: Move IndexingError to error/__init__.py per GH27656 (#47357)
  doc/source/reference/testing.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/indexing.py
  pandas/errors/__init__.py
  pandas/tests/frame/test_query_eval.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/test_errors.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core

improve period constructor docs (#47321)
  pandas/_libs/tslibs/period.pyx
Due: none

Consistent handling of 0-dim in Timedelta arithmetic methods (#47390)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/indexes/timedeltas/test_indexing.py
  pandas/tests/scalar/timedelta/test_arithmetic.py
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/tslibs/test_timedeltas.py
Due: none

ENH/TST: Add TestBaseDtype tests for ArrowExtensionArray (#47358)
  pandas/core/arrays/arrow/dtype.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

TST: adding a test for bar plot with intervalrange xaxis (#47344)
  pandas/tests/plotting/test_misc.py
Due: none

REGR: MultiIndex.dtypes has regular Index instead of MultiIndex index (#47349)
  doc/source/whatsnew/v1.4.3.rst
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_constructors.py
Due: flake8-rst, use-pd_array-in-core

BUG: read_excel raising uncontrolled IndexError when header references non-existing rows (#47399)
  doc/source/whatsnew/v1.5.0.rst
  pandas/io/excel/_base.py
  pandas/tests/io/data/excel/df_header_oob.xlsx
  pandas/tests/io/excel/test_readers.py
Due: flake8-rst

ENH: get_resolution support non-nano (#47322)
  pandas/_libs/tslibs/vectorized.pyi
  pandas/_libs/tslibs/vectorized.pyx
  pandas/core/arrays/datetimes.py
  pandas/tests/tslibs/test_resolution.py
Due: use-pd_array-in-core

Revert "REF: remove JoinUnit.shape (#43651)" (#47406)
  pandas/core/internals/concat.py
Due: use-pd_array-in-core

Add tests (#47420)
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/indexing/test_loc.py
Due: none

Do not install C sources in binary distributions (#46739)
  setup.cfg
Due: none

TYP: base_parser and readers (#47359)
  pandas/io/common.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/readers.py
  pyright_reportGeneralTypeIssues.json
Due: none

Revert "ENH/TST: Add BaseInterfaceTests tests for ArrowExtensionArray" (#47462)
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/extension/arrow/arrays.py
  pandas/tests/extension/test_arrow.py
Due: use-pd_array-in-core

CI: Pin PYTEST_WORKERS=1 for Windows builds due to memory errors (#47318)
  .github/workflows/macos-windows.yml
Due: none

DEPS: Sync environment.yml with CI dep files (#47287)
  .github/workflows/code-checks.yml
  .github/workflows/ubuntu.yml
  ci/deps/actions-310.yaml
  environment.yml
  pandas/core/algorithms.py
  pandas/core/array_algos/quantile.py
  pandas/core/arraylike.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/cast.py
  pandas/core/dtypes/common.py
  pandas/core/exchange/buffer.py
  pandas/core/frame.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/core/internals/ops.py
  pandas/core/missing.py
  pandas/core/reshape/melt.py
  pandas/core/series.py
  pandas/core/window/rolling.py
  pandas/io/formats/style.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/tests/extension/date/array.py
  requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
Due: pip-to-conda, sync-flake8-versions, use-pd_array-in-core

REF: do masking in checked_add_with_arr (#47396)
  pandas/core/algorithms.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
Due: use-pd_array-in-core

Add run-tests action (#47292)
  .github/actions/run-tests/action.yml
  .github/workflows/macos-windows.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
Due: none

CI: Temporarily build pandas with N_JOBS=1 to avoid flakiness (#47341)
  .github/actions/build_pandas/action.yml
Due: none

ENH: implement Timestamp _as_reso, _as_unit (#47333)
  pandas/_libs/tslibs/timestamps.pxd
  pandas/_libs/tslibs/timestamps.pyi
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

Add test for multi-column dtype assignment (#47323)
  pandas/tests/dtypes/test_dtypes.py
Due: none

ENH: Timestamp +- timedeltalike scalar support non-nano (#47313)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

ENH: Timestamp.replace support non-nano (#47312)
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/np_datetime.pxd
  pandas/_libs/tslibs/np_datetime.pyx
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_unary_ops.py
Due: none

DOC: added example of valid input dict in dfgroupby.aggregate (#47317)
  pandas/core/groupby/generic.py
Due: use-pd_array-in-core

BUG: df.getitem returning copy instead of view for unique column in dup index (#45526)
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_getitem.py
  pandas/tests/indexing/test_chaining_and_caching.py
Due: flake8-rst, use-pd_array-in-core

DOC: Remove unused/flaky statsmodels intersphinx_mapping (#47452)
  doc/source/conf.py
Due: none

ENH: Timestamp.tz_convert support non-nano (#47320)
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_timestamp.py
Due: none

DOC: v1.4.3 release date (#47476)
  doc/source/whatsnew/v1.4.3.rst
Due: flake8-rst

[EHN] pandas.DataFrame.to_orc (#44554)
  doc/source/reference/frame.rst
  doc/source/reference/io.rst
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.5.0.rst
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/io/orc.py
  pandas/tests/io/test_orc.py
Due: flake8-rst, title-capitalization, use-pd_array-in-core, no-bool-in-core-generic

ENH: Timedelta division support non-nano (#47373)
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
Due: none

Path conditions:
  flake8-rst: any of: \.rst$, but not: ^LICENSES/|\.(html|csv|svg)$
  pip-to-conda: any of: ^(environment.yml|requirements-dev.txt)$, but not: ^LICENSES/|\.(html|csv|svg)$
  sync-flake8-versions: any of: ^(\.pre-commit-config\.yaml|environment\.yml)$, but not: ^LICENSES/|\.(html|csv|svg)$
  title-capitalization: any of: ^doc/source/(development|reference)/ and \.rst$ and not (^LICENSES/|\.(html|csv|svg)$)
  use-pd_array-in-core: any of: ^pandas/core/ and \.py$ and not (^pandas/core/api\.py$) and not (^LICENSES/|\.(html|csv|svg)$)
  no-bool-in-core-generic: any of: ^pandas/core/generic\.py$, but not: ^LICENSES/|\.(html|csv|svg)$
